@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}




.navbar-default a{
	color:black;
}

#menu{
	position: absolute;
	background: white;
	top:1px;
	right:1px;
}

.fp-tooltip,.fp-tooltip:hover{
	color:black!important;
}

.panel.question{
	max-width:300px;
	margin:0 auto;
}

.inline-flex{
	
}
.inline-flex .child{
	
}

.fc-day:hover,.fc-day-number:hover{
	cursor:pointer;
}

.shorcuts a{
	color:black;
}
.shorcuts a:hover{
	text-decoration:none;
}

.form{
	max-width: 370px;
}

.border{
	border: 1px solid rgba(0,0,0,.2);
}

.radio{
	    min-width: 50px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    line-height: 42px;
    background: whitesmoke;
}

.passed{
	text-decoration: line-through;
}

#address,#email{
	width: 100%;
}

.timeLabel{
  height: 102px;
}
.label-4{
  width:90px
}

.info{
	background: white;
    color: black;
    font-size: smaller;
    border-bottom: 5px solid;
}
