<div class="row">
    <div class="center-block info">
        <u>
                    <li>
                        States (Current: {{state}})
                    </li>
                    <li>
                        <div>
                           {{model | json}}
                        </div>
                    </li>
                    <li>
                        Nro of questions {{questions}}
                    </li>
                    <li>
                        Question: {{question}}
                    </li>
                     <li>
                        QuestionUnlocked: {{questionUnlocked}}
                    </li>
                    <li>
                        addressLoaded: {{addressLoaded}}
                    </li>
                </u>
    </div>
</div>
