<div class="diags-bg">
    <div class="diags-content container diags-selection padding-none">
        <div class="row diags-bg-block-40 hidden-xs"></div>


        <div class="row diag-row margin-top-two">
            <div class="col-xs-12 col-sm-12 col-md-12 ">
                <div class="row-fluid diags-form-wrapper">
                    <div class="diags-form" ng-controller="ctrl.booking-contact-form">
                        <div class="row">
                            <i class="fa fa-chevron-right fnt-18"><span class="title margin-left-quarter">Contactez-nous</span></i>
                        </div>
                        <div class="row margin-top-quarter">
                            <p class="label"></p>
                        </div>
                        <div class="row margin-top-one">
                            <input type="text" ng-model="_email.fullname" class="diags-input" placeholder="Prénom Nom">
                        </div>
                        <div class="row margin-top-half">
                            <input ng-model="_email.email" type="email" class="diags-input" placeholder="Adresse email">
                        </div>
                        <div class="row margin-top-half">
                            <input ng-model="_email.phone" type="text" class="diags-input" placeholder="Phone Number">
                        </div>
                        <div class="row margin-top-half">
                            <textarea ng-model="_email.message" type="text" class="diags-input fullwidth min-height-100 no-resize" placeholder="Message"></textarea>
                        </div>
                        <div class="row margin-top-one">
                            <button ng-click="validate()" class="btn btn-xl bg-madison">Envoyer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="row diag-row margin-top-three padding-bottom-two">
            <div class="col-md-12 ">
                <div ng-include="'views/booking/partials/booking-diags-icons.html'" includeReplace></div>
            </div>
        </div>
        <div class="row diag-row margin-top-one padding-bottom-two">
            <div class="col-md-12 ">
                <p class="stripe-message"><span class="fnt-30 text-top">*</span> Paiement simplifié et sécurisé (PCI 1, le niveau le plus élevé) avec Stripe</p>
            </div>
        </div>
        <div class="row diags-bg-block-40 hidden-xs"></div>
    </div>
</div>