<div class="container diags-content" ng-controller="ctrl-diag-edit">
    <div class="row diags-form-wrapper margin-top-four margin-bottom-four">
        <div class="col-sm-12 col-md-12">
            <div class="diags-form">
                <div class="row">
                    <i class="fa fa-chevron-right fnt-18"><span class="title margin-left-quarter">Details du compte</span></i>
                </div>
                <div class="row margin-top-one">
                    <input type="text" ng-model="item.firstName" class="diags-input" placeholder="Prénom">
                </div>
                <div class="row margin-top-half">
                    <input type="text" ng-model="item.lastName" class="diags-input" placeholder="Nom">
                </div>
                <div class="row margin-top-half">
                    <input type="email" ng-model="item.email" class="diags-input" placeholder="Adresse email">
                </div>
                <div class="row margin-top-half">
                    <input ng-model="item.password" type="password" class="diags-input" placeholder="Mot de passe">
                </div>
                <div class="row margin-top-half">
                    <input type="text" ng-model="item.cellPhone" class="diags-input" placeholder="Mobile">
                </div>
                <div class="row margin-top-half">

                    <input type="text" class="form-control diags-input" data-address model="item" field="address"
                        city="city"
                        department="department" 
                        region="region" 
                        country="country" 
                        post-code="postCode" 
                        placeholder="Ex: 102 rue Réaumur 75002 Paris, France">
                </div>
                <div class="row margin-top-half">
                    <input type="text" ng-model="item.city" class="diags-input" placeholder="City">
                </div>
                <div class="row margin-top-half">
                    <input type="text" ng-model="item.department" class="diags-input" placeholder="Department">
                </div>
                <div class="row margin-top-half">
                    <input type="text" ng-model="item.region" class="diags-input" placeholder="Region">
                </div>
                <div class="row margin-top-half">
                    <input type="text" ng-model="item.country" class="diags-input" placeholder="Country">
                </div>
                <div class="row margin-top-half">
                    <input type="text" ng-model="item.postCode" class="diags-input" placeholder="Post code">
                </div>
                <div class="row margin-top-half" ng-show="item._id">
                    <ul class="form-tiny center-block">
                        <li>
                            Diplomes
                        </li>
                        <li ng-repeat="(id,d) in diplomesData" class="relative diplome">
                            <!--FILE-->
                            <input id="{{'file_'+id}}" class="form-control hidden" type="file" file-model="diplomesFile[id]" file-model-overwrite="true" ng-disabled="!item._id || state.working()">
                            <div class="inline childs-margin-1">
                                <!--DELETE-->
                                <i ng-show="diplomesExists(id)" ng-click="diplomesDelete(id)" class="fa fa-times file-button"></i>
                                <!--UPLOAD-->
                                <i ng-show="!diplomesExists(id)" class="fa fa-cloud-upload file-button" ng-disabled="!item._id || state.working() || !diplomesFile[id]" ng-click="!diplomesFile[id] || diplomesSave(id)"></i>
                                <!--LABEL-->
                                <label class="link file-label" for="{{'file_'+id}}">{{diplomesLabel(id)}}</label>
                                <!--DOWNLOAD-->
                                <i ng-show="diplomesExists(id)" ng-disabled="!item._id || state.working() || !diplomesExists(id)" ng-click="!diplomesExists(id) || diplomesDownload(id)" class="fa fa-download file-button"></i>
                                <!--ACTIVATE EXPIRATION NOTIFICATION-->
                                <i ng-show="diplomesExists(id) && !diplomesExpirationDateNotificationEnabled(id)" ng-disabled="!item._id || state.working()" class="fa fa-hourglass-start file-button" ng-click="diplomesEnableExpirationDateNotification(id)"></i>
                                <i ng-show="diplomesExists(id)" class="fa fa-question file-button" tooltip-placement="top" uib-tooltip="Files are streamed directly from database. Please, be patient."></i>
                            </div>
                            <div>
                                <p class="input-group diplome-info">
                                    <label>Obtention Date</label>
                                    <input type="text" class="border-sutil link text-center" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="diplomesData[id].info.obtentionDate" is-open="d.obtentionDateOpen" max-date="d.obtentionMaxDate" datepicker-options="d.dateOptions" date-disabled="false"
                                    ng-required="true" close-text="Close" ng-click="d.obtentionDateClick()" />
                                </p>
                                <p class="input-group diplome-info" ng-if="userIs(['admin'])">
                                    <label>Expiration Date</label>
                                    <input type="text" class="border-sutil link text-center" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="diplomesData[id].info.expirationDate" is-open="d.expirationDateOpen" min-date="d.expirationMinDate" datepicker-options="d.dateOptions" date-disabled="false"
                                    ng-required="true" close-text="Close" ng-click="d.expirationDateClick()" ng-change="diplomesExpirationDateChange(id)" />
                                </p>
                            </div>
                        </li>
                        <li>
                            <button ng-disabled="!item._id || state.working()" ng-click="!item._id || diplomesNew()" class="btn diags-btn bg-azure-radiance file-button">Add</button>
                            <hr/>
                        </li>
                    </ul>
                </div>
                <div class="row margin-top-one">
                    <button ng-disabled="sendingRequest" class="btn  diag-btn-main" ng-click="validate()" ng-bind="inscriptionLabel.val"></button>
                </div>
            </div>

        </div>
    </div>
</div>
