<div class="row">
    <div class="col-sm-12 padding-none">
        <ol class="breadcrumb">
            <li><a class="link" ng-click="route('settings')">Settings</a></li>
            <li><a class="link" ng-click="route('logs')">Server Log</a></li>
            <li>Log Details</li>
        </ol>
    </div>
</div>
<div class="container" ng-controller="logEdit">
    <modal-confirm open="confirm"></modal-confirm>
    <div class="row">
        <div class="col-sm-8">
            <ul class="form-tiny labelx2 center-block">
                <li>
                    <label>Message</label>
                    <textarea ng-disabled="true" type="text" class="fullwidth min-height-100 no-resize" ng-model="item.message"></textarea>
                </li>
                <li>
                    <label>Created</label>
                    {{item.created && momentDateTime(item.created) || ''}}
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button ng-disabled="state.working()" class="btn btn-default" ng-click="validate()">Save</button>
            <button ng-disabled="state.working()" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button ng-disabled="state.working()" class="btn btn-default" ng-click="delete()">Delete</button>
        </div>
    </div>
</div>