<div class="row margin-top-one" ng-show="item._id">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row margin-top-one">
            <label class="unselectable">Description</label>
        </div>
        <div class="row margin-top-quarter">
            <input class="diags-input minimal fullwidth" ng-disabled="true" ng-value="item.info.description">
        </div>
    </div>
</div>
<div class="row margin-top-one">
    <div class="col-xs-12 col-sm-12 col-md-6">

        <div class="row margin-top-one">
            <label class="unselectable">Diagnostiqueur</label>
        </div>
        <div class="row margin-top-quarter">
            <input ng-disabled="true" ng-value="item._diag.email" class="diags-input" placeholder="Diag Man">
        </div>
        <div class="row margin-top-half">
            <label class="unselectable">Adresse</label>
        </div>
        <div class="row margin-top-quarter">
            <input ng-disabled="true" class="diags-input" ng-value="item.address" placeholder="Adresse">
        </div>

        <div class="row margin-top-half">
            <label class="unselectable">Liste diags</label>
        </div>
        <div class="row margin-top-quarter">
            <table class="table table-striped table-condensed unselectable">
                <tr ng-repeat="(k,o) in item.diags" class="unselectable" ng-show="o">
                    <td ng-bind="diagNameConvertion(k)"></td>
                </tr>
            </table>
        </div>
        <div class="row margin-top-half">
            <label class="unselectable">Date du diagnostic</label>
        </div>
        <div class="row margin-top-quarter">
            <input ng-disabled="true" class="diags-input" ng-value="momentDateTime(item.start)" placeholder="Adresse">
        </div>
        <div class="row margin-top-half">
            <label class="unselectable">Remise des clés</label>
        </div>
        <div class="row margin-top-quarter">
            <input ng-disabled="true" class="diags-input" ng-value="item.keysAddress" placeholder="Adresse">
        </div>
        <div class="row margin-top-quarter">
            <input ng-disabled="true" class="diags-input" ng-value="momentFormat(item.keysTimeFrom,'HH[h]mm')" placeholder="Adresse">
        </div>
        <div class="row margin-top-quarter">
            <input ng-disabled="true" class="diags-input" ng-value="momentFormat(item.keysTimeTo,'HH[h]mm')" placeholder="Adresse">
        </div>





    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 ">


        <div class="row margin-top-half">
            <label class="unselectable">Propriétaire</label>
        </div>
        <div class="row margin-top-quarter">
            <input ng-disabled="true" class="diags-input" ng-value="item.landLordFullName" placeholder="Propriétaire">
        </div>
        <div class="row margin-top-quarter">
            <input ng-disabled="true" class="diags-input" ng-value="item.landLordEmail" placeholder="Propriétaire Email">
        </div>
        <div class="row margin-top-half">
            <label class="unselectable">Observations</label>
        </div>
        <div class="row margin-top-quarter">
            <textarea ng-disabled="state.working()"  class="diags-input fullwidth min-height-100 no-resize" ng-model="item.obs"></textarea>
        </div>
        <div class="row margin-top-half">
            <label class="unselectable">Les diagnostics en PDF: {{(pdfFileInfo && "("+pdfFileInfo.filename+")")||"(Non disponible)"}}</label>
        </div>
        <div class="row margin-top-quarter">
            <button ng-disabled="!item.pdfId" class="margin-top-quarter btn diags-btn bg-azure-radiance" ng-click="downloadFile()">Télécharger</button>
            <i class="fa fa-question" tooltip-placement="top" uib-tooltip="Files are streamed directly from database. Please, be patient."></i>
        </div>


    </div>
</div>
<div class="row margin-top-one">
    <div class="col-sm-12">
        <div class="row margin-top-half">
            <label class="unselectable">Prix TTC</label>
        </div>
        <div class="row margin-top-quarter">
            <input ng-disabled="true" type="text" class="diags-input" ng-value="item.price">
        </div>
        <div class="row margin-top-half">
            <label class="unselectable">Statut</label>
        </div>
        <div class="row margin-top-quarter">
            <input ng-disabled="true" type="text" class="diags-input" ng-value="item.status">
        </div>
    </div>
</div>
<div class="row margin-top-one">
    <div class="col-sm-12">
        <button ng-click="validate()" class="btn diags-btn bg-madison">Enregistrer</button>
        <button 
        ng-show="item._id && item.status!=='prepaid' && item.status !=='completed'"
        ng-disabled="state.working()" 
        class="btn btn-success" ng-click="pay()">Pay now</button>
    </div>
</div>