<div class="container-fluid backoffice-wrapper">
    <div class="container" ng-controller="adminUsersEdit" ng-init="item.userType='client'">
        <div class="row">
            <div class="col-sm-12 padding-none">
                <ol class="breadcrumb">
                    <li><a class="link" ng-click="route('dashboard')">Tableau de bord</a></li>
                    <li ng-if="userIs('admin')"><a class="link" ng-click="route('clients')">Clients</a></li>
                    <li ng-if="userIs('admin')">Client Details</li>

                    <li ng-if="userIs('client')">Mon profil</li>

                </ol>
            </div>
        </div>
        <form class="row diags-row margin-bottom-two" autocomplete="off">
            <div class="col-sm-12 col-md-4">
                <div class="row margin-top-one">
                    <label>Adresse email</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="state.working() || item._id" ng-model="item.email" class="diags-input" placeholder="Adresse email">
                </div>
                <div class="row margin-top-one">
                    <label>Mot de passe</label>
                </div>
                <div class="row  margin-top-half">
                    <input type="password" autocomplete="off" ng-disabled="state.working()" ng-model="item.password" class="diags-input" placeholder="mot de passe">
                </div>
                <div class="row  margin-top-half" ng-show="showGuessAccountAlert()">
                    <div class="alert alert-info form-alert" ng-show="showIfGuessAccount()">
                        Fill password field to convert this account into a normal account.
                    </div>
                    <div class="alert alert-info form-alert" ng-show="!showIfGuessAccount()">
                        Leave the password field blank to convert this account into a guess account.
                    </div>
                </div>
                <div class="row margin-top-one" ng-show="showInputFirstName()">
                    <label>Prénom</label>
                </div>
                <div class="row  margin-top-half" ng-show="showInputFirstName()">
                    <input ng-disabled="state.working()" ng-model="item.firstName" class="diags-input" placeholder="prénom">
                </div>
                <div class="row margin-top-one">
                    <label>Nom</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="state.working()" ng-model="item.lastName" class="diags-input" placeholder="nom">
                </div>
                <!--
                <div class="row margin-top-one" ng-show="item.clientType !== 'landlord'">
                    <label>Raison sociale</label>
                </div>
                <div class="row  margin-top-half" ng-show="item.clientType !== 'landlord'">
                    <input ng-disabled="state.working()" ng-model="item.companyName" class="diags-input" placeholder="Raison sociale">
                </div>
                -->
                <div class="row margin-top-one">
                    <label>Téléphone fixe</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="state.working()" ng-model="item.fixedTel" class="diags-input" placeholder="Téléphone fixe">
                </div>
                <div class="row margin-top-one">
                    <label>Mobile</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="state.working()" ng-model="item.cellPhone" class="diags-input" placeholder="Mobile">
                </div>

                <div class="row margin-top-one">
                    <label>Wallet ID</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="true" ng-value="item.wallet" class="diags-input" placeholder="(Sans wallet)">
                </div>
                <div class="row margin-top-quarter" ng-show="userIs('admin')">
                    <button ng-click="createWallet()" ng-disabled="state.working()" class="btn diags-btn bg-azure-radiance">Link wallet</button>
                </div>

            </div>
            <div class="col-sm-12 col-md-8">
                <div class="row margin-top-one">
                    <label>Adresse</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="state.working()" type="text" data-address model="item" field="address" placeholder="{[{addressPlaceholder()}]}" city="city" department="department" region="region" country="country" post-code="postCode" class="diags-input fullwidth max-w-500">
                </div>
                <div class="row margin-top-one">
                    <label>Ville</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="state.working()" ng-model="item.city" class="diags-input" placeholder="Ville">
                </div>
                <div class="row margin-top-one">
                    <label>Department</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="state.working()" ng-model="item.department" class="diags-input" placeholder="Department">
                </div>
                <div class="row margin-top-one">
                    <label>Région</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="state.working()" ng-model="item.region" class="diags-input" placeholder="Région">
                </div>
                <div class="row margin-top-one">
                    <label>Pays</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="state.working()" ng-model="item.country" class="diags-input" placeholder="Pays">
                </div>

                <div class="row margin-top-one" ng-show="showInputCompayName()">
                    <label>Raison sociale</label>
                </div>
                <div class="row  margin-top-half" ng-show="showInputCompayName()">
                    <input ng-disabled="state.working()" ng-model="item.companyName" class="diags-input" placeholder="Raison sociale">
                </div>

                <div class="row margin-top-one" ng-show="showInputSiret()">
                    <label>Siret</label>
                </div>
                <div class="row  margin-top-half" ng-show="showInputSiret()">
                    <input ng-disabled="state.working()" ng-model="item.siret" class="diags-input" placeholder="Siret">
                </div>
                <div class="row margin-top-one">
                    <label>Discount %</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="state.working()  || !userIs('admin')" ng-model="item.discount" class="diags-input" placeholder="Discount">
                </div>

                <div class="row margin-top-one" ng-show="userIs('admin')">
                    <label>Type</label>
                </div>
                <div class="row  margin-top-half" ng-show="userIs('admin')">
                    <select ng-disabled="state.working() || !userIs('admin')" ng-model="item.clientType" class="max-w-150 diags-input">
                    <option value='landlord'>LandLord</option>
                    <option value='agency'>Agency</option>
                    <option value='enterprise'>Enterprise</option>
                    <option value='other'>Other</option>
                    <!--agency', 'enterprise', 'landlord', 'other'-->
                </select>
                </div>

                <div class="row margin-top-one" ng-show="userIs('admin')">
                    <label>Moral authority</label>
                </div>
                <div class="row  margin-top-half" ng-show="isClientLandlord()">
                    <select ng-disabled="state.working() || !isClientLandlord()" ng-model="item.legalStatus" class="max-w-150 diags-input">
                    <option value='0'>Personne morale </option>
                    <option value='2'>Personne physique</option>
                    <option value='1'>Indivision, succession</option>
                </select>
                </div>



            </div>
        </form>
        <div class="row diags-row margin-bottom-two">
            <coupons-table user-id="item._id"></coupons-table>
        </div>
        <div class="row diags-row margin-bottom-two">
            <div class="col-sm-12">
                <button ng-disabled="state.working()" class="btn diags-btn bg-azure-radiance" ng-click="validate()">Enregistrer</button>
                <button ng-disabled="state.working()" class="btn diags-btn bg-azure-radiance" ng-click="cancel()">Annuler</button>
                <button ng-show="userIs('admin')" ng-disabled="state.working()" class="btn diags-btn bg-azure-radiance" ng-click="delete()">Supprimer</button>
            </div>
        </div>
    </div>
</div>
