<div class="panel center-block question panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Booking: Payment</h4>
    </div>
    <div class="panel-body size-medium">
        <div ng-show="!booking.payment.delegate">
            <ul class="form-tiny center-block">
                <li>
                    <label>Address</label>
                    <input type="text" disabled ng-value="model.address">
                </li>
                <li>
                    <label>Date</label>
                    <input type="text" disabled ng-value="getDate().date">
                </li>
                <li>
                    <label>Time Start</label>
                    <input type="text" disabled ng-value="getDate().start">
                </li>
                <li>
                    <label>Time End</label>
                    <input type="text" disabled ng-value="getDate().end">
                </li>
                <li>
                    <label>Total</label>
                    <input type="text" disabled ng-value="totalPrice(true)">
                </li>
            </ul>
            <div class="v-margin-2">
                <button ng-disabled="state.working() || !_orderSAVED || landlord.emailsended" class="btn btn-primary" ng-click="payNOW()">Pay now</button>
                <out ng-show="model.clientType == 'agency'">
                    or
                    <button ng-disabled="state.working() || landlord.emailsended" class="btn btn-primary"
        ng-click="booking.payment.delegate=!booking.payment.delegate"
                    >Delegate to Landlord</button>
                </out>
            </div>
        </div>
        <div ng-show="booking.payment.delegate">
            <ul class="form-tiny center-block">
                <li>
                    <label>Name</label>
                    <input type="text" ng-model="landlord.name" placeholder="Landlord Fullname">
                </li>
                <li>
                    <label>Email</label>
                    <input type="email" ng-model="landlord.email" placeholder="Landlord Email">
                </li>
            </ul>
            <div class="v-margin-2">
                <button ng-disabled="state.working() || !_orderSAVED || landlord.emailsended" class="btn btn-primary" ng-click="sendPaymentLink()">Send email</button>
            </div>
        </div>
    </div>
</div>
