<ul class="form-tiny center-block">
    <li>
        <label>Email</label>
        <input type="email" ng-model="_user.email" placeholder="Email">
    </li>
    <li>
        <label>Password</label>
        <input type="password" ng-model="_user.password" placeholder="Password">
    </li>
    <li>
        <label>First name</label>
        <input type="text" ng-model="_user.firstName" placeholder="First Name">
    </li>
    <li>
        <label>Last name</label>
        <input type="text" ng-model="_user.lastName" placeholder="Last Name">
    </li>
    <li ng-show="_user.clientType == 'agency'">
        <label>Company Name</label>
        <input type="text" ng-model="_user.companyName" placeholder="Company Name">
    </li>
    <li>
        <label>Fixed Phone</label>
        <input type="text" ng-model="_user.fixedTel" placeholder="Fixed phone">
    </li>
    <li>
        <label>Cell Phone</label>
        <input type="text" ng-model="_user.cellPhone" placeholder="CellPhone">
    </li>
    <li>
        <label>Street Address</label>
        <input type="text" data-address model="_user" field="address"placeholder="Street Address"
        city="city" 
        department="department" 
        region="region" 
        country="country" 
        post-code="postCode" 
        class="fullwidth max-w-500"
        >
    </li>
    <li>
        <label>City</label>
        <input type="text" disabled ng-model="_user.city">
    </li>
    <li>
        <label>Department</label>
        <input type="text" disabled ng-model="_user.department">
    </li>
    <li>
        <label>Region</label>
        <input type="text" disabled ng-model="_user.region">
    </li>
    <li>
        <label>Country</label>
        <input type="text" disabled ng-model="_user.country">
    </li>
    <li>
        <label>Post Code</label>
        <input type="text" disabled ng-model="_user.postCode">
    </li>
</ul>

<div class="center-block text-center v-margin-2 alert alert-info" ng-show="booking.order.taken">
    An order with the same address and time is taken by another client. You can't proceed until you change order time or address.
</div>
<div class="center-block text-center v-margin-2">
    <button
    ng-show="!booking.order.taken"
     ng-disabled="state.working()" class="btn btn-primary" ng-click="subscribeConfirm()">Continue</button>
     <button
    ng-show="booking.order.taken"
     ng-disabled="state.working()" class="btn btn-primary" ng-click="moveTo('question5')">Back to Booking Questions</button>
</div>
