<div class="panel center-block question panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Electricity Installation</h4>
    </div>
    <div class="panel-body">
        <div ng-repeat="(key,val) in gasInstallation" class="input-group">
            <span class="input-group-addon borderless no-bg">
                <input type="radio" class="" ng-model="model.electricityInstallation" value="{{val}}" ng-click="down()">
            </span>
            <input type="text" disabled class="check-label" value="{{key}}" aria-label="...">
        </div>
    </div>
    <div class="panel-footer">
            <button class="btn btn-success center-block text-center" ng-click="down()"
ng-disabled="model.electricityInstallation === undefined"
            > Continue </button>
    </div>
</div>
