<div class="panel center-block question panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Confirm your order</h4>
    </div>
    <div class="panel-body size-medium"
    ng-show="!validModel()"
    >
        <ul>
            <li ng-show="!model.diagStart"><h5>Order Time required.</h5></li>
            <li ng-show="model.address!==''"><h5>Order Address required.</h5></li>
        </ul>
    </div>
    <div class="panel-body size-medium"
    ng-show="validModel()"
    >
        <div class="spacing-1">
            <h4>
            Total price: 
            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
			{{totalPrice()}}
			</h4>
			<h4>Estimated time: {{totalTime.formatted()}}</h4>
        </div>
        <div class="spacing-1">
            <input id="email" type="email" ng-model="model.email" placeholder="Write your email">
        </div>
        <div class="spacing-1">
            <label>We will send you an email with detailed information about billing and access to your order. You will be able to see information about the inspector that is going to visit you.</label>
        </div>
    </div>
    <div class="panel-footer">
        <button ng-show="!validModel()" class="center-block btn btn-info spacing-1" ng-click="up()">Back</button>

        <button 
        ng-show="validModel()"
        ng-disabled="!model.email || sendingEmail || !validModel()" class="btn btn-primary btn-lg" ng-click="confirm()">Confirm</button>
    </div>
</div>
<output data-message></output>
