<div class="panel center-block question panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Sell or rent</h4>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon no-bg borderless">
                <input type="radio" ng-model="model.sell" ng-value="true" ng-click="downn()">
            </span>
            <input type="text" disabled class="check-label" value="You sell" aria-label="...">
        </div>
        <div class="input-group">
            <span class="input-group-addon no-bg borderless">
                <input type="radio" ng-value="false" ng-model="model.sell" ng-click="downn()">
            </span>
            <input type="text" disabled class="check-label" value="You rent" aria-label="...">
        </div>
    </div>
    <div class="panel-footer">
<button class="btn btn-success center-block text-center" ng-click="down()"> Continue </button>
    </div>
</div>
