<div class="row well well-sm" ng-if="userIs(['client']) && session().clientType=='agency'">
    <div class="col-sm-4">
        <div class="form-group">
            <label class="min-width-120">LandLord</label>
        </div>
        <div class="form-group">
            <input type="email" placeholder="email">
        </div>
        <div class="form-group">
            <input type="text" placeholder="phone">
        </div>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-default btn-sm">Send payment details.</button>
    </div>
</div>
