<div>
    <div class="table-reponsive unselectable">
        <table class="table">
            <caption ng-show="caption">{{caption}}</caption>
            <thead>
                <tr>
                    <th ng-if="model.remove"></th>
                    <th ng-repeat="c in columns">{{c.label||c}}</th>
                </tr>
            </thead>
            <!--ng-click="!hasMouse && console.log(hasMouse)"-->
            <tbody>
                
                <tr ng-repeat="(key,item) in items" 

                ng-click="(!hasMouse && click(item,$index))"
                ng-dblclick="(hasMouse && click(item,$index))"

                >
                    <td ng-if="model.remove" ng-click="model.remove(item,$index)" class="link">
                        <i class="fa fa-times"></i>
                    </td>
                    
                    <td  ng-repeat="c in columns" 
                        ng-class="{link:true,'text-left':c.align==='left','text-right':c.align==='right','text-center':c.align==='center'}"
                     >
                        <out ng-if="!c.format" html-content html="item[c.name||c]"></out>
                        <out ng-if="c.format">
                            {{c.format(item[c.name||c]);}}
                        </out>
                     </td>

                </tr>
            </tbody>
            <tfoot ng-if="model.tfoot" ng-include="model.tfoot">
            </tfoot>
        </table>
    </div>
    <div ng-if="buttons">
        <button ng-repeat="(k,v) in buttons" ng-if="v.show==undefined || v.show==true" ng-class="v.type()||''" ng-click="v.click()">{{v.label}}</button>
        <out ng-if="model.buttonsTpl" ng-include="model.buttonsTpl" include-replace></out>
        <i class="fa fa-question" tooltip-placement="top" uib-tooltip="Double click on a row to edit"></i>
    </div>
</div>
