<div class="panel center-block question panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Date permis de construire</h4>
    </div>
    <div class="panel-body">
        <div ng-repeat="(key,val) in constructionPermissionDate" class="input-group">
            <span class="input-group-addon">
                <input type="radio" ng-model="model.constructionPermissionDate" value="{{val}}" ng-click="down()">
            </span>
            <input type="text" disabled class="form-control" value="{{key}}" aria-label="...">
        </div>
    </div>
    <div class="panel-footer">
            <button class="btn btn-info" ng-click="down()"> Continue </button>
    </div>
</div>
