<div class="panel center-block question panel-success">
    <div class="panel-heading">
        <h4 class="panel-title">Save your order</h4>
    </div>
    <div class="panel-body size-medium">
        <div class="spacing-1">
            <h4>
            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
			{{totalPrice()}}
			</h4>
			<h4>Estimated time: {{totalTime()}}</h4>
        </div>
        <div class="spacing-1">
            <input id="email" type="email" ng-model="model.email" placeholder="Write your email">
        </div>
        <div class="spacing-1">
            <label>We will send you an email with detailed information about billing and access to your order. You will be able to see information about the inspector that is going to visit you.</label>
        </div>
    </div>
    <div class="panel-footer">
        <button ng-disabled="!model.email || sendingEmail" class="btn btn-success btn-lg" ng-click="confirm()">Save my order</button>
    </div>
</div>
<output data-message></output>
