node_modules
node_modules/*
bower_components/
bower_components/**
.env
public/temp
yarn.lock
app.bundle.js
app.bundle.booking.js
npm-debug.log
public/app.bundle.booking.js
public/app.bundle.js
backend.log
backend.log
backend.log