<!DOCTYPE html>
<html class="no-js" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Diagnostical : Diagnostics immobiliers</title>
    <meta name="description" content="Les diagnostics immobiliers, en haute disponibilité, au bon prix, réalisés par des professionnels certifiés dans votre département">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.ico" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>


    <meta property="og:title" content="Diagnostical : Diagnostics immobiliers">
    <meta property="og:site_name" content="Diagnostical">
    <meta property="og:url" content="www.diagnostical.fr">
    <meta property="og:description" content="Les diagnostics immobiliers, en haute disponibilité, au bon prix, réalisés par des professionnels certifiés dans votre département">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.diagnostical.fr/img/home_bg.jpg">
    <meta property="og:image:width" content="1800">
    <meta property="og:image:height" content="854">

    <!--<link rel="stylesheet" type="text/css" href="css/fullpage.css">-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/calendar.css">
    <link rel="stylesheet" type="text/css" href="css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/helpers.css">
    <link rel="stylesheet" type="text/css" href="css/admin.login.css">
    <link rel="stylesheet" type="text/css" href="css/calendar.scheduler.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.datetimepicker.css">
    <link rel="stylesheet" type="text/css" href="css/ui-bootstrap-csp.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.datepicker.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.timepicker.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme-1.css">
    <link rel="stylesheet" type="text/css" href="css/font.awesome.css">


    <link rel="stylesheet" href="css/diags.design.css" type="text/css" />
    <link rel="stylesheet" href="css/diags-checkbox.css" type="text/css" />

    <script src="js/vendor/vendor.selectivizr-min.js"></script>
    
    
<!-- begin olark code -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('8439-492-10-7867');/*]]>*/</script><noscript><a href="https://www.olark.com/site/8439-492-10-7867/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
<!-- end olark code -->

</head>

<body data-main class="hiddenn" ng-controller="ctrl.booking">

    <!-- GLOBAL LAYOUT -->
    <div id="wrapper">

        <div ng-if="userIs('admin')" ng-show="htmlEditItem" ng-include="'views/common/partials/html-edit-ck-editor.html'">
        </div>



        <div class="container-fluid">
            <div class="row-fluid">
                <div ng-show="__header==1" ng-include="'views/diags/booking/partials/booking-header.html'"></div>
                <div ng-show="__header==2" ng-include="'views/diags/booking/partials/booking-header-2.html'"></div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span-12 relative">
                    <my-alerts add="notify" class="notify " directive="notify" stacked="false" settings="{clickDismissable:false,scroll:true}"></my-alerts>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid diags-content">
                <div ng-view></div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div ng-include="'views/diags/booking/partials/booking-footer.html'"></div>
    </div>

    <div class="hidden" remove-hidden>
        <div ng-class="{hidden:!__debugDiags,bounceInLeft:true,animated:true,'debug-wrapper':true}">
            <ul ng-cloak>
                <li ng-cloak>order-info-house: <span ng-cloak ng-bind="_order.info.house"></span></li>
                <!--
                <li ng-cloak ng-show="__debugPriceModifiers">Price Modifiers (+%) :</li>
                <li ng-cloak ng-repeat="(k,i) in __debugPriceModifiers">
                    <span ng-cloak ng-bind="k"></span>:<span ng-cloak ng-bind="i"></span>
                </li>
                -->
                <li>
                    <label ng-cloak>Price Rules</label>
                    <table class="table minimal" ng-cloak>
                        <thead ng-cloak>
                            <tr>
                                <th></th>
                                <th>+</th>
                                <th>-</th>
                            </tr>
                        </thead>
                        <tbody ng-cloak>
                            <tr ng-cloak>
                                <td ng-bind="'Base price'"></td>
                                <td ng-bind="__priceQuote.basePrice"></td>
                                <td></td>
                            </tr>
                            <tr ng-cloak ng-repeat="(name,price) in __priceQuote.diags">
                                <td ng-bind="name"></td>
                                <td ng-bind="price"></td>
                                <td></td>
                            </tr>
                            <tr ng-cloak>
                                <td ng-bind="'Extra Building Price '+__priceQuote.extraBuildingSizePorc+'%'"></td>
                                <td ng-bind="__priceQuote.extraBuildingSizePrice"></td>
                                <td></td>
                            </tr>
                            <tr ng-cloak>
                                <td ng-bind="'Extra Date Price '+__priceQuote.extraDatePriceType+' '+__priceQuote.extraDatePricePorc+'%'"></td>
                                <td ng-bind="__priceQuote.extraDatePrice"></td>
                                <td></td>
                            </tr>
                            <tr ng-cloak>
                                <td ng-bind="'Discount Client '+__priceQuote.discountClientPorc+'%'"></td>
                                <td></td>
                                <td ng-bind="__priceQuote.discountClientPrice"></td>
                            </tr>
                        </tbody>
                        <tfoot ng-cloak>
                            <tr ng-cloak>
                                <td ng-bind="'Diags price '"></td>
                                <td ng-bind="__priceQuote.selectedDiagsTotalPrice"></td>
                                <td></td>
                            </tr>
                            <tr ng-cloak>
                                <td ng-bind="'Subtotal'"></td>
                                <td ng-bind="__priceQuote.subTotal"></td>
                                <td></td>
                            </tr>
                            <tr ng-cloak>
                                <td ng-bind="'Total raw'"></td>
                                <td ng-bind="__priceQuote.total"></td>
                                <td></td>
                            </tr>
                            <tr ng-cloak <td ng-bind="'Difference (tenth  10)'">
                                </td>
                                <td></td>
                                <td ng-bind="__priceQuote.totalRoundedValue"></td>
                            </tr>
                            <tr ng-cloak>
                                <td ng-bind="'TotalHT'"></td>
                                <td ng-bind="__priceQuote.totalRoundedHT"></td>
                                <td></td>
                            </tr>
                            <tr ng-cloak>
                                <td ng-bind="'VAT '+__priceQuote.vatRate+'%'"></td>
                                <td ng-bind="__priceQuote.vatPrice"></td>
                                <td></td>
                            </tr>
                            <tr ng-cloak>
                                <td ng-bind="'TotalTTC (For Client)'"></td>
                                <td ng-bind="__priceQuote.totalRoundedTTC"></td>
                                <td></td>
                            </tr>
                            <tr ng-cloak>
                                <td ng-bind="'RemunerationHT '+__priceQuote.diagCommissionRate+'%'"></td>
                                <td ng-bind="__priceQuote.diagRemunerationHT"></td>
                                <td></td>
                            </tr>
                            <tr ng-cloak>
                                <td ng-bind="'RevenueHT '+__priceQuote.revenueRate+'%'"></td>
                                <td ng-bind="__priceQuote.revenueHT"></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </li>

                <li ng-show="__textsNotFound">Texts codes requested:</li>
                <li ng-cloak ng-repeat="item in __textsNotFound" ng-bind="item">
                </li>
            </ul>
        </div>
    </div>


    <modal-confirm open="openConfirm"></modal-confirm>
    <span data-spinner show="state.working"></span>

    <!--VENDOR-->
    <script src="js/vendor/vendor.es5-shim.min.js"></script>
    <script src="js/vendor/vendor.es6-shim.min.js"></script>
    <script src="js/vendor/vendor.jquery.unzip.js"></script>
    <script src="js/vendor/vendor.range-touch.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js"></script>
    <script src="js/vendor/vendor.angular.unzip.js"></script>
    <script src="js/vendor/vendor.angular-route.min.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
    <script src="js/vendor/vendor.geocomplete.js"></script>
    <script src="js/vendor/vendor.bootstrap.js"></script>
    <script src="js/vendor/vendor.moment.js"></script>
    <script src="js/vendor/vendor.calendar.js"></script>
    <script type="text/javascript" src="js/vendor/vendor.calendar.scheduler.js"></script>
    <script type="text/javascript" src="js/vendor/vendor.bootstrap.datetimepicker.js"></script>
    <script type="text/javascript" src="js/vendor/vendor.bootstrap.datepicker.js"></script>
    <script type="text/javascript" src="js/vendor/vendor.bootstrap.timepicker.js"></script>
    <script src="js/vendor/vendor.ui-bootstrap.js"></script>
    <script src="js/vendor/vendor.ui-bootstrap-tpls.js"></script>
    <script src="js/vendor/vendor.lodash.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.7/angular-sanitize.min.js"></script>

    <!--COMMON-->
    <script type="text/javascript" src="js/common/fs.env.js"></script>
    <script type="text/javascript" src="js/common/fs.utils.js"></script>

    <!--COMMON-->
    <script src="js/app.diags-utils.js"></script>
    <script src="js/app.diags-booking-slots.js"></script>
    <script type="text/javascript" src="js/diags/ctrls/diags_ctrl_contact_form.js"></script>


    <!--BOOKING-->
    <script src="js/app.booking.js"></script>
    <script src="js/directives/remove-hidden.js"></script>
    <script type="text/javascript" src="js/app.text.js"></script>
    <script src="js/services/srv.diags-prices.js"></script>
    <script src="js/services/srv.diags-slots.js"></script>
    <script src="js/directives/checkbox.js"></script>
    <script src="js/directives/toggle.js"></script>
    <script src="js/directives/range.js"></script>
    <script src="js/directives/remove-hidden.js"></script>
    <script src="js/app.services.js"></script>
    <script src="js/app.run.js"></script>
    <script src="js/app.directives.js"></script>
    <script src="js/app.login.js"></script>


    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
        /*global $*/
        /*global FastClick*/
        $(function() {
            FastClick.attach(document.body);
        });
        //(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        //function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        //e.src='//www.google-analytics.com/analytics.js';
        //r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        //ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>

    <script type="text/javascript" src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <div ng-include="'views/common/live-reload.html'"></div>

</body>

</html>
