<div class="container-fluid diags-content diags-home-bg home" ng-controller="ctrl.booking">
    <div class="container booking-form-wrapper">
        <div class="row-fluid">
            <div class="col-sm-12 col-md-7 margin-bottom-four margin-bottom-none-mobile">

                <ul class="home-bg-dialog without-dots">
                    <li>
                        <div class="diags-pill-success"></div>
                    </li>
                    <li class="title-big">
                        <h2><em class="title title-1">Diagnosti</em><em class="title title-2">cal</em></h2>
                    </li>
                    <li>
                        <div class="diags-pill-info ">
                            <span class="avenir-book txt-md white" bind-html-compile="html('BOOKING_HOME_BG_TEXT_2',STATIC.BOOKING_HOME_BG_TEXT_2)">
                                <!--"-->
                                Nous joindre au
                            </span>
                            <span class="xxs-flex avenir-black txt-xl white middle" bind-html-compile="html('BOOKING_HOME_BG_TEXT_PHONE',STATIC.BOOKING_HOME_BG_TEXT_PHONE)">
                                <!-- bind-html-compile="html('BOOKING_HOME_BG_TEXT_PHONE',STATIC.BOOKING_HOME_BG_TEXT_PHONE)" -->
                                06 20 75 45 79
                                </span>
                        </div>
                    </li>
                    <li>
                        <p class="home-brandon-re-38-489" bind-html-compile="html('BOOKING_HOME_BG_TEXT_1')">
                            <!-- 'Accédez aux calendriers en live des diagnostiqueurs immobiliers certifiés, disponibles, au bon prix*'
                            -->

                        </p>
                    </li>
                </ul>
                <div class="row-fluid stripe-home-message">
                    <div class="col-sm-12 col-md-12">
                        <p class="stripe-home-message">
                            *
                            <span class="">
                                <out class="inline-childs-divs" bind-html-compile="html('BOOKING_STRIPE_TEXT',STATIC.STRIPE)"></out>
                            </span>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 margin-bottom-four margin-bottom-none-mobile booking-form-wrapper">
                <div ng-include="'/views/diags/booking/partials/booking-1-home-form.html'" includeReplace></div>
            </div>
        </div>

    </div>
</div>
<div class="container home bar3">
    <div class="row">
        <div class="col-xs-4 text-center right-bar">
            <i class="fa fa-id-card-o" aria-hidden="true"></i><br/>
            <span class="headtitle">Diagnostiqueur</span><br />
            <span class="subtitle">Certifié</span>
        </div>
        <div class="col-xs-4 text-center right-bar">
            <i class="fa fa-phone" aria-hidden="true"></i><br/>
            <span class="headtitle">Conseiller</span><br />
            <span class="subtitle">À votre écoute</span>
        </div>
        <div class="col-xs-4 text-center right-bar">
            <i class="fa fa-lock" aria-hidden="true"></i><br/>
            <span class="headtitle">Paiement</span><br />
            <span class="subtitle">Sécurisé</span>
        </div>
    </div>
</div>
<div dynamic-html="HOME_DIAG_CARDS"></div>
<!--
<div ng-include="'/views/home-bottom-old.html'" includeReplace></div>
-->

