<!--COMPILE_WITH_HANDLEBARS-->
<div class="diags-bg" ng-controller="payment-controller"> 
    <div class="diags-content container diags-selection padding-none">
        <div class="row diags-bg-block-40 hidden-xs"></div>
        <div class="row diag-row padding-top-one">
            <div class="col-sm-12 ">
                <div class='row'>
                    <div class="col-sm-4">
                        <div class="booking-phase">
                            1.Choisir vos diagnostics
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="booking-phase">
                            2.Prendre RDV
                        </div>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="booking-phase active">
                            4.Paiement
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row diag-row diag-row-form">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 ">
                <div class="row-fluid frm-wrapper ">
                    <div class="diags-form">
                        <div class="row">
                            <i class="fa fa-chevron-right fnt-18"><span class="title margin-left-quarter">Votre Rendez-Vous</span></i>
                        </div>
                        <div class="row margin-top-quarter min-height-45px">
                            <p class="label">Récapitulatif de votre commande</p>
                        </div>
                        <div class="row margin-top-one">
                            <input ng-model="order.address" class="diags-input" placeholder="Ex: 23 rue de lyon, 75012 Paris">
                        </div>
                        <div class="row margin-top-half" ng-if="false" ng-show="!order.info.house">
                            <div class="diags-btn-group row">
                                <div class="col-xs-4">
                                    <input ng-model="order.info.addressBatiment" class="diags-input xs" placeholder="Rue">
                                </div>
                                <div class="col-xs-4">
                                    <input ng-model="order.info.addressCode" class="diags-input xs" placeholder="Code">
                                </div>
                                <div class="col-xs-4">
                                    <input style="padding-left: 25px;" ng-model="order.info.addressEtage" class="diags-input xs" placeholder="Étage">
                                </div>
                            </div>
                        </div>
                        
                        <div class="row margin-top-half diags-botticelli-wrapper ">
                            <div class="col-xs-12 padding-none margin-none">
                                <div class="row padding-none margin-none relative">
                                    <img class="" src="/img/icon-calendar.png" style="/* display: inline-block; */">
                                    <p class="roman-16 booking-login__order-date" ng-bind="orderDateFormatted()"></p>
                                </div>
                                <div class="row padding-none margin-none">
                                    <img class="margin-top-one" src="/img/icon-guy.png">
                                    <p class="margin-top-one roman-16 booking-login__order-diag-user-name" ng-bind="orderDiagFormatted()">Avec Javier A </p>
                                </div>
                            </div>
                        </div>
                        
                       
                        <div class="row margin-top-half">
                            <div class="row padding-none light-14">
                                Liste de Diagnostics :
                            </div>
                            <div class="row padding-none diags-icons margin-top-half" ng-show="order && order.diags">
                                <img ng-repeat="(k,v) in order.diags" ng-show="v" ng-src="/img/icons/icon_{[{k}]}.png">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4  " ng-show="showDelegateOrderElements()">
                <div class="row-fluid frm-wrapper ">
                    <div class="diags-form">
                        <div class="row">
                            <i class="fa fa-chevron-right fnt-18"><span class="title margin-left-quarter">Coordonnées du Propriétaire</span></i>
                        </div>
                        <div class="row margin-top-quarter min-height-45px">
                            <p class="label">Informations devant figurer dans les diagnostics</p>
                        </div>
                        <div class="row margin-top-one">
                            <input ng-model="order.landLordFullName" class="diags-input" placeholder="Nom et prénom du Propriétaire">
                        </div>
                        <div class="row margin-top-half">
                            <input ng-model="order.landLordEmail" class="diags-input" placeholder="Email du Propriétaire">
                        </div>
                        <div class="row margin-top-half">
                            <input data-address model="order" field="landLordAddress" class="diags-input" placeholder="Adresse de la résidence principale">
                        </div>
                        <div class="row margin-top-half">
                            <input ng-model="order.landLordPhone" class="diags-input" placeholder="Téléphone du Propriétaire">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 ">
                <div class="row-fluid frm-wrapper">
                    <div class="diags-form">
                        <div class="row">
                            <i class="fa fa-chevron-right fnt-18"><span class="title margin-left-quarter">Récupérer les clefs </span></i>
                        </div>
                        <div class="row margin-top-quarter min-height-45px">
                            <p class="label">

                                Où et quand le diagnostiqueur peut<br> récupérer les clefs du bien à diagnostiquer ?
                            </p>
                        </div>
                        <div class="row margin-top-one">
                            <!-- KEYS WHERE -->
                            <div class="dropdown with-caret">
                                <button class="btn btn-default diags-input dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span>{[{__keysWhereSelectLabel()}]}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu diags-select" aria-labelledby="dropdownMenu1">
                                    <li ng-repeat="(k,v) in __keysWhereItems">
                                        <a class="link" ng-click="__keysWhereSelect(k,v)">{[{k}]}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row margin-top-half">
                            <input ng-disabled="order.keysWhere!=='other'" data-address model="order" field="keysAddress" class="diags-input" placeholder="Adresse">
                        </div>
                        <div class="row margin-top-half">
                            <div class="col-xs-6 padding-none">
                                <!-- KEYS TIME FROM -->
                                <div class="dropdown with-caret">
                                    <button class="btn btn-default diags-input half dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span>{[{__keysTimeFromSelectLabel}]}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu diags-select" aria-labelledby="dropdownMenu1">
                                        <li ng-repeat="(k,v) in __keysTimeFromItems">
                                            <a class="link" ng-click="__keysTimeFromSelect(k,v)">{[{k}]}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xs-6 padding-none">
                                <!-- KEYS TIME TO -->
                                <div class="dropdown with-caret">
                                    <button class="btn btn-default diags-input half dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span>{[{__keysTimeToSelectLabel}]}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu diags-select" aria-labelledby="dropdownMenu1">
                                        <li ng-repeat="(k,v) in __keysTimeToItems">
                                            <a class="link" ng-click="__keysTimeToSelect(k,v)">{[{k}]}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-half">
                            <textarea ng-disabled="false" type="text" class="diags-input fullwidth min-height-100 no-resize" ng-model="order.obs" placeholder="Informations Complémentaires"></textarea>
                        </div>
                        <div class="row margin-top-half">
                            <span class="avenir-medium fnt-24 azure-radiance">Prix : {[{order.price}]} € TTC</span>
                        </div>
                        <div class="row margin-top-one">
                            <p style="font-style: italic;">En cliquant sur Confirmer & Payer vous acceptez nos <a href="https://www.diagnostical.fr/#/conditions-generales-utilisation" target="_blank">Conditions Générales d'Utilisation</a>.</p>
                        </div>
                        <div class="row margin-top-quarter">
                            <button class="btn btn-xl bg-madison" on-click-scroll-top ng-click="pay()" ng-disabled="state.working() || !order._id">Confirmer & Payer</button>
                        </div>
                        <div class="row margin-top-half">
                            <button class="btn btn-xl bg-madison" on-click-scroll-top ng-show="showDelegateOrderElements()" ng-click="delegate()" ng-disabled="state.working() || !order._id">Déléguer au propriétaire</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row diag-row margin-top-three padding-bottom-two">
            <div class="col-md-12 ">
                <div ng-include="'/views/diags/booking/partials/booking-diags-icons.html'" includeReplace></div>
            </div>
        </div>
        <div class="row diag-row margin-top-one padding-bottom-two">
            <div class="col-md-12 ">
                <p class="stripe-message">
                    <span class="fnt-30 text-top">*</span> 
                    <span class="">
                        <out class="inline-childs-divs" dynamic-block code="BOOKING_STRIPE_TEXT">
                                        {{{text.BOOKING_STRIPE_TEXT}}}
                        </out>
                    </span>
                </p>
            </div>
        </div>
        <div class="row diags-bg-block-40 hidden-xs"></div>
    </div>
</div>