<div class="container-fluid diags-content diags-home-bg home">
    <div class="container ">
        <div class="row-fluid">
            <div class="col-sm-12 col-md-7 margin-bottom-four">

                <ul class="home-bg-dialog without-dots">
                    <li>
                        <div class="diags-pill-success"></div>
                    </li>
                    <li class="title-big">
                        <span class="title title-1">Diagnosti</span><span class="title title-2">cal</span>
                    </li>
                    <li>
                        <div class="diags-pill-info ">
                            <span class="avenir-book txt-md white"
                            bind-html-compile="html('BOOKING_HOME_BG_TEXT_2',STATIC.BOOKING_HOME_BG_TEXT_2)"
                            >
                                <!--"-->
                                Nous joindre au
                            </span>
                            <span class="avenir-black txt-xl white middle"
                            bind-html-compile="html('BOOKING_HOME_BG_TEXT_PHONE',STATIC.BOOKING_HOME_BG_TEXT_PHONE)"
                            >
                                <!-- bind-html-compile="html('BOOKING_HOME_BG_TEXT_PHONE',STATIC.BOOKING_HOME_BG_TEXT_PHONE)" -->
                                0899 399 039
                                </span>
                        </div>
                    </li>
                    <li>
                        <p class="home-brandon-re-38-489" 
                        bind-html-compile="html('BOOKING_HOME_BG_TEXT_1')">
                            <!-- 'Accédez aux calendriers en live des diagnostiqueurs immobiliers certifiés, disponibles, au bon prix*'
                            -->
                            
                        </p>
                    </li>
                </ul>
                <div class="row-fluid stripe-home-message">
                    <div class="col-sm-12 col-md-12">
                        <p class="stripe-home-message">
                            *
                            <span class="">
                                <out class="inline-childs-divs" bind-html-compile="html('BOOKING_STRIPE_TEXT',STATIC.STRIPE)"></out>
                            </span>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 margin-bottom-four">
                <div ng-include="'views/diags/booking/partials/booking-1-home-form.html'" includeReplace></div>
            </div>
        </div>

    </div>
</div>

<div class="container home">
    <div class="row">
        <div class="col-md-7">
            <div class="inline-table margin-top-three">
                <ul class=" diags">
                    <li>
                        <img class="link" ng-click="selectDiag('dpe')" src="img/dpe.jpg" />
                    </li>
                    <li>
                        <img class="link" ng-click="selectDiag('dta')" src="img/amiante.jpg" />
                    </li>
                    <li>
                        <img class="link" ng-click="selectDiag('loiCarrez')" src="img/carrez.jpg" />
                    </li>
                    <li>
                        <img class="link" ng-click="selectDiag('crep')" src="img/plomb.jpg" />
                    </li>
                    <li>
                        <img class="link" ng-click="selectDiag('gaz')" src="img/gaz.jpg" />
                    </li>
                </ul>

            </div>
            <div class="inline-table">
                <ul class=" diags">
                    <li>
                        <img class="link" ng-click="selectDiag('electricity')" src="img/electricite.jpg" />
                    </li>
                    <li>
                        <img class="link" ng-click="selectDiag('termites')" src="img/termites.jpg" />
                    </li>
                    <li>
                        <img class="link" ng-click="selectDiag('ernt')" src="img/ernt.jpg" />
                    </li>
                    <li>
                        <img class="link" ng-click="selectDiag('parasitaire')" src="img/parasite.jpg" />
                    </li>
                </ul>
            </div>
            <div class="table-row">
                <h2 class="diags black"
                bind-html-compile="htmlReplaceDiagName('PAGE_HOME_$NAME_BLOCK_LEFT_TITLE')"
                >
                    
                </h2>
            </div>
            <div class="diags-pill-success"></div>
            <div class="padding-top-three padding-bottom-four">
                <p class="avenir-book fnt-18" 
                bind-html-compile="htmlReplaceDiagName('PAGE_HOME_$NAME_BLOCK_LEFT_CONTENT')"
                >
                   
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <div ng-class="diagRightClass()">
                <div class="avenir-book fnt-32 white home-title-right"
                bind-html-compile="htmlReplaceDiagName('PAGE_HOME_$NAME_BLOCK_RIGHT_TITLE')"
                >
                    

                </div>
                <p class="avenir-book fnt-18 white padding-top-two"
                bind-html-compile="htmlReplaceDiagName('PAGE_HOME_$NAME_BLOCK_RIGHT_CONTENT')"
                >
                  

                </p>
            </div>
            <div class="diag-dialog-right-transparent margin-top-three">
                <p class="avenir-book fnt-18 black"
                bind-html-compile="htmlReplaceDiagName('PAGE_HOME_$NAME_BLOCK_BOTTOM')"
                >
                    
                </p>
            </div>
        </div>
    </div>
</div>
