<div class="diags-bg">
    <div class="diags-content container diags-selection padding-none">
        <div class="row diags-bg-block-40 hidden-xs"></div>
        <!-- -------- -->
        <div class="row diag-row margin-top-two" ng-controller="adminLoginExternal">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row-fluid diags-form-wrapper">
                    <div class="diags-form">
                        <div ng-include="'views/diags/common/partials/diags-login-form.html'" includeReplace></div>
                    </div>
                    <div class="diags-form margin-top-three">
                        <div class="row">
                            <i class="fa fa-chevron-right fnt-18"><span class="title margin-left-quarter">S’inscrire comme diagnostiqueur</span></i>
                        </div>
                        <div class="row margin-top-one">
                            <button ng-disabled="sendingRequest" class="btn  diag-btn-main" ng-click="routeRelative('admin#/'+URL.DIAG_SIGN_UP)">Inscrire</button>
                        </div>
                    </div>
                </div>

            </div>


        </div>


        <!-- -------- -->
        <div class="row diag-row margin-top-three padding-bottom-two">
            <div class="col-md-12 ">
                <div ng-include="'views/diags/booking/partials/booking-diags-icons.html'" includeReplace></div>
            </div>
        </div>
        <div class="row diag-row margin-top-one padding-bottom-two">
            <div class="col-md-12 ">
                <p class="stripe-message"><span class="fnt-30 text-top">*</span>
                    <out class="inline-childs-divs" bind-html-compile="html('BOOKING_STRIPE_TEXT',STATIC.STRIPE)"></out>
                </p>
            </div>
        </div>
        <div class="row diags-bg-block-40 hidden-xs"></div>
    </div>
</div>
