<div class="diags-bg">
    <div class="diags-content container diags-selection padding-none">
        <div class="row diags-bg-block-40 hidden-xs"></div>
        <div class="row diag-row padding-top-one margin-bottom-half">
            <div class="col-sm-12 ">
                <div class='row'>
                    <div class="col-sm-3">
                        <div class="booking-phase">
                            1.Choisir vos diagnostics
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="booking-phase link" ng-click="route(URL.RDV)">
                            2.Prendre RDV
                        </div>
                    </div>
                    <div class="col-sm-3 ">
                        <div class="booking-phase active ">
                            3.Connexion
                        </div>
                    </div>
                    <div class="col-sm-3 ">
                        <div class="booking-phase">
                            4.Paiement
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row diag-row diag-row-form">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 ">
                <div class="row-fluid frm-wrapper">
                    <div class="diags-form">
                        <div class="row">
                            <i class="fa fa-chevron-right fnt-18"><span class="title margin-left-quarter">Votre Rendez-Vous</span></i>
                        </div>
                        <div class="row margin-top-quarter min-height-45px">
                            <p class="label">Récapitulatif de votre commande</p>
                        </div>
                        <div class="row margin-top-one">
                            <input ng-model="item.address" class="diags-input" placeholder="Ex: 23 rue de lyon, 75012 Paris">
                        </div>
                        <div class="row margin-top-half" ng-show="!item.info.house">
                            <div class="diags-btn-group row">
                                <div class="col-xs-4">
                                    <input ng-model="item.info.addressBatiment" class="diags-input xs" placeholder="Rue">
                                </div>
                                <div class="col-xs-4">
                                    <input ng-model="item.info.addressCode" class="diags-input xs" placeholder="Code">
                                </div>
                                <div class="col-xs-4">
                                    <input style="padding-left: 25px;" ng-model="item.info.addressEtage" class="diags-input xs" placeholder="Étage">
                                </div>
                            </div>
                        </div>
                        <div class="row margin-top-half diags-botticelli-wrapper ">
                            <div class="col-xs-2 padding-none margin-none">
                                <div class="row padding-none margin-none">
                                    <img class="" src="img/icon-calendar.png">
                                </div>
                                <div class="row padding-none margin-none">
                                    <img class="margin-top-half" src="img/icon-guy.png">
                                </div>
                            </div>
                            <div class="col-xs-10 padding-none margin-none">
                                <div class="row roman-16">{{orderDateFormatted()}}</div>
                                <div class="row margin-top-08em roman-16">{{orderDiagFormatted()}}</div>
                            </div>
                        </div>
                        <div class="row margin-top-half">
                            <div class="row padding-none light-14">
                                Liste de Diagnostics :
                            </div>
                            <div class="row padding-none diags-icons margin-top-half" ng-show="item && item.diags">
                                <img ng-repeat="(k,v) in item.diags" ng-show="v" ng-src="img/icons/icon_{{k}}.png">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        

        
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="row-fluid frm-wrapper">
                    <div class="diags-form">
                        <div class="row">
                            <i class="fa fa-chevron-right fnt-18"><span class="title margin-left-quarter">Connexion</span></i>
                        </div>
                        <div class="row margin-top-quarter">
                            <p class="label">Vous avez déjà passé commande</p>
                        </div>
                        <div class="row margin-top-one">
                            <input ng-model="auth.email" type="email" class="diags-input" placeholder="Adresse email">
                        </div>
                        <div class="row margin-top-half">
                            <input type="password" ng-model="auth.pass" class="diags-input" placeholder="Mot de passe">
                        </div>
                        <div class="row margin-top-one">
                            <a class="diags-link text-center">Mot de passe oublié ?</a>
                        </div>
                        <div class="row margin-top-one">
                            <button ng-click="login()" class="btn btn-xl bg-madison">Connexion</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="row-fluid frm-wrapper">
                    <div class="diags-form">
                        <div class="row">
                            <i class="fa fa-chevron-right fnt-18"><span class="title margin-left-quarter">Inscription</span></i>
                        </div>
                        <div class="row margin-top-quarter">
                            <p class="label">C’est la première fois que vous passez commande</p>
                        </div>
                        <div class="row margin-top-one">
                            <input type="email" ng-model="auth.email" class="diags-input" placeholder="Adresse email">
                        </div>
                        <div class="row margin-top-half">
                            <input ng-model="auth.pass" type="password" class="diags-input" placeholder="Mot de passe">
                        </div>
                        <div class="row margin-top-two">
                            <i class="fa fa-chevron-right fnt-18"><span class="title margin-left-quarter">S’inscrire en tant que </span></i>
                        </div>
                        <div class="row margin-top-one">
                            <button ng-click="subscribeModeBooking('landlord')" class="btn btn-xl bg-azure-radiance">Propriéraire</button>
                        </div>
                        <div class="row margin-top-half">
                            <button ng-click="subscribeModeBooking('agency')" class="btn btn-xl bg-pomegranate">Agence immobilière</button>
                        </div>
                        <div class="row margin-top-half">
                            <button ng-click="subscribeModeBooking('other')" class="btn btn-xl bg-blaze-orange">Autre entreprise</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row diag-row margin-top-three padding-bottom-two">
            <div class="col-md-12 ">
                <div ng-include="'views/diags/booking/partials/booking-diags-icons.html'" includeReplace></div>
            </div>
        </div>
        <div class="row diag-row margin-top-one padding-bottom-two">
            <div class="col-md-12 ">
                <p class="stripe-message"><span class="fnt-30 text-top">*</span>
                    <out class="inline-childs-divs" bind-html-compile="html('BOOKING_STRIPE_TEXT',STATIC.STRIPE)"></out>
                </p>
            </div>
        </div>
        <div class="row diags-bg-block-40 hidden-xs"></div>
    </div>
</div>
