<!--COMPILE_WITH_HANDLEBARS-->
<div class="container-fluid diags-content diags-home-bg home" ng-controller="ctrl.booking">
    <div class="container padding-none">
        <div class="row-fluid">
            <div class="col-sm-12 col-md-6 margin-bottom-four margin-bottom-none-mobile">

                <ul class="home-bg-dialog without-dots">
                    <li>
                        <div class="diags-pill-success"></div>
                    </li>
                    <li class="title-big">
                        <h2><em class="title title-1">Diagnosti</em><em class="title title-2">cal</em></h2>
                    </li>
                    <li>

                    </li>
                    <li>
                        <a class="diag-button diag-btn-info nowrap diag-button-phone inline-block">
                            <span class="avenir-book txt-md white nowrap inline" dynamic-block code="BOOKING_HOME_BG_TEXT_2">{{{text.BOOKING_HOME_BG_TEXT_2}}}</span>
                            <span class="xxs-flex avenir-black txt-xl white middle nowrap inline">&nbsp;01 79 72 82 33</span>
                        </a>
                    </li>
                    <li>
                        <p class="home-brandon-re-38-489" dynamic-block code="BOOKING_HOME_BG_TEXT_1">
                            {{{text.BOOKING_HOME_BG_TEXT_1}}}
                        </p>
                    </li>
                </ul>
                <div class="row-fluid stripe-home-message">
                    <div class="col-sm-12 col-md-12 padding-none">
                        <p class="stripe-home-message">
                            *
                            <span class="">
                                <out class="inline-childs-divs" dynamic-block code="BOOKING_STRIPE_TEXT">
                                     {{{text.BOOKING_STRIPE_TEXT}}}
                                </out>
                            </span>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 margin-bottom-four margin-bottom-none-mobile booking-form-wrapper">
                <div ng-include="'/views/diags/booking/partials/booking-1-home-form.html'" includeReplace></div>
            </div>
        </div>

    </div>
</div>
<div class="container home bar3">
    <div class="row">
        <div class="col-xs-4 text-center right-bar">
            <i class="fa fa-id-card-o" aria-hidden="true"></i><br/>
            <span class="headtitle">Diagnostiqueur</span><br />
            <span class="subtitle">Certifié</span>
        </div>
        <div class="col-xs-4 text-center right-bar">
            <i class="fa fa-phone" aria-hidden="true"></i><br/>
            <span class="headtitle">Conseiller</span><br />
            <span class="subtitle">À votre écoute</span>
        </div>
        <div class="col-xs-4 text-center right-bar">
            <i class="fa fa-lock" aria-hidden="true"></i><br/>
            <span class="headtitle">Paiement</span><br />
            <span class="subtitle">Sécurisé</span>
        </div>
    </div>
</div>
<div dynamic-html="HOME_DIAG_CARDS"></div>
<!--
<div ng-include="'/views/home-bottom-old.html'" includeReplace></div>
-->
