<output ng-controller="ctrl.booking">
    <my-alerts add="notify" directive="notify" stacked="false" settings="{clickDismissable:false}"></my-alerts>
    <modal-confirm open="openConfirm"></modal-confirm>
    <div id="fullpage">
        <div class="section" data-anchor="question1">
            <div ng-include="'views/partials/booking-q1-sell-or-rent.html'"></div>
        </div>
        <div class="section" data-anchor="question2">
            <div ng-include="'views/partials/booking-q2-construction-type.html'"></div>
        </div>
        <div class="section" data-anchor="question3">
            <div ng-include="'views/partials/booking-q3-construction-size.html'"></div>
        </div>
        <div class="section" data-anchor="question4">
            <div ng-include="'views/partials/booking-q4-construction-date.html'"></div>
        </div>
        <div class="section" data-anchor="question5">
            <div ng-include="'views/partials/booking-q5-address.html'"></div>
        </div>
        <div class="section" data-anchor="question6">
            <div ng-include="'views/partials/booking-q6-gas.html'"></div>
        </div>
        <div class="section" data-anchor="question7">
            <div ng-include="'views/partials/booking-q7-electricity.html'"></div>
        </div>
        <div class="section" data-anchor="diags">
            <div ng-include="'views/partials/booking-diags-selection.html'"></div>
        </div>
        <div class="section" data-anchor="calendar-timepicker">
            <div ng-include="'views/partials/booking-available-slots.html'"></div>
        </div>
        <div class="section" data-anchor="confirm-and-save">
            <div class="slide" ng-include="'views/partials/booking-confirm-details.html'">
            </div>
            <div class="slide" ng-include="'views/partials/booking-confirm-auth.html'">
            </div>
            <div class="slide" ng-include="'views/partials/booking-confirm-pay.html'">
            </div>
        </div>
    </div>
    <span data-spinner show="state.working"></span>
    <!-- spinner -->
    <span data-debug show="showDebug"></span>
</output>
<script type="text/javascript" src="js/app.booking-fullscreen.js"></script>