<button class=" center-block v-margin-1 btn diags-btn bg-madison" type="button" ng-click="route('clients/edit/' + session()._id)">Mon profil</button>
<client-orders></client-orders>


<script type="text/ng-template" id="ordersFilterClient.html">
    <ul class="form-tiny center-block float-right">
        <li>
            <label>
                Filtre&nbsp;&nbsp; (
                <i class="fa fa-question" tooltip-placement="top" uib-tooltip="ENTER will fetch from the server."></i>)
            </label>
        </li>
        <li>
            <label>Status</label>

            <input class="awesomplete" awesome-complete target="#myList" model="model" field="filter.fields.status" placeholder="ex: created, ordered, prepaid" />
            <!-- //ng-model="model.filter.fields.status" -->

            <datalist id="myList">
                <option>created</option>
                <option>ordered</option>
                <option>prepaid</option>
                <option>delivered</option>
                <option>completed</option>
            </datalist>

        </li>

    </ul>

</script>
<!--
<client-payments></client-payments>
-->