<div class="diags-bg">
    <div class="diags-content container diags-selection padding-none">
        <div class="row diags-bg-block-40 hidden-xs"></div>
        <div class="row diag-row padding-top-three">
            <div class="col-sm-12 ">
                <h4>ERNT</h4>
            </div>
        </div>


        <div class="row diag-row margin-top-one">
            <div class="col-xs-12 col-sm-12 col-md-12 ">
                <p>
                    "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia
                    animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas
                    assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
                    delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."
                </p>
            </div>


        </div>


        <div class="row diag-row margin-top-three padding-bottom-two">
            <div class="col-md-12 ">
                <div ng-include="'views/booking/partials/booking-diags-icons.html'" includeReplace></div>
            </div>
        </div>
        <div class="row diag-row margin-top-one padding-bottom-two">
            <div class="col-md-12 ">
                <p class="stripe-message"><span class="fnt-30 text-top">*</span> Paiement simplifié et sécurisé (PCI 1, le niveau le plus élevé) avec Stripe</p>
            </div>
        </div>
        <div class="row diags-bg-block-40 hidden-xs"></div>
    </div>
</div>