<div class="diags-bg">
    <div class="diags-content container diags-selection padding-none">
        <div class="row diags-bg-block-40 hidden-xs"></div>
        <div class="row diag-row padding-top-three">
            <div class="col-sm-12 ">
                <h4
                    bind-html-compile="html('PAGE_GENERAL_CONDITIONS_BLOCK_TITLE','Conditions Générales de Utilisation')"
                    >
                    
                </h4>
            </div>
        </div>


        <div class="row diag-row margin-top-one">
            <div class="col-xs-12 col-sm-12 col-md-12 ">
                <p
                bind-html-compile="html('PAGE_GENERAL_CONDITIONS_BLOCK_CONTENT')"
                >
                    
                </p>
            </div>


        </div>


        <div class="row diag-row margin-top-three padding-bottom-two">
            <div class="col-md-12 ">
                <div ng-include="'views/booking/partials/booking-diags-icons.html'" includeReplace></div>
            </div>
        </div>
        <div class="row diag-row margin-top-one padding-bottom-two">
            <div class="col-md-12 ">
                <p class="stripe-message"><span class="fnt-30 text-top">*</span> Paiement simplifié et sécurisé (PCI 1, le niveau le plus élevé) avec Stripe</p>
            </div>
        </div>
        <div class="row diags-bg-block-40 hidden-xs"></div>
    </div>
</div>