<div class="container home">
    <div class="row">
        <div class="col-md-7 only-mobile">
            <ul class="home__mobile-icons-list">
                <li>
                    <img class="link" ng-click="selectDiag('dpe')" src="/img/dpe.jpg" />
                </li>
                <li>
                    <img class="link" ng-click="selectDiag('dta')" src="/img/amiante.jpg" />
                </li>
                <li>
                    <img class="link" ng-click="selectDiag('loiCarrez')" src="/img/carrez.jpg" />
                </li>
                <li>
                    <img class="link" ng-click="selectDiag('crep')" src="/img/plomb.jpg" />
                </li>
                <li>
                    <img class="link" ng-click="selectDiag('gaz')" src="/img/gaz.jpg" />
                </li>
                <li>
                    <img class="link" ng-click="selectDiag('electricity')" src="/img/electricite.jpg" />
                </li>
                <li>
                    <img class="link" ng-click="selectDiag('termites')" src="/img/termites.jpg" />
                </li>
                <li>
                    <img class="link" ng-click="selectDiag('ernt')" src="/img/ernt.jpg" />
                </li>
                <li class="hidden">
                    <img class="link" ng-click="selectDiag('parasitaire')" src="/img/parasite.jpg" />
                </li>
            </ul>
        </div>
        <div class="col-md-7">
            <div class="row hidden-mobile">
                <div class="col-md-12">
                    <div class="inline-table margin-top-three">
                        <ul class=" diags">
                            <li>
                                <img class="link" ng-click="selectDiag('dpe')" src="/img/dpe.jpg" />
                            </li>
                            <li>
                                <img class="link" ng-click="selectDiag('dta')" src="/img/amiante.jpg" />
                            </li>
                            <li>
                                <img class="link" ng-click="selectDiag('loiCarrez')" src="/img/carrez.jpg" />
                            </li>
                            <li>
                                <img class="link" ng-click="selectDiag('crep')" src="/img/plomb.jpg" />
                            </li>
                            <li>
                                <img class="link" ng-click="selectDiag('gaz')" src="/img/gaz.jpg" />
                            </li>
                            <li>
                                <img class="link" ng-click="selectDiag('electricity')" src="/img/electricite.jpg" />
                            </li>
                            <li>
                                <img class="link" ng-click="selectDiag('termites')" src="/img/termites.jpg" />
                            </li>
                            <li>
                                <img class="link" ng-click="selectDiag('ernt')" src="/img/ernt.jpg" />
                            </li>
                            <li class="hidden">
                                <img class="link" ng-click="selectDiag('parasitaire')" src="/img/parasite.jpg" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-row">
                        <h2 class="diags black" bind-html-compile="htmlReplaceDiagName('PAGE_HOME_$NAME_BLOCK_LEFT_TITLE')">

                        </h2>
                    </div>
                    <div class="diags-pill-success"></div>
                    <div class="padding-top-three padding-bottom-four">
                        <p class="avenir-book fnt-18" bind-html-compile="htmlReplaceDiagName('PAGE_HOME_$NAME_BLOCK_LEFT_CONTENT')">

                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div ng-class="diagRightClass()">
                <p class="avenir-book fnt-18 white" bind-html-compile="htmlReplaceDiagName('PAGE_HOME_$NAME_BLOCK_RIGHT_CONTENT')">


                </p>
            </div>
            <div class="diag-dialog-right-transparent margin-top-three">
                <p class="avenir-book fnt-18 black" bind-html-compile="htmlReplaceDiagName('PAGE_HOME_$NAME_BLOCK_BOTTOM')">

                </p>
            </div>
        </div>
    </div>
</div>