<div class="container">
    <div class="row margin-top-three">
        <div class="col-xs-12 padding-none">
            <h2 class="margin-bottom-none">Les diagnostics immobiliers</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-5 visible-lg padding-none">
            <p class="validite-title margin-bottom-none">Validité</p>
        </div>
    </div>

    <!-- DPE -->
    <div class="row margin-top-two">
        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="diag-link" ng-href=""><img class="diag-icon" src="/img/dpe.jpg" alt="Diagnostic de
Performance Énergéique" /></a>
        </div>
        <div class="col-xs-12 col-lg-4 padding-none">
            <h3 class="diag-title color-dpe">DPE</h3>
            <h4 class="diag-subtitle">Diagnostic de Performance Énergéique</h4>
        </div>
        <div class="col-xs-12 col-lg-3 padding-none">
            <div class="validite-box bg-dpe center-block">
                <p class="validite-text">10 ans</p>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3 padding-none">
            <p class="diag-description">Tout bien disposant d’un chauffage collectif ou individuel sauf exceptions règlementaires
            </p>
        </div>
        <div class="col-xs-12 col-lg-1 padding-none">
            <div class="plus-circle bg-dpe">+</div>
        </div>
    </div>

    <!-- ELECTRICITE -->
    <div class="row margin-top-two">
        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="diag-link" ng-href=""><img class="diag-icon" src="/img/electricite.jpg" alt="Diagnostic de
l’installation électrique" /></a>
        </div>
        <div class="col-xs-12 col-lg-4 padding-none">
            <h3 class="diag-title color-electricite">Électricité</h3>
            <h4 class="diag-subtitle">Diagnostic de l’installation électrique</h4>
        </div>
        <div class="col-xs-12 col-lg-3 padding-none">
            <div class="validite-box bg-electricite center-block">
                <p class="validite-text ">3 ans</p>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3 padding-none">
            <p class="diag-description">Tout bien d’habitation disposant d’une installation électrique de plus de 15 ans

            </p>
        </div>
        <div class="col-xs-12 col-lg-1 padding-none">
            <div class="plus-circle bg-electricite">+</div>
        </div>
    </div>

    <!-- AMIANTE -->
    <div class="row margin-top-two">

        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="diag-link" ng-href=""><img class="diag-icon" src="/img/amiante.jpg" alt="Diagnostic de
l’installation électrique" /></a>
        </div>

        <div class="col-xs-12 col-lg-4 padding-none">
            <h3 class="diag-title color-amiante">Amiante</h3>
            <h4 class="diag-subtitle">Diagnostic de l’installation électrique</h4>
        </div>

        <div class="col-xs-12 col-lg-3 padding-none">
            <div class="validite-box bg-amiante center-block">
                <p class="validite-text ">1 ans</p>
            </div>
        </div>

        <div class="col-xs-12 col-lg-3 padding-none">
            <p class="diag-description">Tout bien d’habitation disposant d’une installation électrique de plus de 15 ans

            </p>
        </div>
        <div class="col-xs-12 col-lg-1 padding-none">
            <div class="plus-circle bg-amiante">+</div>
        </div>
    </div>

    <div class="row margin-top-three">
        <div class="col-xs-12 padding-none">
            <h2 class="margin-bottom-none">Des diagnostics immobiliers dans toute la France</h2>
        </div>

    </div>
    <div class="row margin-top-two">
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-paris" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Paris</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-nice" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Nice</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-dijon" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Dijon</h3>
            </a>
        </div>
    </div>
    <div class="row margin-top-two">
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-marseille" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Marseille</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-toulouse" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Toulouse</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-rennes" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Rennes</h3>
            </a>
        </div>
    </div>
    <div class="row margin-top-two">
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-lyon" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Lyon</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-bordeaux" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Bordeaux</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-tours" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Tours</h3>
            </a>
        </div>
    </div>
    <div class="row margin-top-two">
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-grenoble" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Grenoble</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-angers" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Angers</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-creteil" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Creteil</h3>
            </a>
        </div>
    </div>
    <div class="row margin-top-two">
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-saint-etienne" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Saint-Étienne </h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-lille" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Lille</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-melun" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Melun</h3>
            </a>
        </div>
    </div>
    <div class="row margin-top-two">
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-nantes" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Nantes </h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-strasbourg" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Strasbourg</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-lyon" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Lyon</h3>
            </a>
        </div>
    </div>

    <div class="row margin-top-two separator-athens-gray">

    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2 class="fnt-38 roman black">Les diagnostics obligatoires</h2>
        </div>
        <div class="col-xs-12">
            <p class="fnt-22 roman black">
                Vous vendez ou louez votre appartement, et vous vous demandez quels sont les diagnostics obligatoires à effectuer ? Le diagnostics Amiante n’expire pas, vous pouvez donc légalement le conserver et le présenter, Le diagnostic de performance énergétique
                est valide 10 ans, si il a été effectué après 2012. Le diagnostic Carrez expire si la surface a été modifiée (cloisons, petit travaux). Si l’installation électrique date d’il y a moins de 15 ans, vous pouvez en présentant le consuel EDF,
                éviter de refaire le diagnostic Electricité. Nous recommandons tout de même au vendeur ou au bailleur de ne pas conserver leurs anciens diagnostics. Une fois le diagnostiqueur sur place, le coût marginal d’un diagnostic supplémentaire
                est faible et cela permet de rassurer l’acheteur avec un dossier complet récent.
            </p>
        </div>
    </div>

    <div class="row margin-bottom-three">

    </div>

</div>
