<div class="container">
    <div class="row margin-top-three">
        <div class="col-xs-12 padding-none">
            <h2 class="margin-bottom-none">Les diagnostics immobiliers</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-lg-offset-5 visible-lg padding-none">
            <p class="validite-title margin-bottom-none">Validité</p>
        </div>
    </div>

    <!-- DPE -->
    <div class="row margin-top-two">
        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="diag-link" ng-href=""><img class="diag-icon" src="img/dpe.jpg" alt="Diagnostic de
Performance Énergéique" /></a>
        </div>
        <div class="col-xs-12 col-lg-4 padding-none">
            <a class="dlink" href="/dpe">
                <h3 class="diag-title color-dpe">DPE</h3>
            </a>
            <h4 class="diag-subtitle">Diagnostic de Performance Énergéique</h4>
        </div>
        <div class="col-xs-12 col-lg-3 padding-none">
            <div class="validite-box bg-dpe center-block">
                <p class="validite-text">10 ans</p>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3 padding-none">
            <p class="diag-description">"Tout bien disposant d’un chauffage collectif ou individuel sauf exceptions règlementaires"
            </p>
        </div>
        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="dlink" href="/dpe">
                <div class="plus-circle bg-dpe">+</div>
            </a>
        </div>
    </div>

    <!-- CARREZ -->
    <div class="row margin-top-two">
        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="diag-link" ng-href=""><img class="diag-icon" src="img/carrez.jpg" alt="Loi Carrez" /></a>
        </div>
        <div class="col-xs-12 col-lg-4 padding-none">
            <a class="dlink" href="/carrez">
                <h3 class="diag-title color-carrez">Loi Carrez</h3>
            </a>
            <h4 class="diag-subtitle">Métrage surface habitable</h4>
        </div>
        <div class="col-xs-12 col-lg-3 padding-none">
            <div class="validite-box bg-carrez center-block">
                <p class="validite-text ">illimitée</p>
            </div>
        </div>
        <div class="col-xs-12 col-lg-3 padding-none">
            <p class="diag-description">Obligatoire pour tout bien sauf location bureau. Expire à la moindre modification
            </p>
        </div>
        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="dlink" href="/carrez">
                <div class="plus-circle bg-carrez">+</div>
            </a>
        </div>
    </div>

    <!-- ERNMT -->
    <div class="row margin-top-two">

        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="diag-link" ng-href=""><img class="diag-icon" src="img/ernt.jpg" alt="Diagnostic de
l’installation électrique" /></a>
        </div>

        <div class="col-xs-12 col-lg-4 padding-none">
            <a class="dlink" href="/ernmt">
                <h3 class="diag-title color-ernmt">ERNMT</h3>
            </a>
            <h4 class="diag-subtitle">État des risques naturels, miniers et technologiques</h4>
        </div>

        <div class="col-xs-12 col-lg-3 padding-none">
            <div class="validite-box bg-ernmt center-block">
                <p class="validite-text ">6 mois</p>
            </div>
        </div>

        <div class="col-xs-12 col-lg-3 padding-none">
            <p class="diag-description">Tout bien situé dans une zone de sismicité ou une zone couverte par un plan de prévention
            </p>
        </div>
        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="dlink" href="/ernmt">
                <div class="plus-circle bg-ernmt">+</div>
            </a>
        </div>
    </div>

    <!-- Termites -->
    <div class="row margin-top-two">

        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="diag-link" ng-href=""><img class="diag-icon" src="img/termites.jpg" alt="Diagnostic de
l’installation électrique" /></a>
        </div>

        <div class="col-xs-12 col-lg-4 padding-none">
            <a class="dlink" href="/termites">
                <h3 class="diag-title color-termites">Termites</h3>
            </a>
            <h4 class="diag-subtitle">État du bâtiment relatif à la présence de termites</h4>
        </div>

        <div class="col-xs-12 col-lg-3 padding-none">
            <div class="validite-box bg-termites center-block">
                <p class="validite-text ">6 mois</p>
            </div>
        </div>

        <div class="col-xs-12 col-lg-3 padding-none">
            <p class="diag-description">Tout bien situé dans une zone à risque définie par arrêté
            </p>
        </div>
        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="dlink" href="/termites">
                <div class="plus-circle bg-termites">+</div>
            </a>
        </div>
    </div>

    <!-- Plomb -->
    <div class="row margin-top-two">

        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="diag-link" ng-href=""><img class="diag-icon" src="img/plomb.jpg" alt="Diagnostic de
l’installation électrique" /></a>
        </div>

        <div class="col-xs-12 col-lg-4 padding-none">
            <a class="dlink" href="/plomb">
                <h3 class="diag-title color-plomb">Plomb</h3>
            </a>
            <h4 class="diag-subtitle">Risques d'exposition au plomb</h4>
        </div>

        <div class="col-xs-12 col-lg-3 padding-none">
            <div class="validite-box bg-plomb center-block">
                <p class="validite-text ">1 an si positif</p>
            </div>
        </div>

        <div class="col-xs-12 col-lg-3 padding-none">
            <p class="diag-description">Tout bien à usage d'habitation construit avant 1949
            </p>
        </div>
        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="dlink" href="/plomb">
                <div class="plus-circle bg-plomb">+</div>
            </a>
        </div>
    </div>

    <!-- Amiante -->
    <div class="row margin-top-two">

        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="diag-link" ng-href=""><img class="diag-icon" src="img/amiante.jpg" alt="Diagnostic de
l’installation électrique" /></a>
        </div>

        <div class="col-xs-12 col-lg-4 padding-none">
            <a class="dlink" href="/amiante">
                <h3 class="diag-title color-amiante">Amiante</h3>
            </a>
            <h4 class="diag-subtitle">État d'amiante ou DAPP</h4>
        </div>

        <div class="col-xs-12 col-lg-3 padding-none">
            <div class="validite-box bg-amiante center-block">
                <p class="validite-text ">illimitée</p>
            </div>
        </div>

        <div class="col-xs-12 col-lg-3 padding-none">
            <p class="diag-description">Tout bien construit avant juillet 1997. Expiration sur le rapport si présence d'amiante
            </p>
        </div>
        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="dlink" href="/amiante">
                <div class="plus-circle bg-amiante">+</div>
            </a>
        </div>
    </div>

    <!-- Electricité -->
    <div class="row margin-top-two">

        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="dlink" ng-href=""><img class="diag-icon" src="img/electricite.jpg" alt="Diagnostic de
l’installation électrique" /></a>
        </div>

        <div class="col-xs-12 col-lg-4 padding-none">
            <a class="diag-link" href="/electricite">
                <h3 class="diag-title color-electricite">Électricité</h3>
            </a>
            <h4 class="diag-subtitle">État de l'installation électrique</h4>
        </div>

        <div class="col-xs-12 col-lg-3 padding-none">
            <div class="validite-box bg-electricite center-block">
                <p class="validite-text ">3 ans</p>
            </div>
        </div>

        <div class="col-xs-12 col-lg-3 padding-none">
            <p class="diag-description">Tout bien d'habitation disposant d'une installation électrique de plus de 15 ans.
            </p>
        </div>
        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="dlink" href="/electricite">
                <div class="plus-circle bg-electricite">+</div>
            </a>
        </div>
    </div>

    <!-- Gaz -->
    <div class="row margin-top-two">

        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="diag-link" ng-href=""><img class="diag-icon" src="img/gaz.jpg" alt="Diagnostic de
l’installation électrique" /></a>
        </div>

        <div class="col-xs-12 col-lg-4 padding-none">
            <a class="dlink" href="/gaz">
                <h3 class="diag-title color-gaz">Gaz</h3>
            </a>
            <h4 class="diag-subtitle">État de l'installation au gaz</h4>
        </div>

        <div class="col-xs-12 col-lg-3 padding-none">
            <div class="validite-box bg-gaz center-block">
                <p class="validite-text ">3 ans</p>
            </div>
        </div>

        <div class="col-xs-12 col-lg-3 padding-none">
            <p class="diag-description">Tout bien d'habitation disposant d'une installation au gaz de plus de 15 ans.
            </p>
        </div>
        <div class="col-xs-12 col-lg-1 padding-none">
            <a class="dlink" href="/gaz">
                <div class="plus-circle bg-gaz">+</div>
            </a>
        </div>
    </div>

    <div class="row margin-top-three">
        <div class="col-xs-12 padding-none">
            <h2 class="margin-bottom-none">Des diagnostics immobiliers dans toute la France</h2>
        </div>

    </div>
    <div class="row margin-top-two">
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-paris" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Paris</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-nice" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Nice</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-dijon" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Dijon</h3>
            </a>
        </div>
    </div>
    <div class="row margin-top-two">
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-marseille" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Marseille</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-toulouse" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Toulouse</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-rennes" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Rennes</h3>
            </a>
        </div>
    </div>
    <div class="row margin-top-two">
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-lyon" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Lyon</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-bordeaux" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Bordeaux</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-tours" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Tours</h3>
            </a>
        </div>
    </div>
    <div class="row margin-top-two">
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-grenoble" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Grenoble</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-angers" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Angers</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-creteil" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Creteil</h3>
            </a>
        </div>
    </div>
    <div class="row margin-top-two">
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-saint-etienne" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Saint-Étienne </h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-lille" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Lille</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-melun" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Melun</h3>
            </a>
        </div>
    </div>
    <div class="row margin-top-two">
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-nantes" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Nantes </h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-strasbourg" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Strasbourg</h3>
            </a>
        </div>
        <div class="col-xs-12 col-md-4 padding-none">
            <a href="/diagnostic-immobilier-lyon" class="home-diags-cards__city-text">
                <h3>Diagnostic immobilier Lyon</h3>
            </a>
        </div>
    </div>

    <div class="row margin-top-two separator-athens-gray">

    </div>

    <div class="row">
        <div class="col-xs-12 padding-none">
            <h2 class="fnt-38 roman black">Les diagnostics obligatoires</h2>
        </div>
        <div class="col-xs-12 padding-none">
            <p class="fnt-22 roman black">
                Vous vendez ou louez votre appartement, et vous vous demandez quels sont les diagnostics obligatoires à effectuer ? Le diagnostics Amiante n’expire pas, vous pouvez donc légalement le conserver et le présenter, Le diagnostic de performance énergétique
                est valide 10 ans, si il a été effectué après 2012. Le diagnostic Carrez expire si la surface a été modifiée (cloisons, petit travaux). Si l’installation électrique date d’il y a moins de 15 ans, vous pouvez en présentant le consuel EDF,
                éviter de refaire le diagnostic Electricité. Nous recommandons tout de même au vendeur ou au bailleur de ne pas conserver leurs anciens diagnostics. Une fois le diagnostiqueur sur place, le coût marginal d’un diagnostic supplémentaire
                est faible et cela permet de rassurer l’acheteur avec un dossier complet récent.
            </p>
        </div>
    </div>

    <div class="row margin-bottom-three">

    </div>

</div>
