<!-- LIVERLEOAD-->

<script type="text/javascript">
    /*global $*/

    (function() {
        //require firebase
        /*global Firebase*/
        /*global localStorage*/
        var isDevEnv = function() {
            return window.location.hostname.indexOf('diags-javoche.c9users.io') !== -1;
        }
        if (!isDevEnv()) return;
        console.info('live-reload-enabled!');
        var ref = new Firebase("https://madev.firebaseio.com/diagsfront" + '/signals/reload');
        var counter = localStorage['livesync'] && parseInt(localStorage['livesync']) || 0;
        ref.on('value', function(snap) {
            if (snap.val() != counter) {
                localStorage['livesync'] = snap.val().toString();
                console.log(snap.val(), counter, 'reloading');
                window.location.reload();
            }
            else {
                console.log(snap.val(), counter, 'it-has-reload-ok');
            }
            //console.log('reload', snap.val(), sec);
        });
    })();
</script>