<div class="container" ng-controller="adminLogin" ng-show="show">
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1 class="text-center title-big title-color-sky-blue">
            <span class="title title-1">Diagnosti</span><span class="title title-2">cal</span>
        </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="form-tiny center-block max-w-500">
                <li>
                    <label class="diag46">Email</label>
                    <input type="email" id="inputEmail" ng-model="_login.email" class="diag fullwidth" placeholder="Email address" required="" autofocus="">
                </li>
                <li>
                    <label class="diag46">Password</label>
                    <input type="password" ng-model="_login.password" id="inputPassword" class="diag fullwidth" placeholder="Password">
                </li>
                <li>
                    <label class="diag46 avenir-medium fnt-16 black">Remember password</label>
                    <nice-check-box class="diag46" template='sky-blue' model="_login.rememberPass"></nice-check-box>
                </li>
                <li>
                    <button ng-disabled="sendingRequest" class="btn  diag-btn-main" ng-click="login()">Sign in</button>
                    <output name="" ng-show="loginFailedTimes>3">
                        <p class="text-center">Or</p>
                        <button ng-disabled="sendingRequest || !_login.email" class="btn btn-lg btn-info btn-block" ng-click="resetPassword()">Reset password</button>
                    </output>
                    <my-alerts add="addAlert" />
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">

        </div>
    </div>

</div>
