<div class="container">
    <type-list></type-list>
</div>
<modal-confirm open="confirm"></modal-confirm>


<script type="text/ng-template" id="typeFilter.html">
    <ul class="form-tiny center-block float-right">
        <li>
        	<label>Code</label>
        	<input ng-model="model.filter.fields.code" placeholder="code"/>
        </li>
        <!--
        <li>
        	<label>Parent</label>
        	<input ng-model="model.filter.fields._parent_code" placeholder="parent code"/>
        </li>
        -->
    </ul>
</script>

