<div class="container">
    <user-list></user-list>
</div>
<modal-confirm open="confirm"></modal-confirm>


<script type="text/ng-template" id="userFilter.html">
    <ul class="form-tiny center-block float-right">
        <li>
        	<label>Type</label>
        	<input ng-model="model.filter.fields.userType" placeholder="userType"/>
        </li>
        <li>
        	<label>Email</label>
        	<input ng-model="model.filter.fields.email" placeholder="email"/>
        </li>
    </ul>
</script>

