<output ng-controller="fullpage">
    <my-alerts add="notify" directive="notify" stacked="false" settings="{clickDismissable:false}"></my-alerts>
    <modal-confirm open="openConfirm"></modal-confirm>
    <div id="fullpage">
        <div class="section" data-anchor="question1">
            <div ng-include="'views/partials/partial.question1.html'"></div>
        </div>
        <div class="section" data-anchor="question2">
            <div ng-include="'views/partials/partial.question2.html'"></div>
        </div>
        <div class="section" data-anchor="question3">
            <div ng-include="'views/partials/partial.question3.html'"></div>
        </div>
        <div class="section" data-anchor="question4">
            <div ng-include="'views/partials/partial.question4.html'"></div>
        </div>
        <div class="section" data-anchor="question5">
            <div ng-include="'views/partials/partial.question5.address.html'"></div>
        </div>
        <div class="section" data-anchor="question6">
            <div ng-include="'views/partials/partial.question6.html'"></div>
        </div>
        <div class="section" data-anchor="question7">
            <div ng-include="'views/partials/partial.question7.html'"></div>
        </div>
        <div class="section" data-anchor="diags">
            <div ng-include="'views/partials/partial.diags.html'"></div>
        </div>
        <div class="section" data-anchor="calendar-timepicker">
            <div ng-include="'views/partials/partial.calendar-timepicker.html'"></div>
        </div>
        <div class="section" data-anchor="confirm-and-save">
            <div class="slide" ng-include="'views/partials/confirm-and-save-details.html'">
            </div>
            <div class="slide" ng-include="'views/partials/confirm-and-save-auth.html'">
            </div>
            <div class="slide" ng-include="'views/partials/confirm-and-save-pay.html'">
            </div>
        </div>
    </div>
    <span data-spinner show="state.working"></span>
    <!-- spinner -->
    <span data-debug show="showDebug"></span>
</output>
<script type="text/javascript" src="js/booking.fullscreen.js"></script>