<div class="" ng-controller="adminDashboard">
    <div class="row">
        <div class="col-sm-12 padding-none">
            <ol class="breadcrumb">
                <li>Dashboard</li>
            </ol>
        </div>
    </div>
    <div class="row padding-three">
        <div class="col-sm-12 padding-none">
            <div class="jumbotron2">
                <h1>Dashboard</h1>
                <h4>{{session().firstName || session().email}}, Bienvenue dans votre tableau de bord</h4>
                <h5 ng-show="userIs('admin')" class="margin-top-two">Shorcuts</h5>
                <h6 ng-show="userIs('admin')">Open <a href="/" target="_blank" >booking</a> in a new tab.</h6>
            </div>
        </div>
    </div>
    <div class="row padding-one">
        <div class="col-sm-12">
            <div ng-if="session().userType=='diag'" ng-include=" 'views/diags/backoffice/partials/dashboard.diag.html' ">
            </div>
            <div ng-if="session().userType=='client'" ng-include=" 'views/diags/backoffice/partials/dashboard.client.html' ">
            </div>
            <div ng-if="session().userType=='admin'" ng-include=" 'views/diags/backoffice/partials/dashboard.admin.html' ">
            </div>
        </div>
    </div>
</div>
