<div class="container-fluid backoffice-wrapper" ng-if="userIs('admin')" ng-controller="coupon-controller">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-none">
                <ol class="breadcrumb">
                    <li><a class="link" ng-click="route('dashboard')">Tableau de bord</a></li>
                    <li><a class="link" ng-click="route('clients')">Clients</a></li>
                    <li>
                        <a class="link" ng-click="goBack()" ng-bind="getOwnerEmail()"></a>
                    </li>
                    <li ng-show="!item._id" ng-bind="'New discount coupon'">
                        <li ng-show="item._id" ng-bind="'Discount coupon ' + item.code">
                        </li>
                </ol>
            </div>
        </div>
        <form name="form" class="row diags-row margin-bottom-two" autocomplete="off">
            <div class="col-sm-12 col-md-6">

                <!--CODE-->
                <div class="row margin-top-one">
                    <label>Code</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="state.working() || item._id" ng-model="item.code" class="diags-input" placeholder="" ng-required="true">

                </div>
                <div class="row  margin-top-quarter" ng-show="!item._id">
                    <button class="btn diags-btn btn-sm bg-azure-radiance" ng-disabled="state.working()" ng-click="generateCode()">Generate</button>
                </div>

                <!--DESCRIPTION-->
                <div class="row margin-top-one">
                    <label>Description</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="state.working()" ng-model="item.description" class="diags-input" placeholder="" ng-required="true">
                </div>

                <!--DISCOUNT-->
                <div class="row margin-top-one">
                    <label>Discount (%)</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="state.working()" ng-model="item.discount" class="diags-input" placeholder="0 to 100" ng-required="true">
                </div>

                 <!--COMMISSION %-->
                <div class="row margin-top-one">
                    <label>Commission (%)</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="state.working()" ng-model="item.commission" ng-change="recalculateCommissionAmount()" class="diags-input" placeholder="0 to 100" ng-required="false">
                </div>
                
                 <!--COMMISSION AMOUNT-->
                <div class="row margin-top-one">
                    <label>Commission Amount (Sum of orders price)</label>
                </div>
                <div class="row  margin-top-half">
                    <input ng-disabled="state.working()" ng-model="item.commissionAmount" class="diags-input" placeholder="" ng-required="false" ng-readonly="true">
                </div>



            </div>
            <div class="col-sm-12 col-md-6">

                <div ng-show="hasOrders()">
                    <div class="row margin-top-one" >
                        <label>Used by Orders</label>
                    </div>
                    <div class="row  margin-top-half" ng-repeat="(key,order) in  item.usedByOrders" ng-show="getOrderLink(order._id)" bind-html-compile="getOrderLink(order._id)">
                    </div>
                </div>
                
                  <div ng-show="hasUsers()">
                    <div class="row margin-top-one" >
                        <label>Used by users</label>
                    </div>
                    <div class="row  margin-top-half" ng-repeat="(key,doc) in  item.usedByUsers" ng-bind="doc.email">
                    </div>
                </div>

                <!--
                <div class="row margin-top-one dev-block" ng-if="isDevEnv()">
                    <p>This block will appear only in preprod</p>
                    {[{item | json }]}
                </div>
                -->
            </div>
        </form>
        <div class="row diags-row margin-bottom-two">
            <div class="col-sm-12">
                <button ng-disabled="state.working() || form.$invalid" class="btn diags-btn bg-azure-radiance" ng-click="form.$valid && save()">Enregistrer</button>
                <button ng-disabled="state.working()" class="btn diags-btn bg-azure-radiance" ng-click="goBack()">Annuler</button>
                <button ng-show="item._id" ng-disabled="state.working()" class="btn diags-btn bg-azure-radiance " ng-click="remove()">Supprimer</button>
            </div>
        </div>
    </div>
</div>

</div>
