<!--
<div class="row ">
    <div class="col-xs-12 col-md-6 col-lg-3" ng-repeat="d in diagSlots.get() track by $index">
        <div class="diags-date-day-wrapper">
            <div class="diags-date-day-header" ng-bind="d.label()"></div>
            <div ng-repeat="(key,range) in d.slots track by $index" ng-class="{'diags-date-day-item':true,'selected':dateSlotSelected(range)}">
                <div class="diags-date-day-item-check-wrapper">
                    <nice-check-box class="diag46" template='diags-date-slot' model="item" data="range" click="unwrapRange"></nice-check-box>
                </div>
                <div class="diags-date-day-item-description-wrapper">
                    <div class="time-price" ng-bind="drawRange(range)||'1h - 224 €'">
                    </div>
                    <div class="diag-guy" ng-bind="range.name||'Pepe, G'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<table class="table table-striped table-condensed unselectable questions dg-dates" ng-repeat="d in diagSlots.get() track by $index" ng-show="d.slots.length>0">
    <thead>
        <tr>
            <th><b ng-bind="d.label()"></b></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(key,range) in d.slots track by $index" ng-class="{'link':true,'selected':dateSlotSelected(range)}" ng-click="unwrapRange(range)">
            <td>
                <span class="time-price" ng-bind="drawRange(range)||'1h - 224 € &nbsp;'">
                </span>
                <span class="diag-guy" ng-bind="range.name||'Pepe, G'">
                </span>
            </td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-sm-12 col-md-12 margin-top-quarter">
        <button class="btn md-margin-top-one  diag-btn-main diag-btn-width306 center" ng-disabled="state.working() || diagSlots.backIsDisabled()" ng-click="diagSlots.back()">Créneau précédent</button>
    </div>
    <div class="col-sm-12 col-md-12 margin-top-quarter">
        <button class="btn md-margin-top-one  diag-btn-main diag-btn-width306 center" ng-disabled="state.working() || diagSlots.nextIsDisabled()" ng-click="diagSlots.next()">Créneau suivant</button>
    </div>
    <div class="col-sm-12 col-md-12 margin-top-quarter">
        <button class="btn md-margin-top-one  diag-btn-main diag-btn-width306 center" ng-disabled="state.working()" ng-click="diagSlots.init()">Refresh</button>
    </div>
</div>