<div class="row margin-top-one">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="row margin-top-one">
            <label class="unselectable">Description</label>
        </div>
        <div class="row margin-top-quarter">
            <input class="diags-input minimal fullwidth" ng-disabled="true" ng-value="orderDescription()">
        </div>
    </div>
</div>
<div class="row margin-top-one">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="row margin-top-half">
            <label class="unselectable">Client</label>
        </div>
        <div class="row margin-top-quarter">
            <input ng-disabled="state.working() || item._id" type="text" class="diags-input" ng-model="item._client" placeholder="Client" uib-typeahead="client as client.email for client in getClients($viewValue) | limitTo:8" typeahead-loading="LoadingClients||'Loading clients. . .'"
                typeahead-no-results="noResults">
        </div>
        <div class="row margin-top-half">
            <label class="unselectable">Diag Man</label>
        </div>
        <div class="row margin-top-quarter">
            <input ng-disabled="state.working()" type="text" class="diags-input" ng-model="item._diag" placeholder="Diag" uib-typeahead="diag as diag.email for diag in getDiags($viewValue) | limitTo:8" typeahead-loading="LoadingDiags||'Loading diags...'" typeahead-no-results="noResults">
        </div>
        <div class="row margin-top-half">
            <label class="unselectable">Adresse</label>
        </div>
        <div class="row margin-top-quarter">
            <input ng-disabled="state.working() || item._id" class="diags-input" data-address model="item" field="address" city="city" department="department" region="region" country="country" post-code="postCode" type="text" placeholder="Ex: 102 rue Réaumur 75002 Paris, France">
        </div>
        <div class="row " ng-show="!item.info.house">
            <div class="col-md-4 padding-none">
                <div class="row margin-top-half">
                    <label class="unselectable">Batiment</label>
                </div>
                <div class="row margin-top-quarter">
                    <input ng-disabled="state.working() || item._id" class="diags-input sm" ng-model="item.info.addressBatiment" placeholder="Batiment">
                </div>
            </div>
            <div class="col-md-4 padding-none">
                <div class="row margin-top-half">
                    <label class="unselectable">Code</label>
                </div>
                <div class="row margin-top-quarter">
                    <input ng-disabled="state.working() || item._id" class="diags-input sm" ng-model="item.info.addressCode" placeholder="Code">
                </div>
            </div>
            <div class="col-md-4 padding-none">
                <div class="row margin-top-half">
                    <label class="unselectable">Étage</label>
                </div>
                <div class="row margin-top-quarter">
                    <input ng-disabled="state.working() || item._id" class="diags-input sm" ng-model="item.info.addressEtage" placeholder="Étage">
                </div>
            </div>
        </div>
        <div class="row margin-top-half">
            <label class="unselectable">Questions</label>
        </div>
        <div class="row margin-top-quarter">
            <table class="table table-striped table-condensed unselectable questions">
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-xs-12 padding-none">
                                <label class="minimal">Louer</label>
                                <div class="inline-block">
                                    <pretty-radio ng-disabled="item._id!=undefined" color="blue" value="'0'" ng-model="item.info.buildingState" label="false"></pretty-radio>
                                </div>
                            </div>
                            <div class="col-xs-12 padding-none">
                                <label class="minimal">Vendre</label>
                                <div class="inline-block">
                                    <pretty-radio ng-disabled="item._id!=undefined" color="blue" value="'1'" ng-model="item.info.buildingState" label="false"></pretty-radio>
                                </div>
                            </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 padding-none">
                                <label class="minimal">Maison</label>
                                <div class="inline-block">
                                    <pretty-radio ng-disabled="item._id" color="blue" value="'0'" ng-model="item.info.buildingType" label="false"></pretty-radio>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 padding-none">
                                <label class="minimal">Appartement</label>
                                <div class="inline-block">
                                    <pretty-radio ng-disabled="item._id" color="blue" value="'1'" ng-model="item.info.buildingType" label="false"></pretty-radio>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-12 padding-none">
                                <label class="minimal">Commercial / Bureaux</label>
                                <div class="inline-block">
                                    <pretty-radio ng-disabled="item._id" color="blue" value="'2'" ng-model="item.info.buildingType" label="false"></pretty-radio>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="unselectable">
                    <td>
                        <label class="minimal">Size</label>
                        <select ng-disabled="item._id" class="diags-input minimal" ng-model="item.info.squareMeters" ng-options="item as item for item in squareMeters">
                            <option value="">Select</option>
                        </select>
                    </td>
                </tr>
                <tr class="unselectable">
                    <td>
                        <label class="minimal">Construction Date</label>
                        <select ng-disabled="item._id" class="diags-input minimal" ng-model="item.info.constructionPermissionDate" ng-options="item as item for item in constructionPermissionDate">
                            <option value="">Select</option>
                        </select>
                    </td>
                </tr>
                <tr class="unselectable">
                    <td>
                        <label class="minimal">Gaz</label>
                        <select ng-disabled="item._id" class="diags-input minimal" ng-model="item.info.gasInstallation" ng-options="item as item for item in gasInstallation">
                            <option value="">Select</option>
                        </select>
                    </td>
                </tr>
                <tr class="unselectable">
                    <td>
                        <label class="minimal">Electricity</label>
                        <select ng-disabled="item._id" class="diags-input minimal" ng-model="item.info.electricityInstallation" ng-options="item as item for item in electricityInstallation">
                            <option value="">Select</option>
                        </select>
                    </td>
                </tr>
            </table>
            </div>
            <div class="row margin-top-half">
                <label class="unselectable">Liste diags</label>
            </div>
            <div class="row margin-top-quarter">
                <table class="table table-striped table-condensed unselectable">
                    <tr ng-repeat="(k,o) in item.diags" class="unselectable">
                        <td>
                            <img class="img-responsive" ng-src="{[{diagIcon(k)}]}" />
                        </td>
                        <td style="vertical-align: inherit;" ng-class="{'diag-no-selected':!o,link:true}" ng-click="toggleDiagType(k)">
                            {[{diagNameConvertion(k)}]}
                            <div ng-show="orderQuestion.isDiagTypeMandatory(k,diags)" class='float-right small'>Mandatory</div>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row margin-top-half">
                <label class="unselectable">Date du diagnostic</label>
            </div>
            <div class="row margin-top-quarter">
                <input ng-disabled="true" class="diags-input" ng-value="momentDateTime(item.start)" placeholder="Start">
            </div>
            <div class="row margin-top-quarter relative" ng-if="false">
                <input ng-show="item._id" ng-disabled="true" class="diags-input" ng-value="momentDateTime(item.start)" placeholder="Adresse">
                <input ng-show="!item._id" ng-disabled="isPaid() || state.working() || is(['client','diag'])" type="text" class="max-w-150 diags-input" datetime-picker="dd/MM/yyyy HH:mm " ng-model="item.start" min-date="datepicker.minDate" max-date="datepicker.maxDate"
                    init-date="item.start" ng-init="start.opened=false" is-open="start.opened" date-disabled="false" close-text="Close" />
                <button ng-show="!item._id" ng-disabled="state.working() || is(['client','diag'])" type="button" class="btn diags-btn" ng-click="start.opened = !start.opened"><i class="glyphicon glyphicon-calendar"></i></button>
            </div>
            <div class="row margin-top-half">
                <label class="unselectable">Date end</label>
            </div>
            <div class="row margin-top-quarter">
                <input ng-disabled="true" class="diags-input" ng-value="momentDateTime(item.end)" placeholder="End">
            </div>

            <div class="row margin-top-one">
                <label class="unselectable">Prix TTC</label>
            </div>
            <div class="row margin-top-quarter">
                <input ng-show="!showManualPriceInput()" ng-disabled="true" type="text" class="diags-input" ng-value="item.price">


                <form name="manualPriceForm" class="apply-button-wrapper" ng-show="showManualPriceInput()" >
                    <input name="priceInput" ng-disabled="false" type="text" ng-keyup="applyManualPrice($event,true)" class="diags-input" ng-value="item.price">
                    <button ng-show="showPriceApplyButton()" ng-click="applyManualPrice($event)" class="apply-btn btn btn-sm bg-madison">Appliquer</button>
                </form>


            </div>
            <div class="row margin-top-one">
                <label class="unselectable">PriceHT</label>
            </div>
            <div class="row margin-top-quarter">
                <input ng-disabled="true" type="text" class="diags-input" ng-model="item.priceHT">
            </div>
            <div class="row margin-top-one">
                <label class="unselectable">Reversement Diag</label>
            </div>
            <div class="row margin-top-quarter">
                <input ng-disabled="true" type="text" class="diags-input" ng-model="item.diagRemunerationHT">
            </div>
            <div class="row margin-top-one">
                <label class="unselectable">RevenueHT</label>
            </div>
            <div class="row margin-top-quarter">
                <input ng-disabled="true" type="text" class="diags-input" ng-model="item.revenueHT">
            </div>
            <div class="row margin-top-half">
                <label class="unselectable">Statut</label>
            </div>
            <div class="row margin-top-quarter">
                <input ng-disabled="true" type="text" class="diags-input" ng-value="getOrderStatus()">
            </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="row margin-top-half" ng-show="isOrderClientAgency()">
                <label class="unselectable">Propriétaire</label>
            </div>
            <div class="row margin-top-quarter" ng-show="isOrderClientAgency()">
                <input ng-disabled="state.working()" class="diags-input" ng-model="item.landLordFullName" placeholder="Propriétaire">
            </div>
            <div class="row margin-top-quarter" ng-show="isOrderClientAgency()">
                <input ng-disabled="state.working()" class="diags-input" ng-model="item.landLordEmail" placeholder="Propriétaire Email">
            </div>
            <div class="row margin-top-quarter" ng-show="isOrderClientAgency()">
                <input ng-disabled="state.working()" class="diags-input" ng-model="item.landLordPhone" placeholder="Propriétaire Phone">
            </div>
            <div class="row margin-top-quarter" ng-show="isOrderClientAgency()">
                <input ng-disabled="state.working()" class="diags-input" data-address model="item" field="landLordAddress" placeholder="Propriétaire Adresse">
            </div>
            <div class="row margin-top-half">
                <label class="unselectable">Observations</label>
            </div>
            <div class="row margin-top-quarter">
                <textarea ng-disabled="state.working()" class="diags-input fullwidth min-height-100 no-resize" ng-model="item.obs"></textarea>
            </div>
            <div class="row margin-top-one">
                <div ng-include="'/views/diags/backoffice/partials/order-details-pdf-files.html'" includeReplace></div>
            </div>
            <div class="row margin-top-half">
                <label class="unselectable">Remise des clés</label>
            </div>
            <div class="row margin-top-one" ng-show="true">
                <!-- KEYS WHERE -->
                <div class="dropdown with-caret">
                    <button class="btn btn-default diags-input dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span>{[{__keysWhereSelectLabel()}]}</span>
                    <span class="caret"></span>
                </button>
                    <ul class="dropdown-menu diags-select" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="(k,v) in __keysWhereItems">
                            <a class="link" ng-click="__keysWhereSelect(k,v)">{[{k}]}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row margin-top-half">
                <input ng-disabled="item.keysWhere!=='other'" data-address model="item" field="keysAddress" class="diags-input" placeholder="Adresse">
            </div>
            <div class="row margin-top-half">
                <!-- KEYS TIME FROM -->
                <div class="dropdown with-caret">
                    <button ng-disabled="state.working() || item._id" class="btn btn-default diags-input half dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span>{[{__keysTimeFromSelectLabel}]}</span>
                    <span class="caret"></span>
                </button>
                    <ul class="dropdown-menu diags-select" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="(k,v) in __keysTimeFromItems">
                            <a class="link" ng-click="__keysTimeFromSelect(k,v)">{[{k}]}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row margin-top-half">
                <!-- KEYS TIME TO -->
                <div class="dropdown with-caret">
                    <button ng-disabled="state.working() || item._id" class="btn btn-default diags-input half dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span>{[{__keysTimeToSelectLabel}]}</span>
                    <span class="caret"></span>
                </button>
                    <ul class="dropdown-menu diags-select" aria-labelledby="dropdownMenu1">
                        <li ng-repeat="(k,v) in __keysTimeToItems">
                            <a class="link" ng-click="__keysTimeToSelect(k,v)">{[{k}]}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row margin-top-half" ng-show="!item._id || userIs('admin')">
                <!--  -->
                <label class="unselectable">RDV</label>
            </div>
            <div class="row margin-top-quarter">
                <out ng-show="!rdvConditions()">
                    <div ng-show="!item.info.squareMeters" class="alert alert-info" role="alert">Answer question size.</div>
                    <div ng-show="!item._client" class="alert alert-info" role="alert">Choice a client.</div>
                </out>
                <button ng-show="isRDVSelectButtonActivated()" ng-click="activateSlotSelectionManually()" ng-disabled="state.working()" class="btn diags-btn bg-madison margin-top-quarter">
                Modifier</button>
                <div ng-show="rdvConditions()" style="max-height: 600px;overflow: auto;">
                    <div ng-include="'/views/diags/backoffice/admin/admin-order-details-slots.html'" includeReplace></div>
                </div>
            </div>

            <div class="row margin-top-one">
                <label class="unselectable">Prix TVA</label>
            </div>
            <div class="row margin-top-quarter">
                <input ng-disabled="true" type="text" class="diags-input" ng-value="item.vatPrice">
            </div>

            <div class="row margin-top-one" ng-show="showDiscountCoupon()">
                <label class="unselectable">Discount coupon</label>
            </div>
            <div class="row margin-top-quarter" ng-show="showDiscountCoupon()">
                <a ng-href="coupons/edit/{[{item._coupon._id}]}" ng-bind="item._coupon.description+' ('+item._coupon.discount+'%)'"></a>
            </div>


        </div>
    </div>
    <div class="row" ng-if="false">
        <div class="col-xs-12 col-sm-12 col-md-6 ">

        </div>
    </div>
    <div class="row margin-top-one" ng-show="item.status=='created'">
        <div class="alert alert-info" role="alert">Admin note:
            <br> An order with the status created means that it was created successfuly using the booking or superadmin but it was not paid yet</div>
    </div>
    <div class="row margin-top-one" ng-show="item.status=='ordered'">
        <div class="alert alert-info" role="alert">Admin note:
            <br> An order with the status ordered means that it was created successfuly using the booking system
            <br> and it was delegated to a landlord.</div>
    </div>
    <div class="row margin-top-one" ng-show="item.status=='prepaid'">
        <div class="alert alert-info" role="alert">Admin note:
            <br> An order with the status prepaid means that it was paid successfuly no metter how and the diag pdf is pending.</div>
    </div>
    <div class="row margin-top-one" ng-show="item.status=='delivered'">
        <div class="alert alert-info" role="alert">Admin note:
            <br> An order with the status delivered means that the diag pdf is uploaded but the payment is pending.</div>
    </div>
    <div class="row margin-top-one ">
        <div class="col-sm-12 diags-crud-buttons-col">
            <button ng-click="validate()" ng-disabled="state.working()" class="btn diags-btn bg-madison margin-top-quarter">Enregistrer</button>
            <button ng-show="!isPaid() && isOrderClientAgency()" ng-click="delegate()" ng-disabled="state.working()" class="btn diags-btn bg-madison margin-top-quarter">Delegate</button>
            <button ng-show="isPayButtonShown()" ng-click="pay()" ng-disabled="state.working()" class="btn diags-btn bg-blaze-orange margin-top-quarter">Payer</button>
            <button ng-show="isPayButtonShown()" ng-click="payWithCheque()" ng-disabled="state.working()" class="btn diags-btn bg-blaze-orange margin-top-quarter">Payer par chèque</button>
            <button ng-click="cancel()" ng-disabled="state.working()" class="btn diags-btn bg-azure-radiance margin-top-quarter">Annuler</button>
            <button ng-click="delete()" ng-disabled="state.working() || !item._id" class="btn diags-btn bg-azure-radiance margin-top-quarter">Supprimer</button>
        </div>
    </div>
