<!--
type: {type:String,default:'Landlord'}, //(Landlord / Agency / Foncière)
    address: String,
    tel: String,
    siret: String,
    discount: {type:Number,default:0},
    email: String,
    password: String,
    -->
<div class="container" ng-controller="adminUsers" ng-init="routeParams({prevRoute:'clients'})"
>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Clients</h3>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="create()">New</button>
                <!--
                <button ng-disabled="s.selectedItems===0" type="button" class="btn btn-default" ng-click="delete()">Delete</button>
                -->
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <!--<th>#</th>-->
                            <th>Email</th>
                            <th>Tel</th>
                            <th>Siret</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key,item) in items | filter:{userType:'client'}" ng-click="click(item,'clients/edit/')">
                            <!--
                            <td>
                                <check-box/ val="item._id" push="selectedItems" ng-click="select()">
                            </td>
                            -->
                            <td>{{item.email}}</td>
                            <td>{{item.tel}}</td>
                            <td>{{item.siret}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
        </div>
    </div>
    <!-- <my-alerts add="message"></my-alerts> -->
    <modal-confirm open="confirm"></modal-confirm>
</div>
