<div class="container">
    <diags-list></diags-list>
</div>
<modal-confirm open="confirm"></modal-confirm>


<!--


<div class="container" ng-controller="adminDiags">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Diags</h3>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="create()">New</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Comission</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key,item) in items" ng-click="click(item)">
                            
                            <td>{{item.email}}</td>
                            <td>{{item.tel}}</td>
                            <td>{{item.comission}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
        </div>
    </div>
    
    <modal-confirm open="confirm"></modal-confirm>
</div>
    -->