
<div class="container">
    <orders-list></orders-list>
</div>
<modal-confirm open="confirm"></modal-confirm>



<!--
<div class="container" ng-controller="adminOrders">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Orders</h3>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="create()">New</button>
<button type="button" class="btn btn-default" ng-click="refresh()">Refresh</button>
<button
ng-show="userIs(['admin'])"
 type="button" class="btn btn-default" ng-click="syncStripe()">Sync Payment status</button>                
                
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            
                            <th>Diag</th>
                            <th>Client</th>
                            <th>Where</th>
                            <th>When</th>
                            <th>Hour</th>
                            <th>Price</th>
                            <th>status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key,item) in items" ng-click="click(item)">
                            
                            <td>{{item._diag.email}}</td>
                            <td>{{item._client.email}}</td>
                            <td>{{item.address}}</td>
                            <td>{{momentFormat(item.diagStart,'DD-MM-YY')}}</td>
                            <td>
                                {{momentFormat(item.diagStart,'HH:mm')}}
                                 - 
                                {{momentFormat(item.diagEnd,'HH:mm')}}
                            </td>
                            <td>{{item.price}}</td>
                            <td>{{item.status}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer">
        </div>
    </div>
    
    <modal-confirm open="confirm"></modal-confirm>
</div>
-->
