<div class="container" ng-controller="adminDiagsEdit">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Diag Details</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="form-tiny center-block">
                        <li>
                            <label>Email</label>
                            <input ng-disabled="state.working()" type="email" ng-value="item.email" placeholder="Email">
                        </li>
                        <li>
                            <label>Password</label>
                            <input ng-disabled="state.working()" type="password" ng-model="item.password" placeholder="Password">
                        </li>
                        <li>
                            <label>First name</label>
                            <input type="text" ng-model="item.firstName" placeholder="First Name">
                        </li>
                        <li>
                            <label>Last name</label>
                            <input ng-disabled="state.working()" type="text" ng-model="item.lastName" placeholder="Last Name">
                        </li>
                        <li>
                            <label>Fixed Phone</label>
                            <input ng-disabled="state.working()" type="text" ng-model="item.fixedTel" placeholder="Fixed phone">
                        </li>
                        <li>
                            <label>Cell Phone</label>
                            <input ng-disabled="state.working()" type="text" ng-model="item.cellPhone" placeholder="CellPhone">
                        </li>
                        <li>
                            <label>Street Address</label>
                            <input ng-disabled="state.working()" type="text" data-address model="item" field="address" placeholder="Street Address" city="city" department="department" region="region" country="country" post-code="postCode">
                        </li>
                        <li>
                            <label>City</label>
                            <input ng-disabled="state.working()" type="text" disabled ng-model="item.city">
                        </li>
                        <li>
                            <label>Department</label>
                            <input ng-disabled="state.working()" type="text" disabled ng-model="item.department">
                        </li>
                        <li>
                            <label>Region</label>
                            <input ng-disabled="state.working()" type="text" disabled ng-model="item.region">
                        </li>
                        <li>
                            <label>Country</label>
                            <input ng-disabled="state.working()" type="text" disabled ng-model="item.country">
                        </li>
                        <li>
                            <label>Post Code</label>
                            <input ng-disabled="state.working()" type="text" disabled ng-model="item.postCode">
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="form-tiny center-block">
                        <li>
                            <label>Commission</label>
                            <input ng-disabled="state.working() || !userIs(['admin'])" type="text" ng-model="item.commission" placeholder="Commission">
                        </li>
                        <li>
                            <label>Priority</label>
                            <input ng-disabled="state.working() || !userIs(['admin'])" type="text" ng-model="item.priority" placeholder="priority">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <button ng-disabled="state.working() || requesting" class="btn btn-default" ng-click="validate()">Save</button>
            <button ng-disabled="state.working() || requesting" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button ng-disabled="!item._id || state.working() || requesting" class="btn btn-default" ng-click="delete()">Delete</button>
        </div>
    </div>
    <!--<my-alerts add="message"></my-alerts>-->
    <modal-confirm open="confirm"></modal-confirm>
</div>
