<div class="container well well-sm" ng-controller="adminOrdersEdit">
    <div class="row-fluid">
        <div class="col-sm-12 panel-heading">
            <h3 class="panel-title">Order Details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label>Diagnostiquer</label>
            <div class="form-group">
                <input class="form-control max-w-300" type="text" disabled ng-value="item._diag.firstName && item._diag.firstName + ' ' + item._diag.lastName || item._diag.email">
            </div>
            <div class="">
                <label>Landlord</label>
                <div class="form-group">
                    <input ng-disabled="true" type="text" class="form-control max-w-300" ng-model="item.landLordFullName" placeholder="Full Name">
                </div>
                <div class="form-group">
                    <input ng-disabled="true" type="text" class="form-control max-w-300" ng-model="item.landLordEmail" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label>Observations</label>
                <textarea ng-disabled="true" type="text" class="form-control min-height-100 no-resize" ng-model="item.obs" placeholder="Observations">
                </textarea>
            </div>
            <div class="form-group" ng-show="true">
                <label>Debriefing pdf file: {{(pdfFileInfo && "("+pdfFileInfo.filename+")")||"(not available yet)"}}</label>
                <div>
                    <button ng-disabled="!item.pdfId" class="btn btn-default" ng-click="downloadFile()">Download</button>
                    <i class="fa fa-question" tooltip-placement="top" uib-tooltip="Files are streamed directly from database. Please, be patient."></i>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="address">Address</label>
                <input ng-disabled="true" data-address model="item" field="address" name="address" type="text" placeholder="Diag Address" class="fullwidth form-control">
            </div>
            <div>
                <label>Date</label>
                <div class="form-group">
                    <input ng-disabled="true" type="text" class="form-control max-w-150" ng-value="momentFormat(item.diagStart,'DD-MM-YY HH:mm')" />
                </div>
            </div>
            <div class="form-group">
                <label>Keys Picking</label>
                <input type="text" disabled ng-model="item.keysAddress" class="form-control fullwidth v-margin-1" placeholder='Choice where to get the address' />
                <input type="text" disabled class="form-control fullwidth v-margin-1" ng-value="momentFormat(item.keysTime,'HH:mm')" />
            </div>
            <div class="form-group">
                <label>Diags</label>
                <div ng-repeat="(key,x) in diags" class="input-group" ng-show="!x.disabled" ng-if="item.diags[x.name]==true">
                    <span class="input-group-addon diags-checkbox">
                    <input 
ng-disabled="true"
                     type="checkbox" ng-model="item.diags[x.name]" ng-value="true">
                </span>
                    <input type="text" disabled class="check-label" value="{{x.label}}" aria-label="...">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="status">Status</label>
                <input type="text" disabled class="form-control max-w-100" ng-value="item.status" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Price (eur)</label>
                <input ng-disabled="true" type="number" class="form-control max-w-60 text-right" placeholder="Price" ng-model="item.price">
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-sm-12">
            <button ng-disabled="state.working() || requesting" class="btn btn-success" ng-click="pay()">Pay now</button>
        </div>
    </div>
</div>
<modal-confirm open="confirm"></modal-confirm>
