/*IFRAME*/

.booking-iframe {
    width: 360px;
    height: 864px;
    border: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}


/*EDITORS*/

.ace-render {}

.ace-render>iframe {
    width: 100%;
    min-height: 400px;
    margin: 0px;
    border: 0px;
    outline: 1px dashed rgba(0, 0, 0, .2);
}


/*HELPERS*/

.fnt-38 {
    font-size: 38px;
}

.fnt-22 {
    font-size: 22px;
}

.roman {
    font-family: 'Avenir-Roman';
}

.black {
    color: black;
}


/*SEPARATORS*/

.separator-athens-gray {
    background-color: #F1F3F7;
    height: 6px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}


/*DYNAMIC BLOCK*/

.dynamic-block {
    width: 100%;
    min-height: 100px;
    background-color: white;
}

.dynamic-block p {
    color: black;
    text-align: center;
}


/*SECTION PAGE: HOME_DIAG_CARDS*/

.home-diags-cards__city-text,
.home-diags-cards__city-text>h3 {
    color: black;
    font-family: 'Avenir-Roman';
    font-size: 22px;
    margin: 0px;
    line-height: 22px;
    margin-top: 15px;
}


/* DIAG ICONS, DIAG PAGES, DIAG TYPES*/

.diag-link {}

.diag-icon {
    display: block;
    margin: 0 auto!important;
    /* width: 104px; */
}

.diag-title {
    font-size: 36px;
    font-family: 'Avenir-Medium'!important;
    text-align: center;
    padding: 5px;
}

.diag-subtitle {
    font-size: 25px;
    color: black;
    font-family: 'Avenir-Medium'!important;
    text-align: center;
    max-width: 400px;
    display: block;
    margin: 0 auto!important;
    line-height: 33px;
    padding: 0px 5px;
}

.validite-box {
    width: 253px;
    height: 77px;
    border-radius: 10px;
    margin-top: 28px!important;
}

.validite-text {
    font-family: 'Avenir-Roman';
    font-size: 35px;
    color: white;
    text-align: center;
    line-height: 77px;
    margin: 0px;
}

.validite-title {
    font-size: 24px;
    color: #999999;
    text-align: center;
}

.diag-city {
    color: black;
    font-family: 'Avenir-Medium';
    font-size: 22px;
    margin: 0px;
    line-height: 22px;
    margin-top: 15px;
}

.diag-description {
    color: #000;
    font-family: 'Avenir-Roman';
    font-size: 18px;
    text-align: center;
    padding-bottom: 0;
    padding-top: 28px;
    max-width: 400px;
    display: block;
    margin: 0 auto!important;
}

.color-dpe {
    color: #01BB55;
}

.bg-dpe {
    background-color: #01BB55;
}

.color-carrez {
    color: #B45134;
}

.bg-carrez {
    background-color: #B45134;
}

.color-ernmt {
    color: #821E78;
}

.bg-ernmt {
    background-color: #821E78;
}

.color-termites {
    color: #7C0616;
}

.bg-termites {
    background-color: #7C0616;
}

.color-plomb {
    color: #0153A7;
}

.bg-plomb {
    background-color: #0153A7;
}

.color-amiante {
    color: #FF8B00;
}

.bg-amiante {
    background-color: #FF8B00;
}

.color-electricite {
    color: #CD0F23;
}

.bg-electricite {
    background-color: #CD0F23;
}

.color-gaz {
    color: #F8BD17;
}

.bg-gaz {
    background-color: #F8BD17;
}

.plus-circle {
    color: white;
    font-family: 'Avenir-Roman';
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    font-weight: 900;
    display: block;
    margin: 10px auto 40px auto!important;
}

@media screen and (min-width: 320px) {}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {
    .diag-title {
        font-size: 36px;
        font-family: 'Avenir-Roman';
        text-align: -webkit-left;
        padding-left: 5px;
        margin: 0px;
    }
    .diag-subtitle {
        font-size: 25px;
        color: black;
        font-family: 'Avenir-Roman';
        text-align: left;
        max-width: 400px;
        display: block;
        line-height: 33px;
        margin: 0px;
        padding: 10px 5px;
    }
    .plus-circle {
        margin: 28px;
    }
    .diag-icon {
        display: initial;
        margin: 0px
    }
}


/**/

div [bind-html-compile],
p [bind-html-compile],
span [bind-html-compile] {
    display: none;
}

.cssfx {}

.modal-backdrop {
    z-index: 999040!important;
}


/*
SMOTH
-webkit-text-stroke: .025em rgba(51,51,51,0.50);

*/

@font-face {
    font-family: 'Avenir-Light';
    src: url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Light.woff') format('woff'), url('../fonts/Avenir-Light.ttf') format('truetype'), url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Oblique';
    src: url('../fonts/Avenir-Oblique.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Oblique.woff') format('woff'), url('../fonts/venir-Oblique.ttf') format('truetype'), url('../fonts/Avenir-Oblique.svg#Avenir-Oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Book.woff') format('woff'), url('../fonts/Avenir-Book.ttf') format('truetype'), url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black';
    src: url('../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Black.woff') format('woff'), url('../fonts/Avenir-Black.ttf') format('truetype'), url('../fonts/Avenir-Black.svg#Avenir-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque-Regular';
    src: url('../fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BrandonGrotesque-Regular.woff') format('woff'), url('../fonts/BrandonGrotesque-Regular.ttf') format('truetype'), url('../fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Medium.woff') format('woff'), url('../fonts/Avenir-Medium.ttf') format('truetype'), url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Roman.woff') format('woff'), url('../fonts/Avenir-Roman.ttf') format('truetype'), url('../fonts/Avenir-Roman.svg#Avenir-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

output {
    padding: 0px;
    margin: 0px;
}

body {
    background: white;
    margin: 0px;
    padding: 0px;
}

body,
html {
    -webkit-text-size-adjust: none;
    height: 100%;
}

.modal-content {
    border: 0;
    border-radius: 5px;
    box-shadow: none;
}

.modal.fade {
    z-index: 99999999!important;
}

#wrapper {
    min-height: 100%;
    padding-bottom: 110px;
}

#footer {
    height: 110px;
    margin-top: -110px;
}

.footer__lemonway-icons {
    height: 35px;
}

.booking-date-row {
    background-color: #EDF9FF
}

.booking-descr-title {
    font-family: 'Open Sans', sans-serif;
    color: #5EE5AB;
    font-size: 14px;
    margin-left: 29px;
}

.booking-descr {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.diags-bg {
    background-color: #EDF5F9;
}

.diags-bg-block-40 {
    background-color: #EDF5F9;
    height: 43px;
}

.diags-bg-block-12 {
    background-color: #EDF5F9;
    height: 12px;
}

.diags-bg-block-80 {
    background-color: #EDF5F9;
    height: 84px;
}

.diags.navbar {
    border: none;
    border-radius: 0px;
    background: white;
    margin: 0px;
    min-height: 45px;
    /*height: 45px;*/
}

.diags .collapse.navbar-collapse {
    padding: 0px;
}

.diags .nav li {
    padding: 0px;
    height: 45px;
}

.diags .nav li a {
    font-family: 'Avenir-Book';
    color: #878787;
    font-size: 14px;
    line-height: 45px;
    padding: 1px 15px;
}

.diags .navbar-nav {
    margin: 0px;
}

.diags .nav.navbar-right li {
    width: 176px;
}

.diags .nav.navbar-right li a {
    /*margin-right: 17px;*/
    color: white;
}

.diags-navbar-2 .navbar-nav>li a.diag-link {
    font-family: 'Avenir-Book';
    font-size: 14px;
    color: #878787;
    /* line-height: 37px; */
    /* padding-top: 7px; */
    /* background: aliceblue; */
}

.dlink:hover,
.dlink:focus {
    text-decoration: none;
    outline: 0px;
}

.diags-navbar-2 .dropdown-menu a {
    width: 100%;
    height: 100%;
    line-height: 45px;
}

.btn-stack {
    width: 100%!important;
    max-width: none!important;
}

.diags-navbar-2 .navbar-nav>li>a.diag-button {
    line-height: 37px;
    height: 37px;
    padding: 0px 20px;
    margin: 2px 10px 0px 10px;
    border-radius: 20px;
    color: white;
    max-width: 232px;
    font-family: 'Avenir-Book';
    font-size: 14px;
    vertical-align: baseline;
}

.diags-navbar-2,
.diags-navbar-2 nav,
.diags-navbar-2 div,
.diags-navbar-2 ul,
.diags-navbar-2 li {
    border: 0px;
    text-shadow: none;
    outline: none;
    background: white;
    box-shadow: none;
    margin: 0px;
}

@media screen and (min-width: 768px) {
    .diags-navbar-2 a {
        display: inline-table!important;
    }
    .diags .nav {
        height: 45px!important;
        margin: 0px;
    }
    .diags .nav.navbar-right li {
        margin-left: 10px;
    }
    .diags .nav.navbar-right li a {
        margin-top: 7px;
        text-align: center;
    }
    .diags .nav.navbar-right {
        padding-left: 0px;
        margin-right: 88px
    }
    .diags .nav.navbar-right {
        padding-left: 14.8%;
    }
    .diags .nav.navbar-right li {
        width: 210px;
        padding: 0px 0px 0px 30px;
        text-align: center;
    }
}

@media screen and (min-width: 992px) {
    .diags-navbar-2 div,
    .diags-navbar-2 ul,
    .diags-navbar-2 li {
        padding: 0px;
    }
}

.container-fluid {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.diags-header {
    height: 45px;
    width: 100%;
    background: #FFFFFF;
}

ul.menu {
    padding-left: 14.8%;
}

ul.menu li {
    padding: 0px;
}

ul.menu li a {
    padding: 0px 0px 0px 30px;
}

.navbar-header {
    background: white;
}


/*GRID FIX*/

@media only screen and (min-width: 992px) {
    .diag-row .col-md-12,
    .diag-row .col-sm-12,
    .diag-row .col-md-6,
    .diag-row .col-sm-6 {
        padding: 0px;
    }
}

.btn.dropdown-toggle,
input.diag {
    height: 46px;
    background: white;
}

a.diag-btn {
    border-radius: 20px;
    line-height: 28px!important;
}

a.diag-btn-big {}

a.diag-btn:hover {}

a.diag-btn:active {}

a.diag-btn-success {
    background-color: #23DC8C!important;
}

a.diag-btn-success:hover {
    background-color: #23DC8C!important;
}

a.diag-btn-info {
    background-color: #00A9FF!important;
}

a.diag-btn-info:hover {
    background-color: #00A9FF!important;
}

.diag-btn-main:hover,
.diag-btn-main:active,
.diag-btn-main:focus {
    color: whitesmoke;
}

.diag-btn-main {
    background-color: #0A3967;
    height: 60px;
    width: 100%;
    font-family: Avenir-Medium;
    font-size: 18px;
    color: white;
}

.diag-btn-width306 {
    width: 306px;
}


/*FONT FAMILY HELPERS*/

.avenir-black {
    font-family: 'Avenir-Black';
}

.avenir-book {
    font-family: 'Avenir-Book';
}

.avenir-medium {
    font-family: 'Avenir-Medium';
}

.avenir-roman {
    font-family: 'Avenir-Roman';
}

.avenir-oblique {
    font-family: 'Avenir-Oblique';
}

.brandon-re {
    font-family: 'BrandonGrotesque-Regular';
}


/*FONT SIZES*/

.txt-md {
    font-size: 14px;
}

.txt-xl {
    font-size: 24px;
}

.txt-38 {
    font-size: 38px;
}

.txt-xxl {
    font-size: 58px;
}

.fnt-18 {
    font-size: 18px;
}


/*presets*/

.home-bg-dialog {
    margin: 0px;
    padding: 0px;
    margin-top: 55px;
}

@media screen and (max-width: 480px) {
    .home-bg-dialog {
        margin: 0px;
        padding: 0px;
        margin-top: 25px;
    }
}

.home-brandon-re-38-489,
.home-brandon-re-38-489 span {
    font-family: 'BrandonGrotesque-Regular';
    max-width: 489px;
    text-align: left;
    color: white;
    line-height: 38px;
    margin-top: 15px;
    margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
    .home-brandon-re-38-489,
    .home-brandon-re-38-489 span {
        font-family: 'BrandonGrotesque-Regular';
        max-width: 489px;
        text-align: left;
        color: white;
        line-height: 47px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 768px) {
    .home-brandon-re-38-489,
    .home-brandon-re-38-489 span {
        font-size: 22px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .home-brandon-re-38-489,
    .home-brandon-re-38-489 span {
        font-size: 38px;
    }
}


/*HOME --------------------*/

.diags-content {
    min-height: 653px;
}

.diags-pill-success {
    background-color: #01DF8A;
    width: 63px;
    border-radius: 20px;
    height: 7px;
    color: white;
}

.diags-pill-info {
    border-radius: 20px;
    background-color: #00A8FF!important;
    padding: 3px 15px!important;
    display: inline-block;
    line-height: 30px;
    color: white;
}

.diag46 {
    line-height: 46px;
}

.title-big * {
    font-size: 58px;
}

@media only screen and (max-width: 320px) {
    .xxs-flex {
        display: flex;
    }
}

@media only screen and (max-width: 480px) {
    .title-big * {
        font-size: 50px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .title-big * {
        font-size: 50px;
    }
}

.title {
    color: white;
    font-style: normal;
}

.title-1 {
    font-family: 'Avenir-Black';
}

.title-2 {
    font-family: 'Avenir-Book';
}

.title-color-sky-blue .title-1,
.title-color-sky-blue .title-2 {
    color: #00A9FF;
}


/*BOOKING FORM*/

.booking-form {
    min-width: 320px;
    background-color: #00A9FF;
    border-radius: 0px;
    border: 0px;
    position: relative;
    margin-top: 55px;
    font-family: 'Avenir-Medium';
}

@media screen and (max-width: 480px) {
    .booking-form {
        margin-top: 20px;
    }
}

.modal-open {
    overflow: hidden;
    margin-right: 15px!important;
}

ul.docs-notification-types h6 {
    font-family: 'Avenir-Oblique'!important;
    font-weight: 700;
}

.dynamic-table-wrapper .button-group>button {
    margin-bottom: 0.2em;
}

@media only screen and (min-width: 480px) {
    .booking-form {
        width: 450px;
    }
}

.booking-form span {
    color: white;
    font-size: 18px;
    font-family: 'Avenir-Roman';
}

.booking-form label {
    color: white;
    font-size: 18px;
    font-family: 'Avenir-Medium';
    font-weight: 300;
    text-align: left;
}

.booking-form input[type="checkbox"]+span {
    line-height: 23px;
}

input[type="radio"]:disabled+span,
input[type="checkbox"]:disabled+span {
    opacity: 1!important;
}

.diag-row {
    padding: 0px;
    margin: 0px;
}

.diag-row>div {
    margin-bottom: 10px;
}

@media only screen and (min-width: 992px) {
    .diag-row {
        padding: 0px 50px;
        margin: 0px;
    }
    .home .diag-row {
        padding: 0px 0px;
        margin: 0px;
    }
}

.diags-selection {
    background-color: white;
    margin: 0px auto 0px auto;
}

@media (min-width: 768px) {
    .diag-col-sm-4-input-1 {
        width: 36.533333%;
        /* border: 1px solid black; */
    }
    .diag-col-sm-8-input-1 {
        width: 72.966667%;
    }
}

.diag-col-label {
    padding: 0px;
    padding-left: 0px!important;
}

.diag-col-label-1 {
    width: 26.888%;
    padding: 0px;
    padding-left: 0px!important;
}

.booking-form .label {
    width: 29.33%;
    font-family: 'Avenir-Medium';
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    vertical-align: middle;
    text-align: left;
}

.booking-form-header-btn {
    height: 66px;
    line-height: 66px;
    text-align: center;
    color: #434343;
    background-color: white;
    font-size: 20px;
}

.booking-form-header-btn.active {
    color: white;
    background-color: #00A9FF;
}

.hr {
    border-bottom: 2px solid #6FCFFF;
}

.diags-range {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .diags-range {
        max-width: 300px!important;
    }
}

.bar3 {
    background: #f2f3f7;
}

.right-bar {
    background: url(../img/sep-bar.png) repeat-y top right;
    margin: 10px 0px;
}

.right-bar:last-child {
    background: none;
}

.right-bar .headtitle,
.right-bar .subtitle {
    text-transform: uppercase;
    color: #0A3967;
}

.right-bar .headtitle {
    font-size: 14px;
    font-family: 'Avenir-Medium';
    font-weight: 500;
}

.right-bar .subtitle {
    font-size: 16px;
    // color: #6a798c;
    font-family: 'Avenir-Black';
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    .right-bar .headtitle {
        font-size: 0.9em;
    }
    .right-bar .subtitle {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 479px) {
    .right-bar .headtitle {
        font-size: 0.8em;
    }
    .right-bar .subtitle {
        font-size: 0.7em;
    }
}

@media screen and (max-width: 360px) {
    .right-bar .headtitle {
        font-size: 0.6em;
    }
    .right-bar .subtitle {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 320px) {
    .right-bar .headtitle {
        font-size: 0.5em;
    }
    .right-bar .subtitle {
        font-size: 0.5em;
    }
}

.fa-id-card-o,
.fa-phone,
.fa-lock {
    font-size: 26px;
    color: #0A3967;
}

footer {
    /*height: 135px;*/
    width: 100%;
    background-color: #09519D;
}

@media screen and (min-width: 1200px) {
    /*@media screen and (min-width: 480px) {*/
    footer {
        height: 110px;
    }
}

footer .title-1,
footer .title-2 {
    line-height: 66px;
    padding: 0px;
    margin: 0px;
    font-size: 38px;
}

@media only screen and (min-width: 1200px) {
    footer .title-1,
    footer .title-2 {
        line-height: 98px;
    }
}

footer a {
    color: white!important;
}

footer .text {
    font-family: 'Avenir-Book';
    font-size: 14px;
    position: absolute;
    right: 5px;
    top: 44px;
    color: white;
}

ul.diags {
    list-style-type: none;
    padding: 0px;
}

.editable-text {}

.editable-text:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 255, .2);
}

ul.diags li {
    width: 89;
    float: left;
    margin: 0px 25px 25px 0px;
}

ul.diags li:first-child {
    margin: 0px 25px 25px 0px;
}

h2.diags,
h2.diags>div,
h2.diags p {
    font-family: 'Avenir-Book';
    font-size: 36px;
}

h2.diags.black,
h2.diags.black>div {
    color: black;
}

.home .diag-dialog-right-transparent {
    max-width: 450px;
}

.home .diag-dialog-right {
    max-width: 450px;
    margin-top: -1em;
}

@media only screen and (max-width: 992px) {
    .btn-prende-un-rendez-vous {
        margin: 0 auto;
        display: block;
        margin-top: 2em;
    }
}

@media only screen and (min-width: 992px) {
    .home .diag-dialog-right {
        margin-top: 3em;
    }
}

.bg-dpe {
    background-color: #00BB55;
}

.bg-dta {
    background-color: #FF8B00;
}

.bg-loiCarrez {
    background-color: #B45134;
}

.bg-crep {
    background-color: #0153A7;
}

.bg-gaz {
    background-color: #F8BD17;
}

.bg-electricity {
    background-color: #CD1024;
}

.bg-termites {
    background-color: #7C0616;
}

.bg-ernt {
    background-color: #821E78;
}

.bg-parasitaire {
    background-color: #79D3EB;
}

.dropdown .caret {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #00A9FF;
    border: 0px;
    margin: 0px;
    padding: 0px;
    line-height: 17px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    /* outline: 1px solid red; */
    position: absolute;
    right: 5px;
}

.dropdown .caret:before {
    content: "\f078";
}

.dropdown button span {
    color: black;
    font-family: 'Avenir-Roman';
    font-size: 13px;
}

.dropdown button {
    position: relative;
    text-align: left;
    padding-right: 30px;
}

.dropdown.with-caret button span:first-child {
    padding-right: 20px;
}

.gaz-dropdown button {
    width: 169px;
}

.address i {
    color: #0B3968;
}

.address span {
    background-color: white;
}

.address input {
    border-left: 0px;
}

.booking-phase {
    font-family: 'Avenir-Medium';
    font-size: 18px;
    color: #00A9FF;
    text-align: center;
    padding: 10px;
}

.booking-phase.active {
    border: 3px solid #00AAFF;
    border-radius: 5px;
}

.fa.fa-chevron-right {
    color: #00A9FF;
}

.medium18 {
    font-family: 'Avenir-Medium';
    font-size: 18px;
    color: #373737;
    padding: 0 0 0 16px;
}

.diags-list {}

.diags-list li {
    display: table-row;
    width: 100%;
}

.diag.check {
    width: 100%;
    padding: 15px 15px 15px 15px;
    margin: 0px;
    height: 67px;
    background-color: #F7F7F7;
}

@media screen and (max-width: 480px) {
    .diag.check {
        min-width: 320px;
    }
}

.select-all-checkbox-span {
    /* position: relative;
    top: 0.8em;*/
}

.select-all-checkbox {
    margin-right: 22.3%;
    margin-top: 1em;
}

@media only screen and (min-width: 992px) {
    .select-all-checkbox-span {
        /*  position: relative;
        top: 0.9em;*/
    }
    .select-all-checkbox {
        margin-right: 3.2em;
    }
    .diag.check {
        min-width: 342px;
        max-width: 344px;
        width: initial;
    }
    .diags-list li {
        display: block;
        width: initial;
    }
}

.breadcrumb {
    margin-bottom: 0px;
}

.diag.check span {
    font-family: 'Avenir-Medium';
    font-size: 16px;
    color: black;
}

.stripe-message {
    font-family: 'Avenir-Medium';
    font-size: 16px;
    color: #0B3967;
    line-height: 30px;
    text-align: center;
}

.stripe-message span {
    vertical-align: sub!important;
}

.diags-payment-info {
    display: inline-flex;
}

.diags-payment-info span {
    line-height: 25px;
    vertical-align: middle;
}

@media only screen and (min-width: 992px) {
    .diags-payment-info span {
        line-height: 60px;
    }
}

.icons-list {}

.icons-list>div {}

@media only screen and (min-width: 992px) {
    .icons-list>div {
        width: 900px;
        margin: 0 auto;
    }
}

.icons-list img {
    margin: 10px;
}


/*
.check.mark-white:checked + span::after {
      content: '';
    position: absolute;
    width: 2.5ex;
    height: 1.4ex;
    background: transparent;
    left: 0.4ex;
    top: 4px;
    border: 3px solid white;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}*/

.check.mark-white:checked+span::before {
    color: white;
}

.check.mark-white+.sky-blue::before {
    border: solid 2px #00A9FF;
    background: #00A9FF;
}

.diags-date-day-wrapper {
    /* height: 348px; */
    /*width: 298px;*/
    padding: 0px;
    margin: 0px;
    background-color: #EDF9FF;
}

.diags-date-day-header {
    width: 100%;
    background-color: #0B3967;
    height: 35px;
    font-family: 'Avenir-Light';
    font-size: 18px;
    text-align: center;
    color: white;
    line-height: 38px;
}

.diags-date-day-item {
    height: 50px;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    background-color: #def3ff;
    width: 179px;
    margin: 36px auto;
    border-radius: 5px;
    margin-left: auto!important;
    margin-right: auto!important;
}

.diags-date-day-item:hover {
    background-color: #12d681;
}

.diags-date-day-item.selected {
    background-color: #D9F3FF;
}

.diags-date-day-item-check-wrapper {
    width: 81px;
    padding: 25px 29px;
}

.diags-date-day-item:hover .diags-date-day-item-description-wrapper .time-price {
    color: white;
}

.diags-date-day-item:hover .diags-date-day-item-description-wrapper .diag-guy {
    color: white;
}

.diags-date-day-item .diags-date-day-item-description-wrapper .time-price {
    color: #0B3967;
    /*normal*/
    font-family: 'Avenir-Medium';
    font-size: 18px;
    /*before: 25*/
    padding-top: 6px;
}

.diags-date-day-item.selected .diags-date-day-item-description-wrapper .time-price {
    color: #00A9FF!important;
}

.diags-date-day-item-description-wrapper .diag-guy {
    color: #0B3967;
    font-family: 'Avenir-Medium';
    font-size: 14px;
    text-align: center;
    position: relative;
    top: -4px;
}

@media only screen and (min-width: 992px) {
    .diags-date-day-wrapper {
        padding-right: 4px
    }
}

.diags-form {
    /*max-width: 583px;*/
    width: 290px;
    margin: 0 auto;
}

.diags-form .title {
    color: #373737;
    font-family: 'Avenir-Medium';
    font-size: 18px;
}

.diags-form .row {
    padding: 0px;
    margin: 0px;
}

.diags-form textarea.diags-input {
    padding-top: 10px;
}

.home-title-right,
.home-title-right>div {
    font-family: 'Avenir-Book';
    font-size: 32px;
    color: white;
}

.diags-crud-buttons-col {}

.diag-no-selected {
    text-decoration: line-through;
}

table.dg-dates tr {}

table.dg-dates td {
    padding: 2px!important;
}

table.dg-dates td span {
    font-size: 12px;
}

table.dg-dates tr.selected {
    /*border-right: 10px solid rgba(0, 0, 0, .08);*/
    outline: 2px solid rgba(0, 0, 0, 0.4);
}


/*.diags-form */

.diags-label-horizontal {
    line-height: 48px!important;
}

.questions td label {
    width: 30%;
    vertical-align: top;
}

.questions td input {
    max-width: 240px;
}

@media only screen and (max-width: 480px) {
    .booking-form-wrapper {
        padding: 0px;
        margin: 0px;
        background-color: #03d57a;
        padding-bottom: 15px;
    }
}

.diags-input,
.pika-wrapper.diags,
.pika-single.diags .pika-select {
    width: 286px;
    height: 48px;
    background-color: #EDF5F9;
    box-shadow: none;
    border: 1px solid #C6DEE8!important;
    border-bottom: 1px solid #C6DEE8!important;
    font-family: 'Avenir-Oblique';
    color: #8597AB;
    font-size: 14px;
    padding: 0px 20px;
    border-radius: 5px;
}

@media screen and (min-width: 480px) {
    .diags-input,
    .pika-wrapper.diags,
    .pika-single.diags .pika-select {
        min-width: 286px;
    }
}

.order-pdf-label {
    font-size: x-small;
}

.diags-input-div {
    word-break: break-all;
    text-align: justify;
    padding: 20px;
    background-color: #EDF5F9;
    box-shadow: none;
    border: 1px solid #C6DEE8!important;
    border-bottom: 1px solid #C6DEE8!important;
    font-family: 'Avenir-Oblique';
    color: #8597AB;
    font-size: 14px;
    border-radius: 5px;
}

label.minimal {
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    margin-right: 10px;
    font-size: 14px;
}

.diags-input.minimal {
    height: 23px;
}

.diags-form .diags-select {
    max-height: 300px;
    overflow: overlay;
}

.diags-form .diags-select li {
    width: 286px;
    height: 48px;
    font-family: 'Avenir-Oblique';
    color: #8597AB;
    font-size: 14px;
    padding: 0px;
}

.diags-form .diags-select li a {
    font-family: 'Avenir-Oblique';
    color: #8597AB!important;
    font-size: 14px;
    width: 100%;
    line-height: 48px;
    padding: 0px 0px 0px 26px;
}

.diags-form .diags-input>span:first-child {
    font-family: 'Avenir-Oblique';
    color: #8597AB!important;
    font-size: 14px;
}

.dash-welcome {
    font-size: 14px;
    color: #00A9FF;
}

.diags-form .diags-input .caret {
    top: 14px;
}

.diags-form .diags-btn-group>div {
    padding: 0px;
}

.diags-input.xs {
    width: 90px;
}

.diags-input.sm {
    width: 130px;
    min-width: 130px;
}

.diags-form .diags-input.half {
    width: 140px;
    min-width: 140px;
}

.diags-form .label,
.diags-form-label {
    font-family: 'Avenir-Light';
    font-size: 14px;
    color: #373737;
    padding: 0px;
    text-align: left;
}

.notify .box {
    border: 0px;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    width: 100%;
    position: relative;
    top: 1px;
}

.notify .box span {
    font-family: Avenir-Oblique;
    font-size: 1.1em;
    padding: 15px;
    text-align: justify;
}

.notify .box .close {
    right: 10px;
    top: 5px;
    position: absolute;
}

.diags-form .btn,
.diags-btn {
    font-family: 'Avenir-Medium';
    font-size: 24px;
    color: white;
}

.row {}

.diags-btn.btn-sm {
    font-size: 18px;
}

.btn-permis-de-construire {
    width: 215px;
}

@media only screen and (max-width: 480px) {
    .btn-permis-de-construire {
        width: 100%;
    }
    .gaz-dropdown button {
        width: 100%;
    }
}

.diags-form .btn-xl {
    width: 290px;
    height: 60px;
}

.diags-form .diags-link {
    font-family: 'Avenir-Oblique';
    font-size: 12px;
    color: #0B3967;
    width: 290px;
    display: inline-block;
}

.diags-icons img {
    margin-top: 0.4em!important;
    margin-right: 0.5em;
}

.roman-16 {
    font-size: 16px;
    font-family: 'Avenir-Roman';
}

.light-14 {
    font-size: 14px;
    font-family: 'Avenir-Light';
}

.diags-form .row.diags-botticelli-wrapper {
    border: 2px solid #CAE1E9;
    padding: 10px 15px;
    border-radius: 5px
}

.diags-form .diags-link:hover,
.diags-form .diags-link:focus,
.diags-form .diags-link:active {
    color: #0B3967;
}

.diags-form-wrapper {
    padding: 20px 0px;
}

.diag-row-form>div {
    margin-top: 2em;
}

.diag-row-form {}

p.stripe-home-message,
p.stripe-home-message>span {
    font-family: 'Avenir-Medium';
}

.diags-rich-text-editor {
    border: 1px solid #C6DEE8;
    background-color: #EDF5F9;
    border-radius: 5px;
    min-height: 400px;
    width: 100%;
}

p.stripe-home-message {
    line-height: 20px;
    color: white;
    font-size: 30px;
}

p.stripe-home-message>span {
    vertical-align: bottom;
    font-size: 16px;
}

.debug-wrapper {
    background: rgba(255, 255, 255, .7);
    border-radius: 10px;
    height: 300px;
    overflow-y: scroll;
    top: 12%;
    position: fixed;
    width: 100%;
    z-index: 9999999999;
}

@media only screen and (min-width: 480px) {
    .diags-form-wrapper {
        padding: 50px 0px;
        margin: 10px;
    }
    .diag-row-form {
        margin: 50px 0px;
    }
}

@media only screen and (min-width: 768px) {
    .diags-form-wrapper {
        margin: 15px 0px 0px 0px;
        padding: 0px;
    }
    .diag-row-form {
        margin: 0px;
    }
}

@media only screen and (min-width: 992px) {
    .diags-form-wrapper {
        margin-top: 0px;
        border: 2px solid #C6DEE8;
        border-radius: 5px;
        padding: 2em 0px;
        min-height: 570px;
    }
    .diag-row-form {
        border: 2px solid #C6DEE8;
        border-radius: 5px;
        margin: 0px 50px 0px 50px;
    }
    .frm-wrapper {
        min-height: 370px;
    }
    div.stripe-home-message {
        margin-top: 11em;
    }
    .diags-form-wrapper.left {
        margin-right: 1em;
    }
    .diags-form-wrapper.right {
        margin-left: 1em;
    }
    .diags-form-wrapper-left {
        border-left: 2px solid #C6DEE8;
        border-top: 2px solid #C6DEE8;
        border-bottom: 2px solid #C6DEE8;
        border-right: 2px solid #C6DEE8;
        min-height: 570px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-right: 0px!important;
        padding: 2em 0px;
    }
    .diags-form-wrapper-left-3 {
        border-left: 2px solid #C6DEE8;
        border-top: 2px solid #C6DEE8;
        border-bottom: 2px solid #C6DEE8;
        min-height: 570px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-right: 0px!important;
        padding: 2em 0px;
    }
    .diags-form-wrapper-center {
        border-top: 2px solid #C6DEE8;
        border-bottom: 2px solid #C6DEE8;
        min-height: 570px;
        margin-right: 0px!important;
        margin-left: 0px!important;
        padding: 2em 0px;
    }
    .diags-form-wrapper-right {
        border-right: 2px solid #C6DEE8;
        border-top: 2px solid #C6DEE8;
        border-bottom: 2px solid #C6DEE8;
        min-height: 570px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: 0px!important;
        padding: 2em 0px;
    }
}

@media only screen and (min-width: 1200px) {
    .frm-wrapper {
        min-height: 570px;
    }
    .diags-form-wrapper-left-lg {
        border-left: 2px solid #C6DEE8;
        border-top: 2px solid #C6DEE8;
        border-bottom: 2px solid #C6DEE8;
        border-right: 2px solid #C6DEE8;
        min-height: 570px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-right: 0px!important;
        padding: 2em 0px;
    }
    .diags-form-wrapper-left-3-lg {
        border-left: 2px solid #C6DEE8;
        border-top: 2px solid #C6DEE8;
        border-bottom: 2px solid #C6DEE8;
        min-height: 570px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-right: 0px!important;
        padding: 2em 0px;
    }
    .diags-form-wrapper-center-lg {
        border-top: 2px solid #C6DEE8;
        border-bottom: 2px solid #C6DEE8;
        min-height: 570px;
        margin-right: 0px!important;
        margin-left: 0px!important;
        padding: 2em 0px;
    }
    .diags-form-wrapper-right-lg {
        border-right: 2px solid #C6DEE8;
        border-top: 2px solid #C6DEE8;
        border-bottom: 2px solid #C6DEE8;
        min-height: 570px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-left: 0px!important;
        padding: 2em 0px;
    }
}

.diags-style h1,
.diags-style h2,
.diags-style h3,
.diags-style h4,
.diags-style h5,
.diags-style h6 {
    font-family: 'Avenir-Black';
}

.diags-style h4 {
    font-size: 1.5em!important;
}

.diags-style .table th {
    font-family: 'Avenir-Book'!important;
    font-size: 14px!important;
    font-weight: 500;
}

.diags-style .table td out {
    font-family: 'Avenir-Light'!important;
    font-size: 12px!important;
    font-weight: 800;
}

.diags-style .cal-slide-content a.event-item {
    font-family: 'Avenir-Light'!important;
    font-size: 12px!important;
    font-weight: 800;
}

.round {
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}


/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */

.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    /* Fix 401 */
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
}

.noUi-stacking .noUi-handle {
    /* This class is applied to the lower origin when
   its values is > 50%. */
    z-index: 10;
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top 0.3s;
    transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}


/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */

.noUi-base,
.noUi-handle {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/* Slider size and handle placement;
 */

.noUi-horizontal {
    height: 18px;
}

.noUi-horizontal .noUi-handle {
    width: 28px;
    height: 28px;
    left: -17px;
    top: -11px;
}

.noUi-vertical {
    width: 18px;
}

.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    left: -6px;
    top: -17px;
}


/* Styling;
 */

.noUi-background {
    background: #FAFAFA;
    box-shadow: inset 0 1px 1px #f0f0f0;
}

.noUi-connect {
    background: #3FB8AF;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.noUi-origin {
    border-radius: 2px;
}

.noUi-target {
    border-radius: 5px;
    border: none;
    box-shadow: none;
    height: 7px;
}

.noUi-target.noUi-connect {
    box-shadow: none;
}


/* Handles and cursors;
 */

.noUi-draggable {
    cursor: w-resize;
}

.noUi-vertical .noUi-draggable {
    cursor: n-resize;
}

.noUi-handle {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #FFF;
    cursor: default;
    box-shadow: none;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    border: 0px solid #000000;
}

.noUi-active {
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}


/* Handle stripes;
 */


/*
.noUi-handle:before,
.noUi-handle:after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    left: 14px;
    top: 6px;
}*/

.noUi-handle:after {
    left: 17px;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px;
}

.noUi-vertical .noUi-handle:after {
    top: 17px;
}


/* Disabled state;
 */

[disabled].noUi-connect,
[disabled] .noUi-connect {
    background: #B8B8B8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
    cursor: not-allowed;
}

.know-more {
    width: 19px;
    height: 19px;
    background: #63C5F6;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
    display: inline-block;
    padding-left: 5.2px;
    top: 0px;
    position: relative;
    left: 3px;
}

.know-more>span {
    color: #D60D00;
    font-weight: bold;
    font-size: 16px;
}

.know-more .hover-block {
    display: none;
}

.know-more:hover .hover-block {
    display: block;
    position: absolute;
    width: 380px;
    height: 121px;
    background: white;
    color: #1C335E;
    left: -174px;
    top: -121px;
    z-index: 99999999;
    padding: 10px;
    line-height: 14px;
}

label * {
    cursor: inerith;
}

.know-more .hover-block a {
    color: #1C335E;
    font-weight: 700;
    text-decoration: underline;
}

.know-more .hover-block,
.know-more .hover-block span,
.know-more .hover-block red,
.know-more .hover-block a {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.know-more .hover-block .red {
    color: #BC3B44;
}


/* add height for checkbox on mobile */

@media screen and (max-width: 767px) {
    .mobile-h37 {
        height: 37px;
    }
}

.home__mobile-icons-list {
    list-style: none;
    padding: 0px;
    margin: 40px auto 40px auto;
    width: 293px;
}

.home__mobile-icons-list li {
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
    margin-bottom: 10px;
}

.booking-login__order-date {
    display: inline;
    line-height: 25px;
    padding-left: 5px;
    white-space: nowrap;
    vertical-align: bottom;
    margin-right: -15px;
}

.booking-login__order-diag-user-name {
    display: inline;
    line-height: 25px;
    vertical-align: bottom;
    padding-left: 5px;
}
