/*
SMOTH
-webkit-text-stroke: .025em rgba(51,51,51,0.50);

*/

@font-face {
    font-family: 'Avenir-Light';
    src: url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Light.woff') format('woff'), url('../fonts/Avenir-Light.ttf') format('truetype'), url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Oblique';
    src: url('../fonts/Avenir-Oblique.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Oblique.woff') format('woff'), url('../fonts/venir-Oblique.ttf') format('truetype'), url('../fonts/Avenir-Oblique.svg#Avenir-Oblique') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Book.woff') format('woff'), url('../fonts/Avenir-Book.ttf') format('truetype'), url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black';
    src: url('../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Black.woff') format('woff'), url('../fonts/Avenir-Black.ttf') format('truetype'), url('../fonts/Avenir-Black.svg#Avenir-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque-Regular';
    src: url('../fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BrandonGrotesque-Regular.woff') format('woff'), url('../fonts/BrandonGrotesque-Regular.ttf') format('truetype'), url('../fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Medium.woff') format('woff'), url('../fonts/Avenir-Medium.ttf') format('truetype'), url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Roman.woff') format('woff'), url('../fonts/Avenir-Roman.ttf') format('truetype'), url('../fonts/Avenir-Roman.svg#Avenir-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

output {
    padding: 0px;
    margin: 0px;
}

body {
    background: white;
    margin: 0px;
    padding: 0px;
}

.diags-bg {
    background-color: #EDF5F9;
}

.diags-bg-block-40 {
    background-color: #EDF5F9;
    height: 43px;
}

.diags-bg-block-80 {
    background-color: #EDF5F9;
    height: 84px;
}

.diags.navbar {
    border: none;
    border-radius: 0px;
    background: white;
    margin: 0px;
    min-height: 45px;
    /*height: 45px;*/
}

.diags .collapse.navbar-collapse {
    padding: 0px;
}

.diags .nav li {
    padding: 0px;
    height: 45px;
}

.diags .nav li a {
    font-family: 'Avenir-Book';
    color: #878787;
    font-size: 14px;
    line-height: 45px;
    padding: 1px 15px;
}

.diags .navbar-nav {
    margin: 0px;
}

.diags .nav.navbar-right li {
    width: 176px;
}

.diags .nav.navbar-right li a {
    /*margin-right: 17px;*/
    color: white;
}

.diags-navbar-2 .navbar-nav>li a.diag-link {
    font-family: 'Avenir-Book';
    font-size: 14px;
    color: #878787;
}

.diags-navbar-2 .navbar-nav>li>a.diag-button {
    line-height: 28px;
    height: 28px;
    padding: 0px 20px;
    margin: 0px 10px;
    border-radius: 15px;
    color: white;
    max-width: 232px;
    font-family: 'Avenir-Book';
    font-size: 14px;
}

.diags-navbar-2,
.diags-navbar-2 nav,
.diags-navbar-2 div,
.diags-navbar-2 ul,
.diags-navbar-2 li {
    border: 0px;
    text-shadow: none;
    outline: none;
    background: white;
    box-shadow: none;
    margin: 0px;
}

@media screen and (min-width: 768px) {
    .diags-navbar-2 div, .diags-navbar-2 ul, .diags-navbar-2 li {
        height: 45px!important;
        line-height: 45px!important;
        vertical-align: middle!important;
        padding: 0px;
        margin: 0px;
    }
    .diags-navbar-2 a {
        display: inline-table!important;
    }
    .diags .nav {
        height: 45px!important;
        margin: 0px;
    }
    .diags .nav.navbar-right li {
        margin-left: 10px;
    }
    .diags .nav.navbar-right li a {
        margin-top: 7px;
        text-align: center;
    }
    .diags .nav.navbar-right {
        padding-left: 0px;
        margin-right: 88px
    }
}

@media screen and (max-width: 768px) {
    .diags .nav.navbar-right {
        padding-left: 14.8%;
    }
    .diags .nav.navbar-right li {
        width: 210px;
        padding: 0px 0px 0px 30px;
        text-align: center;
    }
}

.container-fluid {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.diags-header {
    height: 45px;
    width: 100%;
    background: #FFFFFF;
}

ul.menu {
    padding-left: 14.8%;
}

ul.menu li {
    padding: 0px;
}

ul.menu li a {
    padding: 0px 0px 0px 30px;
}

.navbar-header {
    background: white;
}

.navbar-default .navbar-brand {
    font-family: 'Avenir-Black';
    padding: 11px 24px;
    font-size: 40px;
    color: #00A9FF;
    margin: 2px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active {
    color: #00A9FF;
}

.navbar-default .navbar-brand .cal {
    font-family: 'Avenir-Book';
    font-size: 40px;
    color: #00A9FF;
}


/*GRID FIX*/

@media only screen and (min-width: 992px) {
    .diag-row .col-md-12, .diag-row .col-sm-12, .diag-row .col-md-6, .diag-row .col-sm-6 {
        padding: 0px;
    }
}

.btn.dropdown-toggle,
input.diag {
    height: 46px;
    background: white;
}

a.diag-btn {
    border-radius: 20px;
    line-height: 28px!important;
}

a.diag-btn-big {}

a.diag-btn:hover {}

a.diag-btn:active {}

a.diag-btn-success {
    background-color: #23DC8C!important;
}

a.diag-btn-success:hover {
    background-color: #23DC8C!important;
}

a.diag-btn-info {
    background-color: #00A9FF!important;
}

a.diag-btn-info:hover {
    background-color: #00A9FF!important;
}

.diag-btn-main:hover,
.diag-btn-main:active,
.diag-btn-main:focus {
    color: whitesmoke;
}

.diag-btn-main {
    background-color: #0A3967;
    height: 60px;
    width: 100%;
    font-family: Avenir-Medium;
    font-size: 18px;
    color: white;
}

.diag-btn-width306 {
    width: 306px;
}


/*FONT FAMILY HELPERS*/

.avenir-black {
    font-family: 'Avenir-Black';
}

.avenir-book {
    font-family: 'Avenir-Book';
}

.avenir-medium {
    font-family: 'Avenir-Medium';
}

.avenir-roman {
    font-family: 'Avenir-Roman';
}

.avenir-oblique {
    font-family: 'Avenir-Oblique';
}

.brandon-re {
    font-family: 'BrandonGrotesque-Regular';
}


/*FONT SIZES*/

.txt-md {
    font-size: 14px;
}

.txt-xl {
    font-size: 24px;
}

.txt-38 {
    font-size: 38px;
}

.txt-xxl {
    font-size: 58px;
}

.fnt-18 {
    font-size: 18px;
}


/*presets*/

.home-bg-dialog {
    margin: 0px;
    padding: 0px;
    margin-top: 55px;
}

.home-brandon-re-38-489 {
    font-family: 'BrandonGrotesque-Regular';
    max-width: 489px;
    text-align: left;
    color: white;
}

@media screen and (max-width: 768px) {
    .home-brandon-re-38-489 {
        font-size: 28px;
    }
}

@media screen and (min-width: 768px) {
    .home-brandon-re-38-489 {
        font-size: 38px;
    }
}


/*HOME --------------------*/

.diags-content {
    min-height: 653px;
}

.diags-home-bg {
    background: url(../img/home_bg.jpg);
    background-repeat: no-repeat;
    min-height: 653px;
    background-size: cover;
}

.diags-pill-success {
    background-color: #01DF8A;
    width: 63px;
    border-radius: 20px;
    height: 7px;
    color: white;
}

.diags-pill-info {
    border-radius: 20px;
    background-color: #00A8FF;
    padding: 3px 15px;
    display: inline-block;
    line-height: 30px;
    color: white;
}

.diag46 {
    line-height: 46px;
}

.title-big * {
    font-size: 58px;
}

.title {
    color: white;
}

.title-1 {
    font-family: 'Avenir-Black';
}

.title-2 {
    font-family: 'Avenir-Book';
}

.title-color-sky-blue .title-1,
.title-color-sky-blue .title-2 {
    color: #00A9FF;
}


/*BOOKING FORM*/

.booking-form {
    min-width: 320px;
    background-color: #00A9FF;
    border-radius: 0px;
    border: 0px;
    position: relative;
    margin-top: 55px;
    font-family: 'Avenir-Medium';
}

@media only screen and (min-width: 480px) {
    .booking-form {
        width: 450px;
    }
}

.booking-form span {
    color: white;
    font-size: 18px;
    font-family: 'Avenir-Roman';
}

.booking-form label {
    color: white;
    font-size: 18px;
    font-family: 'Avenir-Medium';
    font-weight: 300;
    text-align: left;
}

.booking-form input[type="checkbox"] + span {
    line-height: 23px;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
    opacity: 1!important;
}

.diag-row {
    padding: 0px;
    margin: 0px;
}

@media only screen and (min-width: 992px) {
    .diag-row {
        padding: 0px 50px;
        margin: 0px;
    }
    .home .diag-row {
        padding: 0px 0px;
        margin: 0px;
    }
}

.diags-selection {
    background-color: white;
    margin: 0px auto 0px auto;
}

@media (min-width: 768px) {
    .diag-col-sm-4-input-1 {
        width: 36.533333%;
        /* border: 1px solid black; */
    }
    .diag-col-sm-8-input-1 {
        width: 72.966667%;
    }
}

.diag-col-label {
    padding: 0px;
}

.diag-col-label-1 {
    width: 26.888%;
    padding: 0px;
}

.booking-form .label {
    width: 29.33%;
    font-family: 'Avenir-Medium';
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    vertical-align: middle;
    text-align: left;
}

.booking-form-header-btn {
    height: 66px;
    line-height: 66px;
    text-align: center;
    color: #434343;
    background-color: white;
    font-size: 20px;
}

.booking-form-header-btn.active {
    color: white;
    background-color: #00A9FF;
}

.hr {
    border-bottom: 2px solid #6FCFFF;
}

.diags-range {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .diags-range {
        max-width: 300px!important;
    }
}

footer {
    height: 135px;
    width: 100%;
    background-color: #09519D;
}

@media screen and (min-width: 480px) {
    footer {
        height: 110px;
    }
}

footer .title-1,
footer .title-2 {
    line-height: 66px;
    padding: 0px;
    margin: 0px;
    font-size: 38px;
}

@media only screen and (min-width: 1200px) {
    footer .title-1, footer .title-2 {
        line-height: 98px;
    }
}

footer a {
    color: white!important;
}

footer .text {
    font-family: 'Avenir-Book';
    font-size: 14px;
    position: absolute;
    right: 5px;
    top: 44px;
    color: white;
}

ul.diags {
    list-style-type: none;
    padding: 0px;
}

ul.diags li {
    width: 89;
    float: left;
    margin: 0px 25px 25px 0px;
}

ul.diags li:first-child {
    margin: 0px 25px 25px 0px;
}

h2.diags {
    font-family: 'Avenir-Book';
    font-size: 36px;
    padding-bottom: 33px;
}

h2.diags.black {
    color: black;
}

.home .diag-dialog-right-transparent {
    max-width: 481px;
}

.home .diag-dialog-right {
    max-width: 481px;
    
}

.bg-dpe{
    background-color: #00BB55;
}
.bg-dta{
    background-color: #FF8B00;
}
.bg-loiCarrez{
    background-color: #B45134;
}
.bg-crep{
    background-color: #0153A7;
}
.bg-gaz{
    background-color: #F8BD17;
}
.bg-electricity{
    background-color: #CD1024;
}
.bg-termites{
    background-color: #7C0616;
}
.bg-ernt{
    background-color: #821E78;
}
.bg-parasitaire{
    background-color: #79D3EB;
}

.dropdown .caret {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #00A9FF;
    border: 0px;
    margin: 0px;
    padding: 0px;
    line-height: 17px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    /* outline: 1px solid red; */
    position: absolute;
    right: 5px;
}

.dropdown .caret:before {
    content: "\f078";
}

.dropdown button span {
    color: black;
    font-family: 'Avenir-Roman';
    font-size: 13px;
}

.dropdown button {
    position: relative;
    text-align: left;
}

.dropdown.with-caret button span:first-child {
    padding-right: 20px;
}

.gaz-dropdown button {
    width: 169px;
}

.address i {
    color: #0B3968;
}

.address span {
    background-color: white;
}

.address input {
    border-left: 0px;
}

.booking-phase {
    font-family: 'Avenir-Medium';
    font-size: 18px;
    color: #00A9FF;
    text-align: center;
    padding: 10px;
}

.booking-phase.active {
    border: 3px solid #00AAFF;
    border-radius: 5px;
}

.fa.fa-chevron-right {
    color: #00A9FF;
}

.medium18 {
    font-family: 'Avenir-Medium';
    font-size: 18px;
    color: #373737;
    padding: 0 0 0 16px;
}

.diags-list {}

.diags-list li {
    display: table-row;
    width: 100%;
}

.diag.check {
    width: 100%;
    padding: 15px 15px 15px 15px;
    margin: 0px;
    height: 67px;
    background-color: #F7F7F7;
}

@media screen and (max-width: 480px) {
    .diag.check {
        min-width: 320px;
    }
}

.select-all-checkbox-span {
    position: relative;
    top: 0.8em;
}

.select-all-checkbox {
    margin-right: 22.3%;
    margin-top: 1em;
}

@media only screen and (min-width: 992px) {
    .select-all-checkbox-span {
        position: relative;
        top: 0.9em;
    }
    .select-all-checkbox {
        margin-right: 3.2em;
    }
    .diag.check {
        min-width: 342px;
        max-width: 344px;
        width: initial;
    }
    .diags-list li {
        display: block;
        width: initial;
    }
}

.diag.check span {
    font-family: 'Avenir-Medium';
    font-size: 16px;
    color: black;
}

.stripe-message {
    font-family: 'Avenir-Medium';
    font-size: 16px;
    color: #0B3967;
    line-height: 30px;
    text-align: center;
}

.diags-payment-info {
    display: inline-flex;
}

.diags-payment-info span {
    line-height: 25px;
    vertical-align: middle;
}

@media only screen and (min-width: 992px) {
    .diags-payment-info span {
        line-height: 60px;
    }
}

.icons-list {}

.icons-list>div {}

@media only screen and (min-width: 992px) {
    .icons-list>div {
        width: 900px;
        margin: 0 auto;
    }
}

.icons-list img {
    margin: 10px;
}


/*
.check.mark-white:checked + span::after {
      content: '';
    position: absolute;
    width: 2.5ex;
    height: 1.4ex;
    background: transparent;
    left: 0.4ex;
    top: 4px;
    border: 3px solid white;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}*/

.check.mark-white:checked + span::before {
    color: white;
}

.check.mark-white + .sky-blue::before {
    border: solid 2px #00A9FF;
    background: #00A9FF;
}

.diags-date-day-wrapper {
    height: 348px;
    /*width: 298px;*/
    padding: 0px;
    margin: 0px;
    background-color: #EDF9FF;
}

.diags-date-day-header {
    width: 100%;
    background-color: #0B3967;
    height: 52px;
    font-family: 'Avenir-Medium';
    font-size: 18px;
    text-align: center;
    color: white;
    line-height: 52px;
}

.diags-date-day-item {
    height: 74px;
    display: inline-flex;
    background-color: transparent;
    width: 100%;
}

.diags-date-day-item.selected {
    background-color: #D9F3FF;
}

.diags-date-day-item-check-wrapper {
    width: 81px;
    padding: 25px 29px;
}

.diags-date-day-item .diags-date-day-item-description-wrapper .time-price {
    color: #0B3967;
    /*normal*/
    font-family: 'Avenir-Medium';
    font-size: 24px;
    padding-top: 0.5em;
}

.diags-date-day-item.selected .diags-date-day-item-description-wrapper .time-price {
    color: #00A9FF!important;
}

.diags-date-day-item-description-wrapper .diag-guy {
    color: #0B3967;
    font-family: 'Avenir-Medium';
    font-size: 14px;
}

@media only screen and (min-width: 992px) {
    .diags-date-day-wrapper {
        padding-right: 4px
    }
}

.diags-form {
    /*max-width: 583px;*/
    width: 290px;
    margin: 0 auto;
}

.diags-form .title {
    color: #373737;
    font-family: 'Avenir-Medium';
    font-size: 18px;
}

.diags-form .row {
    padding: 0px;
    margin: 0px;
}

.diags-form textarea.diags-input {
    padding-top: 10px;
}

/*.diags-form */
.diags-input {
    width: 286px;
    height: 48px;
    background-color: #EDF5F9;
    box-shadow: none;
    border: 1px solid #C6DEE8;
    font-family: 'Avenir-Oblique';
    color: #8597AB;
    font-size: 14px;
    padding: 0px 26px;
    border-radius: 5px;
}

.diags-form .diags-select {
    max-height: 300px;
    overflow: overlay;
}

.diags-form .diags-select li {
    width: 286px;
    height: 48px;
    font-family: 'Avenir-Oblique';
    color: #8597AB;
    font-size: 14px;
    padding: 0px;
}

.diags-form .diags-select li a {
    font-family: 'Avenir-Oblique';
    color: #8597AB!important;
    font-size: 14px;
    width: 100%;
    line-height: 48px;
    padding: 0px 0px 0px 26px;
}

.diags-form .diags-input > span:first-child {
    font-family: 'Avenir-Oblique';
    color: #8597AB!important;
    font-size: 14px;
}

.diags-form .diags-input .caret {
    top: 14px;
}

.diags-form .diags-btn-group > div {
    padding: 0px;
}

.diags-form .diags-input.xs {
    width: 90px;
}

.diags-form .diags-input.half {
    width: 140px;
}

.diags-form .label, .diags-form-label {
    font-family: 'Avenir-Light';
    font-size: 14px;
    color: #373737;
    padding: 0px;
    text-align: left;
}

.notify .box {
    border: 0px;
    display: flex;
    width: 100%;
    position: relative;
    top: 1px;
}

.notify .box span {
    font-family: Avenir-Oblique;
    font-size: 1.1em;
    padding: 15px;
    text-align: justify;
}

.notify .box .close {
    right: 10px;
    top: 5px;
    position: absolute;
}

.diags-form .btn, .diags-btn {
    font-family: 'Avenir-Medium';
    font-size: 24px;
    color: white;
}

.row{
    padding-bottom: 20px;
}

.diags-btn.btn-sm {
    font-size: 18px;
}

.btn-permis-de-construire {
    width: 215px;
}

.diags-form .btn-xl {
    width: 290px;
    height: 60px;
}

.diags-form .diags-link {
    font-family: 'Avenir-Oblique';
    font-size: 12px;
    color: #0B3967;
    width: 290px;
    display: inline-block;
}

.diags-icons img {
    margin-top: 0.4em!important;
    margin-right: 0.5em;
}

.roman-16 {
    font-size: 16px;
    font-family: 'Avenir-Roman';
}

.light-14 {
    font-size: 14px;
    font-family: 'Avenir-Light';
}

.diags-form .row.diags-botticelli-wrapper {
    border: 2px solid #CAE1E9;
    padding: 10px 15px;
    border-radius: 5px
}

.diags-form .diags-link:hover,
.diags-form .diags-link:focus,
.diags-form .diags-link:active {
    color: #0B3967;
}

.diags-form-wrapper {
    border: 2px solid #C6DEE8;
    padding: 20px 0px;
    border-radius: 5px;
}

@media only screen and (min-width: 480px) {
    .diags-form-wrapper {
        padding: 50px 0px;
        margin: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .diags-form-wrapper {
        margin: 50px;
        padding: 50px;
    }
}

@media only screen and (min-width: 992px) {
    .diags-form-wrapper {
        margin: 25px;
        padding: 50px 0px;
        min-height: 570px;
    }
}

.diags-style h1,
.diags-style h2,
.diags-style h3,
.diags-style h4,
.diags-style h5,
.diags-style h6 {
    font-family: 'Avenir-Black'!important;
}

.diags-style h4 {
    font-size: 1.5em!important;
}

.diags-style .table th {
    font-family: 'Avenir-Book'!important;
    font-size: 14px!important;
    font-weight: 500;
}

.diags-style .table td out {
    font-family: 'Avenir-Light'!important;
    font-size: 12px!important;
    font-weight: 800;
}

.diags-style .cal-slide-content a.event-item {
    font-family: 'Avenir-Light'!important;
    font-size: 12px!important;
    font-weight: 800;
}
