/*
SMOTH
-webkit-text-stroke: .025em rgba(51,51,51,0.50);

*/

@font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Book.woff') format('woff'), url('../fonts/Avenir-Book.ttf') format('truetype'), url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black';
    src: url('../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Black.woff') format('woff'), url('../fonts/Avenir-Black.ttf') format('truetype'), url('../fonts/Avenir-Black.svg#Avenir-Black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque-Regular';
    src: url('../fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/BrandonGrotesque-Regular.woff') format('woff'), url('../fonts/BrandonGrotesque-Regular.ttf') format('truetype'), url('../fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Medium.woff') format('woff'), url('../fonts/Avenir-Medium.ttf') format('truetype'), url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir-Roman.woff') format('woff'), url('../fonts/Avenir-Roman.ttf') format('truetype'), url('../fonts/Avenir-Roman.svg#Avenir-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}

output {
    padding: 0px;
    margin: 0px;
}

body {
    background: white;
    margin: 0px;
    padding: 0px;
}

.navbar {
    border: none;
    border-radius: 0px;
    background: white;
    margin: 0px;
    min-height: 45px;
    /*height: 45px;*/
}

.collapse.navbar-collapse {
    padding: 0px;
}

.nav li {
    padding: 0px;
    height: 45px;
}

.nav li a {
    font-family: 'Avenir-Book';
    color: #878787;
    font-size: 14px;
    line-height: 45px;
    padding: 1px 15px;
}

.navbar-nav {
    margin: 0px;
}

.nav.navbar-right li {
    width: 176px;
}

.nav.navbar-right li a {
    /*margin-right: 17px;*/
    color: white;
}

@media screen and (min-width: 768px) {
    .nav {
        height: 45px!important;
        margin: 0px;
    }
    .nav.navbar-right li {
        margin-left: 10px;
    }
    .nav.navbar-right li a {
        margin-top: 7px;
        text-align: center;
    }
    .nav.navbar-right {
        padding-left: 0px;
        margin-right: 88px
    }
}

@media screen and (max-width: 768px) {
    .nav.navbar-right {
        padding-left: 14.8%;
    }
    .nav.navbar-right li {
        width: 210px;
        padding: 0px 0px 0px 30px;
        text-align: center;
    }
}

.container-fluid {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.diags-header {
    height: 45px;
    width: 100%;
    background: #FFFFFF;
}

ul.menu {
    padding-left: 14.8%;
}

ul.menu li {
    padding: 0px;
}

ul.menu li a {
    padding: 0px 0px 0px 30px;
}

.navbar-header {
    background: #CBE7F4;
}

.navbar-default .navbar-brand {
    font-family: 'Avenir-Black';
    padding: 11px 24px;
    font-size: 40px;
    color: white;
    margin: 2px;
}

.navbar-default .navbar-brand .cal {
    font-family: 'Avenir-Book';
    font-size: 40px;
}

a.diag-btn {
    border-radius: 20px;
    line-height: 28px!important;
}

a.diag-btn-big {}

a.diag-btn:hover {}

a.diag-btn:active {}

a.diag-btn-success {
    background-color: #23DC8C!important;
}

a.diag-btn-success:hover {
    background-color: #23DC8C!important;
}

a.diag-btn-info {
    background-color: #00A9FF!important;
}

a.diag-btn-info:hover {
    background-color: #00A9FF!important;
}


/*FONT FAMILY HELPERS*/

.avenir-black {
    font-family: 'Avenir-Black';
}

.avenir-book {
    font-family: 'Avenir-Book';
}

.avenir-medium {
    font-family: 'Avenir-Medium';
}

.avenir-roman {
    font-family: 'Avenir-Roman';
}

.brandon-re {
    font-family: 'BrandonGrotesque-Regular';
}


/*FONT SIZES*/

.txt-md {
    font-size: 14px;
}

.txt-xl {
    font-size: 24px;
}

.txt-38 {
    font-size: 38px;
}

.txt-xxl {
    font-size: 58px;
}

.fnt-18 {
    font-size: 18px;
}


/*presets*/

.home-bg-dialog {
    margin: 0px;
    padding: 0px;
    margin-top: 55px;
}

.home-brandon-re-38-489 {
    font-family: 'BrandonGrotesque-Regular';
    max-width: 489px;
    text-align: left;
    color: white;
}

@media screen and (max-width: 768px) {
    .home-brandon-re-38-489 {
        font-size: 28px;
    }
}

@media screen and (min-width: 768px) {
    .home-brandon-re-38-489 {
        font-size: 38px;
    }
}


/*HOME --------------------*/

.diags-home-bg {
    background: url(../img/home_bg.jpg);
    background-repeat: no-repeat;
    min-height: 653px;
    background-size: cover;
}

.diags-pill-success {
    background-color: #01DF8A;
    width: 63px;
    border-radius: 20px;
    height: 7px;
    color:white;
}

.diags-pill-info {
    border-radius: 20px;
    background-color: #00A8FF;
    padding: 3px 15px;
    display: inline-block;
    line-height: 30px;
    color:white;
}

.title-big * {
    font-size: 58px;
}

.title {
    color: white;
}

.title-1 {
    font-family: 'Avenir-Black';
}

.title-2 {
    font-family: 'Avenir-Book';
}


/*BOOKING FORM*/

.booking-form {
    max-width: 450px;
    min-width: 320px;
    background-color: #00A9FF;
    border-radius: 0px;
    border: 0px;
    position: relative;
    margin-top: 55px;
    font-family: 'Avenir-Medium';
}

.booking-form span {
    color: white;
    font-size: 18px;
    font-family: 'Avenir-Roman';
}

.booking-form label {
    color: white;
    font-size: 18px;
    font-family: 'Avenir-Medium';
    font-weight: 300;
    text-align: left;
}

.booking-form input[type="checkbox"] + span {
    line-height: 23px;
}

.diag-row {
    padding: 0px;
    margin: 0px;
}

@media (min-width: 768px) {
    .diag-col-sm-4-input-1 {
        width: 36.533333%;
        /* border: 1px solid black; */
    }
    .diag-col-sm-8-input-1 {
        width: 72.966667%;
    }
}

.diag-col-label {
    padding: 0px;
}

.diag-col-label-1 {
    width: 26.888%;
    padding: 0px;
}

.booking-form .label {
    width: 29.33%;
    font-family: 'Avenir-Medium';
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    vertical-align: middle;
    text-align: left;
}

.booking-form-header-btn {
    height: 66px;
    line-height: 66px;
    text-align: center;
    color: #434343;
    background-color: white;
    font-size: 20px;
}

.booking-form-header-btn.active {
    color: white;
    background-color: #00A9FF;
}

.hr {
    border-bottom: 2px solid #6FCFFF;
}

.diags-range {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .diags-range {
        max-width: 300px!important;
    }
}

footer {
    height: 110px;
    width: 100%;
    background-color: #09519D;
}

footer .title-1,
footer .title-2 {
    line-height: 98px;
    padding: 0px;
    margin: 0px;
    font-size: 38px;
}

ul.diags {
    list-style-type: none;
    padding: 0px;
}

ul.diags li {
    width: 89;
    float: left;
    margin: 0px 25px 25px 0px;
}

ul.diags li:first-child {
    margin: 0px 25px 25px 0px;
}

h2.diags {
    font-family: 'Avenir-Book';
    font-size: 36px;
    padding-bottom: 33px;
}

h2.diags.black {
    color: black;
}

.home .diag-dialog-right-transparent {
    max-width: 481px;
}

.home .diag-dialog-right {
    max-width: 481px;
    background-color: #00A9FF;
}

.btn {
    height: 46px;
    background: white;
}

.diag-btn-main:hover,.diag-btn-main:active,.diag-btn-main:focus{
    color:whitesmoke;
}
.diag-btn-main{
       background-color: #0A3967;
    height: 60px;
    width: 100%;
    font-family: Avenir-Medium;
    font-size: 18px;
    color: white;
}

.dropdown .caret {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #00A9FF;
    border: 0px;
    margin: 0px;
    padding: 0px;
    line-height: 17px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    /* outline: 1px solid red; */
    position: absolute;
    right: 5px;
}

.dropdown .caret:before {
    content: "\f078";
}

.dropdown button span{
    color:black;
    font-family:'Avenir-Roman';
    font-size:13px;
}
.dropdown button{
    position:relative;
    text-align: left;
}
.dropdown.with-caret button span:first-child{
        padding-right: 20px;
}
.gaz-dropdown button{
    width: 169px;
}

.address i{
    color:#0B3968;
}
.address span{
    background-color:white;
}
.address input{
        border-left: 0px;
}