.payment-form__cardNumber {
    margin-top: 0.5em;
}

.payment-form__password {
    margin-top: 0.5em;
}
.payment-form__total{
    margin-top: 0.5em;
}

.order-payment-form-modal {
    max-width: 500px;
    margin: 0 auto;
    overflow-x: hidden!important;
    overflow-y: auto;
}


@media screen and (min-width: 768px) {
    .order-payment-form-modal {
        max-width: 500px;
    }
}

/*
@media screen and (min-width: 992px) {
    .payment-form__total{
        margin-top:2em;
    }
    .payment-form__password {
        margin-top: 1.6em!important;
    }
    .payment-form__cardNumber {
        margin-top: 3em;
    }
    .order-payment-form-modal {
        max-width: 1200px;
    }
}*/

.order-payment-form-modal .row {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.order-quote-form-modal {
    max-width: 500px;
    margin: 0 auto;
    overflow-x: hidden!important;
    overflow-y: auto;
}

.order-quote-form-modal .row {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.payment-form__title {
    text-align: center;
    font-size: 1.5em;
}

.quote-form__title {
    text-align: center;
    font-size: 1.5em;
}

.payment-form__error-text {
    color: tomato;
}

.payment-form__card-expiration-month {
    max-width: 70px;
    display: inline;
    text-align: center;
    min-width: 70px!important;
}

.payment-form__card-expiration-year {
    max-width: 70px;
    min-width: 70px!important;
    display: inline;
    text-align: center;
}

.payment-form__amount-label {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.payment-form__amount {
    color: #00A9FF!important;
    margin: 0px;
    text-align: center;
    font-size: 2em;
}

.payment-form__lw-icon {
    width: 100px;
    margin: 20px auto;
    display: block;
}
