.ace_editor{
    display:block;
    width:100%;
    min-height: 400px;
}
.ace_content *{
   font-family: monospace, monospace;
   font-size:12px;
}
.pdfobject-container { height: 500px;}
.pdfobject { border: 1px solid #666; }