.order-payment-form-modal {
    max-width: 500px;
    margin: 0 auto;
    overflow: hidden!important;
}

.order-payment-form-modal .row{
    padding-left:0px!important;
    padding-right:0px!important;
}

.payment-form__title {
    text-align: center;
    font-size: 1.5em;
}

.payment-form__error-text {
    color: tomato;
}

.payment-form__card-expiration-month {
    max-width: 50px;
    display: inline;
}
.payment-form__card-expiration-year {
    max-width: 65px;
    display: inline;
}

.payment-form__amount-label {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.payment-form__amount {
    color: #00A9FF!important;
    margin: 0px;
    text-align: center;
    font-size: 2em;
}

.payment-form__lw-icon {
    width: 100px;
    margin: 0 auto;
    display: block;
}
