<div class="row">
    <div class="col-sm-12 padding-none">
        <ol class="breadcrumb">
            <li><a class="link" ng-click="route('settings')">Settings</a></li>
            <li><a class="link" ng-click="route('tools')">Tools</a></li>
            <li>Datetime Picker Test Unit</li>
        </ol>
    </div>
</div>
<div class="container" ng-controller="diags_ctrl_tools">
    <div class="row margin-top-two">
        <div class="col-sm-12">
            PICKADAY
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn diags-btn bg-azure-radiance" ng-click="route('Settings')">Back to Settings</button>
        </div>
    </div>
</div>