<modal-confirm open="confirm"></modal-confirm>
<div class="row">
    <div class="col-sm-12 padding-none">
        <ol class="breadcrumb">
            <li><a class="link" ng-click="route('dashboard')">Tableau de bord</a></li>
            <li ng-if="userIs('admin')"><a class="link" ng-click="route('diags')">Diags</a></li>
            <li ng-if="userIs('admin')">Diag Details</li>
            <li ng-if="userIs('diag')">Mon profil</li>
        </ol>
    </div>
</div>
<div class="container" ng-controller="ctrl-diag-edit" ng-init="item.userType='diag'">
    <div class="row diags-row margin-bottom-two">
        <div class="col-sm-6 col-md-4">
            <div class="row margin-top-one">
                <label>Adresse email</label>
            </div>
            <div class="row  margin-top-half">
                <input ng-disabled="state.working() || item._id" ng-model="item.email" class="diags-input" placeholder="Adresse email">
            </div>
            <div class="row margin-top-one" ng-init="passVisible=false">
                <label>Mot de passe</label>
            </div>
            <div class="row  margin-top-half">
                <input ng-show="!passVisible" ng-disabled="state.working()" type="password" ng-model="item.password" placeholder="mot de passe" class="diags-input">
                <input ng-show="passVisible" ng-disabled="state.working()" type="text" ng-model="item.password" placeholder="mot de passe" class="diags-input">
                <out ng-show="userIs('admin')">
                    <i ng-disabled="state.working()" ng-show="!passVisible" class="fa fa-eye link" ng-click="passVisible=true"></i>
                    <i ng-disabled="state.working()" ng-show="passVisible" class="fa fa-eye-slash link" ng-click="passVisible=false"></i>
                </out>
            </div>
            <div class="row margin-top-one">
                <label>Prénom</label>
            </div>
            <div class="row  margin-top-half">
                <input ng-disabled="state.working()" ng-model="item.firstName" class="diags-input" placeholder="prénom">
            </div>
            <div class="row margin-top-one">
                <label>Nom</label>
            </div>
            <div class="row  margin-top-half">
                <input ng-disabled="state.working()" ng-model="item.lastName" class="diags-input" placeholder="nom">
            </div>
            <div class="row margin-top-one" ng-show="item.clientType == 'agency'">
                <label>Raison sociale</label>
            </div>
            <div class="row  margin-top-half" ng-show="item.clientType == 'agency'">
                <input ng-disabled="state.working()" ng-model="item.companyName" class="diags-input" placeholder="Raison sociale">
            </div>
            <div class="row margin-top-one">
                <label>Téléphone fixe</label>
            </div>
            <div class="row  margin-top-half">
                <input ng-disabled="state.working()" ng-model="item.fixedTel" class="diags-input" placeholder="Téléphone fixe">
            </div>
            <div class="row margin-top-one">
                <label>Mobile</label>
            </div>
            <div class="row  margin-top-half">
                <input ng-disabled="state.working()" ng-model="item.cellPhone" class="diags-input" placeholder="Mobile">
            </div>
            <div class="row margin-top-one">
                <label>Wallet ID</label>
            </div>
            <div class="row  margin-top-half">
                <input ng-disabled="true" ng-value="item.wallet" class="diags-input" placeholder="(Sans wallet)">
            </div>
            <div class="row margin-top-quarter" ng-show="userIs('admin')&&!item.wallet">
                <button ng-click="createWallet()" ng-disabled="state.working()" class="btn diags-btn bg-azure-radiance">Create wallet</button>
            </div>
            <div class="row margin-top-one">
                <label>Départements en charge</label>
            </div>
            <div class="row  margin-top-half">
                <table ng-show="item.departments.length>0" class="table table-striped table-condensed unselectable questions" style="width: 286px;">
                    <tr ng-repeat="(k,o) in item.departments" class="unselectable">
                        <td>
                            {{o}}
                            <i ng-click="removeDeparment(o)" class='float-right fa fa-times link' style="color: rgba(0,0,0,.1);
    margin-top: 3px;" aria-hidden='true'></i>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="row  margin-top-half" style="width: 285px;">
                <div class="col-xs-5 padding-none">
                    <input style="width: 162px;" class="diags-input" ng-model="department" placeholder="EX: 78">
                </div>
                <div class="col-xs-7 padding-none">
                    <button ng-click="addDepartment()" ng-disabled="!department" class="float-right btn diags-btn bg-azure-radiance" style="margin-right: 3.9px;">Ajouter</button>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-8">
            <div class="row margin-top-one">
                <label>Adresse</label>
            </div>
            <div class="row  margin-top-half">
                <input ng-disabled="state.working()" type="text" data-address model="item" field="address" placeholder="Street Address" city="city" department="department" region="region" country="country" post-code="postCode" class="diags-input fullwidth max-w-500">
            </div>
            <div class="row margin-top-one">
                <label>Ville</label>
            </div>
            <div class="row  margin-top-half">
                <input ng-disabled="state.working()" ng-model="item.city" class="diags-input" placeholder="Ville">
            </div>
            <div class="row margin-top-one">
                <label>Department</label>
            </div>
            <div class="row  margin-top-half">
                <input ng-disabled="state.working()" ng-model="item.department" class="diags-input" placeholder="Department">
            </div>
            <div class="row margin-top-one">
                <label>Région</label>
            </div>
            <div class="row  margin-top-half">
                <input ng-disabled="state.working()" ng-model="item.region" class="diags-input" placeholder="Région">
            </div>
            <div class="row margin-top-one">
                <label>Pays</label>
            </div>
            <div class="row  margin-top-half">
                <input ng-disabled="state.working()" ng-model="item.country" class="diags-input" placeholder="Pays">
            </div>
            <div class="row margin-top-one" ng-show="userIs('admin')">
                <label>Reversement</label>
            </div>
            <div class="row  margin-top-half" ng-show="userIs('admin')">
                <input class="diags-input" ng-disabled="state.working()" ng-model="item.commission">
            </div>
            <div class="row margin-top-one" ng-show="userIs('admin')">
                <label>Priorité</label>
            </div>
            <div class="row  margin-top-half" ng-show="userIs('admin')">
                <input class="diags-input" ng-disabled="state.working()" ng-model="item.priority">
            </div>
            <div class="row margin-top-one" ng-show="userIs('admin')">
                <label>Activated</label>
            </div>
            <div class="row  margin-top-half" ng-show="userIs('admin')">
                <label class="">
                    <input type="checkbox" ng-model='item.disabled' ng-true-value="false" ng-false-value="true" class="check mark-white" />
                    <span class="sky-blue"></span>
                </label>
            </div>
            <div class="row margin-top-half" ng-show="item._id">
                <div ng-include="'views/diags/backoffice/diag/diags-diplomes-partial.html'" includeReplace></div>
            </div>
        </div>
    </div>
    <div class="row diags-row margin-bottom-two" ng-show="item._id">
        <div class="col-sm-12 padding-none">
            <div ng-if="false" ng-include="'views/diags/backoffice/exception/exception.list.html'" includeReplace></div>
            <div class="row" ng-if="false">
                <div class="col-sm-12 padding-none">
                    <h3 class="v-margin-2 padding-0">Exceptions</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 padding-none">
                    <diag-exception-list></diag-exception-list>
                </div>
            </div>
        </div>
    </div>
    <div class="row diags-row margin-bottom-two">
        <div class="col-sm-12">
            <button ng-disabled="state.working()" class="margin-bottom-quarter btn diags-btn bg-azure-radiance" ng-click="validate()">Enregistrer</button>
            <button ng-disabled="state.working()" class="margin-bottom-quarter btn diags-btn bg-azure-radiance" ng-click="cancel()">Annuler</button>
            <button ng-show="userIs('admin')" ng-disabled="state.working()" class="margin-bottom-quarter btn diags-btn bg-azure-radiance" ng-click="delete()">Supprimer</button>
        </div>
    </div>
</div>
