<security ng-init="onlyForLogged('admin')"></security>
<div class="container-fluid backoffice-wrapper" ng-if="userIs('admin')">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-none">
                <ol class="breadcrumb">
                    <li><a class="link" ng-click="route('dashboard')">Dashboard</a></li>
                    <li>Diags</li>
                </ol>
            </div>
        </div>
        <div class="row margin-top-four margin-bottom-four">
            <div class="col-sm-12">
                <diags-list></diags-list>
            </div>
        </div>
    </div>
</div>

