<div class="row">
    <div class="col-sm-12 padding-none">
        <ol class="breadcrumb">
            <li><a class="link" ng-click="route('dashboard')">Dashboard</a></li>
            <li>Indisponibilité</li>
        </ol>
    </div>
</div>

<div class="container" ng-controller="diagExceptionEdit">
    <div class="row">
        <div class="col-sm-12 col-md-6 margin-top-one">
            <div class="row margin-top-half" ng-if="userIs(['admin'])">
                <label>Diag</label>
            </div>
            <div class="row" ng-if="userIs(['admin'])">
                <input ng-disabled="state.working() || item._id" type="text" class="diags-input" ng-model="item._user" placeholder="Diag" uib-typeahead="item as item.email for item in getDiags($viewValue) | limitTo:8" typeahead-loading="LoadingClients||'Loading diags. . .'" typeahead-no-results="noResults">
            </div>
            <div class="row margin-top-half">
                <label>Motif (Optionnel)</label>
            </div>
            <div class="row">
                <input type="text" class="diags-input" ng-disabled="state.working()" ng-model="item.description" placeholder="Motive (optional)">
            </div>
             <div class="row margin-top-half"  ng-show="item.repeat!=='none'">
                <label>Day</label>
            </div>
            <div class="row" ng-show="item.repeat!=='none'">
                <span uib-dropdown name='day'>
      					<button ng-disabled="repeat=='day'" id="single-button" type="button" 
      					class="btn diags-btn bg-azure-radiance padding-right-one btn-sm" uib-dropdown-toggle ng-disabled="disabled">
        				{{days.selected}}<span class="caret"></span>
                </button>
                <ul uib-dropdown-menu aria-labelledby="simple-dropdown">
                    <li ng-repeat="choice in days.items">
                        <a href ng-click="days.click(choice)">{{choice.label || choice}}</a>
                    </li>
                </ul>
                </span>
            </div>
            <div class="row margin-top-half">
                <label>De</label>
            </div>
            <div class="row">
                <input 
                pikaday="item.start" 
                theme="diags" 
                ng-attr-min={{datepicker.minDate}}
                ng-attr-max={{datepicker.maxDate}}
                placeholder="De">
            </div>
            <div class="row margin-top-half">
                <label>À</label>
            </div>

            <div class="row">
                 <input 
                pikaday="item.end" 
                theme="diags" 
                ng-attr-min={{datepicker.minDate}}
                ng-attr-max={{datepicker.maxDate}}
                placeholder="À">
            </div>


        </div>
        <div class="col-sm-12 col-md-6 margin-top-one">
            <div class="row">

                <label class="">
                    <input type="checkbox" check-box-group check-box-model='item.repeat' name="repeatMode" value="week" class="check mark-white" />
                    <span class="sky-blue"></span>
                </label>
                <label>Indisponibilité toutes les semaines</label>
            </div>

            <div class="row">

                <label class="">
                    <input type="checkbox" check-box-group check-box-model='item.repeat' name="repeatMode" value="day" class="check mark-white" />
                    <span class="sky-blue"></span>
                </label>
                <label>Indisponibilité tous les jours</label>
            </div>

            <div class="row">

                <label class="">
                    <input type="checkbox" check-box-group check-box-model='item.repeat' name="repeatMode" value="none" class="check mark-white" />
                    <span class="sky-blue"></span>
                </label>
                <label>Indisponibilité spécifique</label>
            </div>


        </div>
    </div>
    <div class="row margin-top-one">
        <div class="col-sm-12 col-md-6">
            <button ng-disabled="state.working()" class="btn diags-btn bg-azure-radiance margin-top-one" ng-click="validate()">Ajouter l'indisponibilité</button>
            <button ng-disabled="state.working()" class="btn diags-btn bg-azure-radiance margin-top-one" ng-click="cancel()">Annuler</button>
            <button 
            ng-show="item._id"
            ng-disabled="state.working()" class="btn diags-btn bg-azure-radiance margin-top-one" ng-click="delete()">Supprimer</button>
        </div>
    </div>
</div>