<footer class="margin-top-four">
    <div class="container relative">
        <p class="text visible-lg-block">
            <a class="link">Conditions Générales d'Utilisation</a> &nbsp;|&nbsp;
            <a class="link">Mentions légales</a>
        </p>
        <p class="text-center title">
            <span class="title-1">Diagnosti<span class="title-2">cal</span></span>
            <div class="text-center visible-xs-block visible-sm-block visible-md-block hidden-lg">
                <a class="link">Conditions Générales d'Utilisation</a> &nbsp;|&nbsp;
                <a class="link">Mentions légales</a>
            </div>
        </p>
    </div>
</footer>