<div class="row">
    <div class="col-sm-12 padding-none">
        <ol class="breadcrumb">
            <li><a class="link" ng-click="route('dashboard')">Dashboard</a></li>
            <li><a class="link" ng-click="route('settings')">Settings</a></li>
            <li>Texts</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row margin-top-four margin-bottom-four">
        <div class="col-sm-12">
            <texts-list></texts-list>
        </div>
    </div>
</div>
<modal-confirm open="confirm"></modal-confirm>

<script type="text/ng-template" id="textsFilter.html">
    <ul class="form-tiny center-block float-right">
        <!--<li>
            <label>
                Filtre&nbsp;&nbsp; (
                <i class="fa fa-question" tooltip-placement="top" uib-tooltip="ENTER or Filter button will fetch from the server."></i>)
            </label>
        </li>-->
        <li>
            <label>Page Section</label>
            <select class="diags-input" ng-model="model.filter.fields._category" ng-options="item._id as item.code for item in model.categories">
                <option value="">Select</option>
            </select>
        </li>
        <li class="margin-top-quarter">
            <label>Code</label>
            <input class="diags-input" ng-model="model.filter.fields.code" placeholder="Code" />
        </li>

    </ul>
</script>


