<div class="row">
    <div class="col-sm-12 padding-none">
        <ol class="breadcrumb">
            <li><a class="link" ng-click="route('dashboard')">Dashboard</a></li>
            <li><a class="link" ng-click="route('settings')">Settings</a></li>
            <li>Texts</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row margin-top-four margin-bottom-four">
        <div class="col-sm-12">
            <texts-list></texts-list>
        </div>
    </div>
</div>
<modal-confirm open="confirm"></modal-confirm>

<script type="text/ng-template" id="textsFilter.html">
    <ul class="form-tiny center-block float-right">
        <li>
            <label>
                Filtre&nbsp;&nbsp; (
                <i class="fa fa-question" tooltip-placement="top" uib-tooltip="ENTER will fetch from the server."></i>)
            </label>
        </li>
        <li>
            <label>Status</label>
            <input class=""  model="model" field="filter.fields.code" placeholder="Code" />
        
        </li>

    </ul>
</script>


