<div class="modal-header">
    <h3 class="modal-title">Confirm as an Agency</h3>
</div>
<div class="modal-body">
    <div ng-show="data.hasUser">
        Welcome back {[{data._user.firstName || data._user.email}]}.
        <br>
    </div>
    You will receive an email notifying the creation of the order.
    <br> As an Agency, you have access to a Back-office to manage your clients and send them a link to pay.
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="yes()">Yes</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Annuler</button>
</div>
