<p>&nbsp;Monsieur, Madame,</p>
<p>Le diagnostiqueur vient de charger votre dossier de diagnostics techniques sur la plateforme Diagnostical.<br />Vous pouvez d&egrave;s &agrave; pr&eacute;sent le t&eacute;l&eacute;charger sur <a href="http://diagnostical.fr/" target="_blank" rel="noopener noreferrer">diagnostical.fr</a> depuis votre espace client.<br />Vous trouverez &eacute;galement votre facture en t&eacute;l&eacute;chargement.</p>
<p>Nous vous remercions pour votre confiance et nous esp&eacute;rons renforcer notre collaboration &agrave; l'avenir.</p>
<p>Bien cordialement,</p>
<p>L'&eacute;quipe Diagnostical<br />01.79.72.82.33</p>