<p>Madame, Monsieur,
<p style="margin:10px 0px;">
Cette commande est passée mais elle n'est pas encore payée. L'équipe Diagnostical vous notifiera rapidement de sa confirmation ou de son annulation.
</p>
Vous avez une nouveau rendez-vous :
<br>
Date : $ORDER_DATE_HOUR
<br>
Adresse : $ORDER_ADDRESS
<br>
Diagnostics : 
<br>
$ORDER_DIAG_LIST
<br>
Remise des clefs : $ORDER_KEYS_INFO
<p style="margin:10px 0px;">
Votre commande prix TTC : $ORDER_PRICE_TTC €
</p>
 Bien cordialement,
        <br> L'équipe Diagnostical
        <br>01.79.72.82.33
</p>