<p>Madame, Monsieur,<br /><br /></p>
<p>Nous vous remercions pour votre inscription sur Diagnostical en tant que prestataire en diagnostics immobiliers.<br /><br /></p>
<p>Afin de poursuivre votre démarche, tout en respectant les règles bancaires fixées par <a href="https://acpr.banque-france.fr/accueil.html"  target="_blank">l'ACPR</a>, nous vous saurions gré de bien vouloir nous transmettre dans les dix jours à réception du présent courriel, les documents ci-dessous par voie électronique :<br /><br /></p>
<p>1- Pi&egrave;ce d&rsquo;identit&eacute; recto/verso en cours de validit&eacute;</p>
<p>2- Extrait KBIS de moins de 3 mois</p>
<p>3- Certificats de comp&eacute;tences</p>
<p>4- Attestation d'assurance avec la garantie financi&egrave;re pour chaque mission.</p>
<p>5- Attestation d'URSSAF (https://www.urssaf.fr/portail/home/employeur/declarer-et-payer/obtenir-une-attestation.html)</p>
<p>6- La liste du mat&eacute;riel et des logiciels utilis&eacute;s pour r&eacute;aliser les missions.</p>
<p>7- Un exemple en PDF de rapport.</p>
<p>8- Statuts de la soci&eacute;t&eacute; certifi&eacute;s conformes &agrave; l&rsquo;original</p>
<p>9- Justificatif de domicile de moins de 3 mois du DIrigeant</p>
<p>10- Un RIB au nom de la personne morale</p>
<p>11- Photo d&rsquo;identit&eacute; couleur</p>
<h1><strong><strong>&nbsp;</strong></strong></h1>
<p>Notre responsable qualit&eacute; prendra contact avec vous dans les dix jours suivant la r&eacute;ception de vos documents.<br /><br /></p>
<p>Pour toute information ou question suppl&eacute;mentaire, n&rsquo;h&eacute;sitez pas &agrave; nous contacter par t&eacute;l&eacute;phone ou par mail.<br /><br /></p>
<p>Nous vous remercions par avance de votre collaboration et vous adressons nos salutations les meilleures.<br /><br /><br /></p>
<p>Pierre</p>
<p>Fondateur de Diagnostical</p>
<p>pierre@diagnostical.fr</p>
<p>01.79.72.82.33</p>
<h1><br /><br /></h1>