<p>Madame, Monsieur,</p>
<p style="margin:10px 0px;">
Nous vous confirmons votre commande. Votre rendez-vous est confirmé.
Le diagnostiqueur a été notifié : $DIAG_FULL_NAME
</p>
<p>
Adresse du diagnostic : $ORDER_ADDRESS
<br>
Rendez-vous : $ORDER_DATE_HOUR
<br>
Remise des clefs : $ORDER_KEYS_INFO
<br> <out style="display:$OBS_DISPLAY;">Observations complémentaires :
</p>
<p>
    $ORDER_OBSERVATION
</p>
</out>
</p>
Bien cordialement,
        <br> L'équipe Diagnostical
        <br>01.79.72.82.33
</p>