<div class="container-fluid backoffice-wrapper">
    <div class="container" ng-controller="settings-controller">
        <div class="row-fluid">
            <div class="span-12 padding-none">
                <ol class="breadcrumb">
                    <li><a class="link" ng-click="route('dashboard')">Dashboard</a></li>
                    <li>Settings</li>
                </ol>
            </div>
        </div>
        <out class="form-tiny">
            <div class="row margin-top-one">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                    <table class="table table-striped table-condensed link questions">
                        <tr ng-repeat="(k,o) in menuItems" class="link settings__list-item" ng-click="route(o)">
                            <td class="link"><label class="link settings__list-item__label" ng-bind="k"></label></td>
                        </tr>
                    </table>
                </div>
                <div class="hidden-xs col-sm-6 col-md-8 col-lg-8">
                    <img src="/img/extra/volume.jpg" class="img-responsive" style="float: right;">
                    <!-- http://placehold.it/600x600 -->
                </div>
            </div>
        </out>
    </div>
</div>
