<div class="container-fluid backoffice-wrapper">
    <div class="container" ng-controller="settings-deploy-controller">
        <div class="row-fluid">
            <div class="span-12 padding-none">
                <ol class="breadcrumb">
                    <li><a class="link" ng-click="route('dashboard')">Dashboard</a></li>
                    <li><a class="link" ng-click="route('settings')">Settings</a></li>
                    <li>Deploy</li>
                </ol>
            </div>
        </div>
        <out class="form-tiny">
            <div class="row margin-top-one">
                <div class="col-sm-12">
                    <h2>Deploy</h2>
                </div>
            </div>
        </out>
    </div>
</div>
