<script type="text/javascript">
    /*global $*/
    if (typeof window.io == 'undefined') {
        $.getScript("/js/vendor/socket.io.min.js", function() {});
    }
</script>

<div class="container-fluid backoffice-wrapper">
    <div class="container" ng-controller="settings-deploy-controller">
        <div class="row-fluid">
            <div class="span-12 padding-none">
                <ol class="breadcrumb">
                    <li><a class="link" ng-click="route('dashboard')">Dashboard</a></li>
                    <li><a class="link" ng-click="route('settings')">Settings</a></li>
                    <li>Deployment</li>
                </ol>
            </div>
        </div>
        <out class="form-tiny">
            <div class="row margin-top-one">
                <div class="col-sm-12">
                    <h2>Diagnostical.com</h2>

                    <h3 ng-bind="currentVersion()"></h3>
                    <div class="row">
                        <div class="padding-none padding-top-one col-sm-12 col-lg-5">
                            <select ng-disabled="!tags" class="diags-input" name="tagsSelect" id="tagsSelect" ng-model="selectedTag">
                              <option ng-repeat="option in tags" value="{[{option.name}]}" ng-bind="tagsSelectLabel(option)"></option>
                            </select>
                        </div>
                        <div class="padding-none padding-top-one col-sm-12 col-lg-7">
                            <p class="deployment-tool__tag-description-text" ng-bind="tagDescription()"></p>
                        </div>
                    </div>



                    <div class="padding-none padding-top-one col-sm-12">
                        <button class="btn diags-btn bg-azure-radiance" ng-click="refreshTags()">Refresh tags</button>
                        
                        <button 
                            class="btn diags-btn bg-azure-radiance" ng-click="deployTag()">Deploy now</button>
                            
                        <button 
                            class="btn diags-btn bg-azure-radiance" ng-click="checkStatus()">Check status</button>
                            
                             <button 
                            class="btn diags-btn bg-azure-radiance" ng-click="restartServer()">Restart Application</button>
                            
                    </div>

                    <div class="padding-none padding-top-one col-sm-12">
                        <textarea class="textarea-medium" ng-bind="consoleOutput()" readonly no-resize>
                            
                        </textarea>
                    </div>

                    <div class="padding-none padding-top-halve col-sm-12" >
                        <button class="btn diags-btn bg-azure-radiance" ng-click="clearConsole()">Clear console</button>
                    </div>

                </div>
            </div>
        </out>
    </div>
</div>
