
<div class="row">
    <div class="col-sm-12 padding-none">
        <ol class="breadcrumb">
            <li><a class="link" ng-click="route('dashboard')">Dashboard</a></li>
            <li ng-show="userIs('admin')"><a class="link" ng-click="route('orders')">Orders</a></li>
            <li>Détails de la commande</li>
        </ol>
    </div>
</div>
<div class="container" ng-controller="adminOrdersEdit">
    <modal-confirm open="confirm"></modal-confirm>
    <div ng-if="userIs('diag')" ng-include="'views/diags/backoffice/diag/diag-order-details.html'" includeReplace></div>
    <div ng-if="userIs('admin')" ng-include="'views/diags/backoffice/admin/admin-order-details.html'" includeReplace></div>
    <div ng-if="userIs('client')" ng-include="'views/diags/backoffice/client/client-order-details.html'" includeReplace></div>
</div>
