<div class="row">
    <div class="col-sm-12 padding-none">
        <ol class="breadcrumb">
            <li><a class="link" ng-click="route('dashboard')">Dashboard</a></li>
            <li>Orders</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row margin-top-four margin-bottom-four">
        <div class="col-sm-12">
            <orders-list></orders-list>
        </div>
    </div>
</div>
<modal-confirm open="confirm"></modal-confirm>

<script type="text/ng-template" id="ordersFilter.html">
    <ul class="form-tiny center-block float-right">
        <li>
            <label>
                Filtre&nbsp;&nbsp; (
                <i class="fa fa-question" tooltip-placement="top" uib-tooltip="ENTER will fetch from the server."></i>)
            </label>
        </li>
        <li>
            <label>Status</label>

            <input class="awesomplete" awesome-complete target="#myList" model="model" field="filter.fields.status" placeholder="ex: created, ordered, prepaid" key-bind="model.filter.filter()" code="13" event-type="keyup" />
            <!-- //ng-model="model.filter.fields.status" -->

            <datalist id="myList">
                <option>created</option>
                <option>ordered</option>
                <option>prepaid</option>
                <option>delivered</option>
                <option>completed</option>
            </datalist>

        </li>
        
        <li>
            <label>CreatedAt</label>
            <select class="diags-input minimal" ng-model="model.filter.fields.createdAt" ng-options="index as month for (index,month) in model.months()" ng-change="model.filter.filter()">
                <option value="">Select</option>
            </select>
        </li>

    </ul>

</script>
