<div class="container diags-content" ng-controller="diagInscription">
    <div class="row diags-form-wrapper">
        <div class="col-sm-12 col-md-12">
            <div class="diags-form">
                <div class="row">
                    <i class="fa fa-chevron-right fnt-18"><span class="title margin-left-quarter">Details du compte</span></i>
                </div>
                <div class="row margin-top-one">
                    <input type="email" ng-model="item.email" class="diags-input" placeholder="Adresse email">
                </div>
                <div class="row margin-top-half">
                    <input ng-model="item.password" type="password" class="diags-input" placeholder="Mot de passe">
                </div>
                <div class="row margin-top-half">
                    <input type="text" ng-model="item.cellPhone" class="diags-input" placeholder="Mobile">
                </div>
                <div class="row margin-top-half">
                  
                    <input type="text" class="form-control diags-input" data-address model="item" field="address" department="department" region="region" country="country" post-code="postCode" placeholder="Ex: 102 rue Réaumur 75002 Paris, France">
                </div>
                <div class="row margin-top-one">
                    <button ng-disabled="sendingRequest" class="btn  diag-btn-main" ng-click="validate()">s'inscrire</button>
                </div>
            </div>

        </div>
    </div>
</div>
