<div container-fluid class="bo-dashboard">
    <div class="row">
        <div class="col-md-6">
            <li class="list-group-item list-group-item-success">
                <h1>Users</h1>
            </li>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    <h3>Clients (Landlords)</h3>
                </li>
                <li class="list-group-item list-group-item-default">
                    <h4>{[{g.nroLandlords}]}</h4>
                </li>
                <li class="list-group-item list-group-item-info">
                    <h3>Clients (Agencies / Others)</h3>
                </li>
                <li class="list-group-item list-group-item-default">
                    <h4>{[{g.nroAgencies}]}</h4>
                </li>
                <li class="list-group-item list-group-item-info">
                    <h3>Active Diags</h3>
                </li>
                <li class="list-group-item list-group-item-default">
                    <h4>{[{g.nroDiags}]}</h4>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <li class="list-group-item list-group-item-success">
                <h1>Orders</h1>
            </li>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    <h3>Created </h3><span class="avenir-book fnt-12">Non confirmed or paid yet.</span></li>
                <li class="list-group-item list-group-item-default">
                    <h4>{[{g.nroOrdersCreated}]}</h4>
                </li>
                <li class="list-group-item list-group-item-info">
                    <h3>Ordered</h3><span class="avenir-book fnt-12">Confirmed but non paid yet.</span></li>
                <li class="list-group-item list-group-item-default">
                    <h4>{[{g.nroOrdersOrdered}]}</h4>
                </li>
                <li class="list-group-item list-group-item-info">
                    <h3>Prepaid</h3><span class="avenir-book fnt-12">Confirmed and paid.</span></li>
                <li class="list-group-item list-group-item-default">
                    <h4>{[{g.nroOrdersPrepaid}]}</h4>
                </li>
                <li class="list-group-item list-group-item-info">
                    <h3>Delivered</h3><span class="avenir-book fnt-12">Confirmed and done but non paid yet.</span></li>
                <li class="list-group-item list-group-item-default">
                    <h4>{[{g.nroOrdersDelivered}]}</h4>
                </li>
                <li class="list-group-item list-group-item-info">
                    <h3>Completed</h3><span class="avenir-book fnt-12">Paid and done.</span></li>
                <li class="list-group-item list-group-item-default">
                    <h4>{[{g.nroOrdersCompleted}]}</h4>
                </li>
            </ul>
            <div class="jumbotron">
                <h2>Diagnostical</h2>
                <h3>currentVersion</h3>
                <div ng-bind="appDetails.version"></div>
            </div>
        </div>
    </div>
</div>
