<ul class="form-tiny center-block" ng-show="item._id && !userIs('client') && logged()">
    <li>
        Les diagnostics en PDF <i class="fa fa-question" tooltip-placement="top" uib-tooltip="Files are streamed directly from database. Please, be patient."></i>
    </li>
    <li ng-repeat="(diagCode,diagValue) in item.diags" ng-if="diagValue" class="relative diplome">
        <!--LABEL-->
        <label ng-bind="diagNameConvertion(diagCode)"></label>
        <!--FILE-->
        <input ng-show="!pdfExists(diagCode)" ng-disabled="state.working()" id="{[{'file_'+diagCode}]}" class="form-control" type="file" file-model="pdf[diagCode]" file-model-overwrite="true" file-model-change="pdfChange(diagCode)">

        <!--LABEL PDF FILENAME (IF UPLOADED)-->
        <p ng-show="pdfExists(diagCode)">
            <span class="order-pdf-label link" ng-click="pdfDownload(diagCode)" ng-bind="item.files[diagCode].filename"></span> &nbsp;
            <!--DOWNLOAD-->
            <i ng-show="pdfExists(diagCode)" ng-disabled="!item._id || state.working() || !pdfExists(diagCode)" ng-click="!pdfExists(diagCode) || pdfDownload(diagCode)" class="fa fa-download file-button">&nbsp;</i>
            <!--DELETE-->
            <i ng-show="pdfExists(diagCode)" ng-click="pdfDelete(diagCode)" class="fa fa-times file-button"></i>
        </p>



    </li>
    <li ng-show="item.files.invoice" class="relative diplome">
        <label ng-bind="'Facture pdf'"></label>
        <p>
            <span class="order-pdf-label link" ng-click="pdfDownload('invoice')" ng-bind="item.files['invoice'].filename"></span> &nbsp;
            <i ng-show="pdfExists('invoice')" ng-disabled="!item._id || state.working() || !pdfExists('invoice')" ng-click="!pdfExists('invoice') || pdfDownload('invoice')" class="fa fa-download file-button">&nbsp;</i>
        </p>
    </li>
</ul>
<div class="row margin-top-one" ng-show="isCompleted() && userIs('admin')">
    <div ng-hide="item.files.invoice" class="alert alert-info text-left padding-quarter" role="alert">Invoice should be generated automatically after order completion. It may take up to two minutes.</div>
    <button class="btn btn-sm diags-btn bg-azure-radiance" ng-disabled="state.working()" ng-click="!state.working() && generateInvoice()" ng-bind="generateInvoiceLabel()">Generate Invoice</button>
</div>




<ul class="form-tiny center-block" ng-show="item.files && item._id && (userIs('client') || !logged())">
    <li>
        Les diagnostics en PDF <i class="fa fa-question" tooltip-placement="top" uib-tooltip="Files are streamed directly from database. Please, be patient."></i>
    </li>
    <li ng-repeat="(diagCode,diagValue) in item.diags" ng-if="diagValue" ng-show="pdfExists(diagCode)" class="relative diplome">
        <!--LABEL-->
        <label ng-bind="diagNameConvertion(diagCode)"></label>

        <!--LABEL PDF FILENAME (IF UPLOADED)-->
        <p>
            <span class="order-pdf-label link" ng-click="pdfDownload(diagCode)" ng-bind="item.files[diagCode].filename"></span> &nbsp;
            <!--DOWNLOAD-->
            <i ng-show="pdfExists(diagCode)" ng-disabled="!item._id || state.working() || !pdfExists(diagCode)" ng-click="!pdfExists(diagCode) || pdfDownload(diagCode)" class="fa fa-download file-button">&nbsp;</i>
        </p>
    </li>
    <li ng-show="item.files.invoice" class="relative diplome">
        <label ng-bind="'Facture pdf'"></label>
        <p>
            <span class="order-pdf-label link" ng-click="pdfDownload('invoice')" ng-bind="item.files['invoice'].filename"></span> &nbsp;
            <i ng-show="pdfExists('invoice')" ng-disabled="!item._id || state.working() || !pdfExists('invoice')" ng-click="!pdfExists('invoice') || pdfDownload('invoice')" class="fa fa-download file-button">&nbsp;</i>
        </p>
    </li>
</ul>
