<div class="booking-form">

    <!-- BUILDING-STATE -->
    <div class="box">
        <div class="box-1-2">
            <div class="booking-form-header-btn link active" toggle-click toggle-value="item.info.buildingState" ng-value="1" toggle-class="active">
                Vous vendez ?
            </div>
        </div>
        <div class="box-1-2">
            <div class="booking-form-header-btn link" toggle-click toggle-value="item.info.buildingState" ng-value="0" toggle-class="active">
                Vous louez ?
            </div>
        </div>
    </div>


    <!-- BUILDING-TYPE -->
    <div class="row margin-bottom-one padding-top-one diag-row width90p center">
        <ul class="booking-form__building-type-list">
            <li class="booking-form__building-type-list-item">
                <pretty-radio color="white" value="'1'" ng-model="item.info.buildingType" label="'Appartement'"></pretty-radio>
            </li>
            <li class="booking-form__building-type-list-item">
                 <pretty-radio color="white" value="'0'" ng-model="item.info.buildingType" label="'Maison&nbsp;&nbsp;'"></pretty-radio>
            </li>
            <li class="booking-form__building-type-list-item">
                <pretty-radio color="white" value="'2'" ng-model="item.info.buildingType" label="'Commercial'"></pretty-radio>
            </li>
        </ul>
    </div>

    <div class="row  margin-bottom-one  diag-row width90p center">
        <div class="hr center"></div>
    </div>


    <!-- BUILDING-SIZE -->
    <div class="row diag-row width90p center">
        <div class="col-sm-4 diag-col-label-1 margin-bottom-one">
            <span class="label">Superficie</span>
        </div>
        <div class="col-sm-8 diag-col-sm-8-input-1 padding-none margin-bottom-one">
             <input 
             id="range" 
             type="range" 
             range-values="squareMeters" 
             range-model="item.info.squareMeters" />
            <div class="margin-top-half">
                <span class="fnt-12 avenir-roman padding-top-quarter">{[{item.info.squareMeters||'&nbsp;'}]}</span>
            </div>
        </div>
    </div>
    <div class="row  margin-bottom-one  diag-row width90p center">
        <div class="hr center"></div>
    </div>


    <div class="row diag-row width90p center">
        <!-- BUILDING-CONSTRUCTION-DATE -->
        <div class="col-sm-7 diag-col-label margin-bottom-one">
            <label>Permis de construire <div class="know-more">
                
                <div class="hover-block ">
                      <span class="red">Date du permis de construire</span><br>
                        Haussmannien et Art déco: avant 1949<br>
                        Moderne et Récent: entre 1949 et Juillet 1997<br>
                        Récent et Neuf: Aprés Juillet 1997<br>
                        <br>
                        Vous avez un doute? Contactez le SPF de votre commune.<br>
                        Vous trouverez les coordonnées ici: <a target="_blank" href="/files/spf.pdf">SPF.pdf</a>
                </div>
                
                <span class="link">?</span></div></label>
            <div class="dropdown with-caret">

                <button class="btn btn-default btn-permis-de-construire dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span>{[{__constructionPermissionDateSelectLabel}]}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="(k,v) in constructionPermissionDate">
                        <a class="link" ng-click="__constructionPermissionDateSelect(k,v)">{[{k}]}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- BUILDING-GAZ? -->
        <div class="col-sm-5 diag-col-label margin-bottom-one">
            <label>Gaz</label>
            <div class="dropdown with-caret gaz-dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span>{[{__gazSelectLabel}]}</span>
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="(k,v) in gasInstallation">
                        <a class="link" ng-click="__gazSelect(k,v)">{[{k}]}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- BUILDING-ELECTRICY? -->
    <div class="row padding-top-one diag-row width90p center">

        <div class="col-sm-4 diag-col-electricite margin-bottom-one">
            <span class="label">Electricité</span>
        </div>
        <div class="col-sm-4 col-xs-12 diag-col-electricite-min padding-none margin-bottom-one">
            <pretty-radio color="white" value="'Moins de 15 ans'" ng-model="item.info.electricityInstallation" label="'-&nbsp;de 15 ans'"></pretty-radio>
        </div>
        <div class="col-sm-4 col-xs-12 padding-none margin-bottom-one" style="min-width: 140px;">
            <pretty-radio color="white" value="'Plus de 15 ans'" ng-model="item.info.electricityInstallation" label="'+&nbsp;de 15 ans'"></pretty-radio>
        </div>

    </div>

    <!-- BUILDING-ADDRESS -->
    <div class="row diag-row width90p center">
        <div class="col-sm-12 padding-none margin-bottom-one">

            <div class="input-group address">
                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                <input type="text" class="form-control" data-address model="item" field="address" city="city" department="department" region="region" country="country" post-code="postCode" placeholder="Ex: 102 rue Réaumur 75002 Paris, France">
            </div>

        </div>
    </div>

    <div class="row diag-row width90p center">
        <div class="col-sm-12 padding-none margin-bottom-one">
            <button class="btn diag-btn-main" ng-disabled="state.working()" ng-click="proceedToDiagsSelection()">Estimez le prix de vos diagnostics</button>
        </div>
    </div>

</div>
