<ul class="nav navbar-nav navbar-right">
    <li><a ng-click="route(URL.NEW_ACCOUNT)" target="_blank" class="link diag-button diag-btn-success">Espace Entreprise</a></li>
    <li><a href="/admin" target="_blank" class="diag-button diag-btn-info">Espace Diagnostiqueur</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><a ng-click="route(URL.CONTACT_US)" class="link diag-link">Contactez-nous</a></li>
    <li><a ng-click="route(URL.ERNT)" class="link diag-link">ERNMT</a></li>
    <li><a ng-click="route(URL.FAQ)" class="link diag-link">FAQ</a></li>
</ul>