<div class="booking-form">
    <div class="box">
        <div class="box-1-2">
            <div class="booking-form-header-btn link active" toggle-click toggle-value="item.sell" ng-value="true" toggle-class="active">
                Vous vendez ?
            </div>
        </div>
        <div class="box-1-2">
            <div class="booking-form-header-btn link" toggle-click toggle-value="item.sell" ng-value="false" toggle-class="active">
                Vous louer ?
            </div>
        </div>
    </div>


    <div class="row padding-top-one diag-row width90p center">

        <div class="col-sm-4 diag-col-label-1 margin-bottom-one">
            <span class="label">Type</span>
        </div>
        <div class="col-sm-4 diag-col-sm-4-input-1 padding-none margin-bottom-one">
            <label class="sm-float-left">
                <input type="checkbox" check-box-group check-box-model='item.house' name="type" value="false" /><span class=""></span></label>
            <span class="padding-left-halve sm-float-left padding-top-01em">Appartement</span>
        </div>
        <div class="col-sm-4 diag-col-sm-4-input-1 padding-none margin-bottom-one 
        visible-sm-block visible-md-block visible-lg-block visible-xl-block">
            <span class="padding-left-halve float-right padding-top-01em">Maison</span>
            <label class="float-right">
                <input type="checkbox" check-box-group check-box-model='item.house' name="type" value="true" ng-model="item.house" /><span class=""></span></label>

        </div>
        <div class="col-sm-4 diag-col-sm-4-input-1 padding-none margin-bottom-one 
        visible-xs-block">

            <label class="">
                <input type="checkbox" check-box-group check-box-model='item.house' name="type" value="true" ng-model="item.house" /><span class=""></span></label>
            <span class="padding-left-halve  padding-top-01em">Maison</span>
        </div>

    </div>
    <div class="row  margin-bottom-one  diag-row width90p center">
        <div class="hr center"></div>
    </div>
    <div class="row diag-row width90p center">
        <div class="col-sm-4 diag-col-label-1 margin-bottom-one">
            <span class="label">Superficie</span>
        </div>
        <div class="col-sm-8 diag-col-sm-8-input-1 padding-none margin-bottom-one">
            <!--
            <input class="diags-range" ng-model="range" type="range" min="0" max="100" step="5" value="0" data-orientation="horizontal" range-values="squareMeters" range-model="item.squareMeters">
            -->
            <div range-values="squareMeters" range-model="item.squareMeters"></div>

            <span class="fnt-12 avenir-roman padding-top-quarter">{{item.squareMeters||'&nbsp;'}}</span>
        </div>
    </div>
    <div class="row  margin-bottom-one  diag-row width90p center">
        <div class="hr center"></div>
    </div>
    <div class="row diag-row width90p center">
        <div class="col-sm-7 diag-col-label margin-bottom-one">
            <label>Permis de construire <div class="know-more">
                
                <div class="hover-block">
                      <span class="red">Date du permis de construire</span><br>
                        Haussmannien et Art déco: avant 1949<br>
                        Moderne et Récent: entre 1949 et Juillet 1997<br>
                        Récent et Neuf: Aprés Juillet 1997<br>
                        <br>
                        Vous avez un doute? Contactez le SPF de votre commune.<br>
                        Vous trouverez les coordonnées ici: <a target="_blank" href="/files/spf.pdf">SPF.pdf</a>
                </div>
                
                <span>?</span></div></label>
            <div class="dropdown with-caret">

                <button class="btn btn-default btn-permis-de-construire dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span>{{__constructionPermissionDateSelectLabel}}</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="(k,v) in constructionPermissionDate">
                        <a class="link" ng-click="__constructionPermissionDateSelect(k,v)">{{k}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-5 diag-col-label margin-bottom-one">
            <label>Gaz</label>
            <div class="dropdown with-caret gaz-dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span>{{__gazSelectLabel}}</span>
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="(k,v) in gasInstallation">
                        <a class="link" ng-click="__gazSelect(k,v)">{{k}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row padding-top-one diag-row width90p center">

        <div class="col-sm-4 diag-col-label-1 margin-bottom-one">
            <span class="label">Electricité</span>
        </div>
        <div class="col-sm-4 diag-col-sm-4-input-1 padding-none margin-bottom-one">
            <label class="sm-float-left">
                <input type="checkbox" check-box-group check-box-model='item.electricityInstallation' name="electricityInstallation" value="Moins de 15 ans" /><span class=""></span></label>
            <span class="padding-left-halve sm-float-left">-&nbsp;de 15 ans</span>
        </div>
        <div class="col-sm-4 diag-col-sm-4-input-1 padding-none margin-bottom-one">
            <label class="sm-float-left">
                <input type="checkbox" check-box-group check-box-model='item.electricityInstallation' name="electricityInstallation" value="Plus de 15 ans" /><span class=""></span></label>
            <span class="padding-left-halve sm-float-left">+&nbsp;de 15 ans</span>
        </div>

    </div>

    <div class="row diag-row width90p center">
        <div class="col-sm-12 padding-none margin-bottom-one">

            <div class="input-group address">
                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                <input type="text" class="form-control" data-address model="item" field="address" city="city" department="department" region="region" country="country" post-code="postCode" placeholder="Ex: 102 rue Réaumur 75002 Paris, France">
            </div>

        </div>
    </div>

    <div class="row diag-row width90p center">
        <div class="col-sm-12 padding-none margin-bottom-one">
            <button class="btn diag-btn-main" ng-disabled="state.working()" ng-click="proceedToDiagsSelection()">Choisir vos diagnostics</button>
        </div>
    </div>

</div>