<div class="row ">
    <div class="col-md-7 only-mobile">
        <ul class="home__mobile-icons-list">
            <li>
                <img class="link" src="/img/dpe.jpg" />
            </li>
            <li>
                <img class="link" src="/img/amiante.jpg" />
            </li>
            <li>
                <img class="link" src="/img/carrez.jpg" />
            </li>
            <li>
                <img class="link" src="/img/plomb.jpg" />
            </li>
            <li>
                <img class="link" src="/img/gaz.jpg" />
            </li>
            <li>
                <img class="link" src="/img/electricite.jpg" />
            </li>
            <li>
                <img class="link" src="/img/termites.jpg" />
            </li>
            <li>
                <img class="link" src="/img/ernt.jpg" />
            </li>
            <li class="hidden">
                <img class="link" src="/img/parasite.jpg" />
            </li>
        </ul>
    </div>
    <div class="col-sm-12 icons-list hidden-mobile">
        <div>
            <img class="link" ng-click="diagSelected=diag.dpe" src="/img/dpe.jpg" />
            <img class="link" ng-click="diagSelected=diag.dta" src="/img/amiante.jpg" />
            <img class="link" ng-click="diagSelected=diag.loiCarrez" src="/img/carrez.jpg" />
            <img class="link" ng-click="diagSelected=diag.crep" src="/img/plomb.jpg" />
            <img class="link" ng-click="diagSelected=diag.gaz" src="/img/gaz.jpg" />
            <img class="link" ng-click="diagSelected=diag.electricity" src="/img/electricite.jpg" />
            <img class="link" ng-click="diagSelected=diag.ernt" src="/img/ernt.jpg" />
            <img class="link hidden" ng-click="diagSelected=diag.parasitaire" src="/img/parasite.jpg" />
        </div>
    </div>
</div>
