<div class="row booking-date-row">
    <div class="col-xs-12 col-md-6 col-lg-3" ng-repeat="d in diagSlots.get() track by $index" ng-show="d.slots.length>0">
        <div class="diags-date-day-wrapper">
            <div class="diags-date-day-header">{[{d.label()}]}</div>
            <div ng-repeat="(key,range) in d.slots track by $index" ng-class="{'diags-date-day-item':true,'selected':dateSlotSelected(range)}">
                <!--
                <div class="diags-date-day-item-check-wrapper">
                    <pretty-checkbox
                    ng-click="proceedToConnect()"
                    color="blue" value="range.id" ng-model="item.range" label="false"></pretty-checkbox>
                    
                </div>
                -->
                <div class="center-block diags-date-day-item-description-wrapper link" ng-click="proceedToConnect(range)">
                    <div class="time-price" ng-bind="drawRange(range)||'1h - 224 €'">
                    </div>
                    <div class="diag-guy" ng-bind="range.name||'Pepe, G'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>