<div class="row booking-date-row">
    <div class="col-xs-12 col-md-6 col-lg-3 rdv-day-wrapper" ng-repeat="d in diagSlots.get() track by $index" ng-show="d.slots.length>0">
        <div class="diags-date-day-wrapper">
            <div class="diags-date-day-header">{[{d.label()}]}</div>
            <div ng-repeat="(key,range) in d.slots track by $index" ng-class="{'diags-date-day-item':true,'selected':dateSlotSelected(range),'col-xs-6':true,'col-sm-6':true,'col-md-6':true}">
                <div class="center-block diags-date-day-item-description-wrapper link" on-click-scroll-top ng-click="proceedToPayment(range)">
                    <div class="time-price" ng-bind="drawRange(range)||'1h - 224 €'">
                    </div>
                    <div class="diag-guy" ng-bind="range.name||'Pepe, G'">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>