<div class="row ">
    <div class="col-sm-12 icons-list">
        <div>
            <img class="link" ng-click="diagSelected=diag.dpe" src="img/dpe.jpg" />
            <img class="link" ng-click="diagSelected=diag.dta" src="img/amiante.jpg" />
            <img class="link" ng-click="diagSelected=diag.loiCarrez" src="img/carrez.jpg" />
            <img class="link" ng-click="diagSelected=diag.crep" src="img/plomb.jpg" />
            <img class="link" ng-click="diagSelected=diag.gaz" src="img/gaz.jpg" />
            <img class="link" ng-click="diagSelected=diag.electricity" src="img/electricite.jpg" />
            <img class="link" ng-click="diagSelected=diag.ernt" src="img/ernt.jpg" />
            <img class="link" ng-click="diagSelected=diag.parasitaire" src="img/parasite.jpg" />
        </div>
    </div>
</div>
