<footer class="">
    <div class="container relative">
        <p class="text visible-lg-block">
            <a class="link" ng-click="route(URL.GENERAL_CONDITIONS)">CGU</a> &nbsp;|&nbsp;
            <a class="link" ng-click="route(URL.CGU_LEMONWAY)">CGU Lemonway</a> &nbsp;|&nbsp;
            <a class="link" ng-click="route(URL.LEGAL_MENTIONS)">Mentions légales</a>
        </p>
        <p class="text-center title">
            <span class="title-1">Diagnosti<span class="title-2">cal</span></span>
            <div class="text-center visible-xs-block visible-sm-block visible-md-block hidden-lg">
                <a class="link" ng-click="route(URL.GENERAL_CONDITIONS)">CGU</a> &nbsp;|&nbsp;
                <a class="link" ng-click="route(URL.CGU_LEMONWAY)">CGU Lemonway</a> &nbsp;|&nbsp;
                <a class="link" ng-click="route(URL.LEGAL_MENTIONS)">Mentions légales</a>
            </div>
        </p>
    </div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  window.ga('create', 'UA-83238034-1', 'auto');
  window.ga('send', 'pageview');
</script>