<div class="container">
    <nav class="diags-navbar-2 navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsableMenu1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="nav-title" style="
    font-family: 'Avenir-Medium'!important;
">Diagnostic immobilier dans toute la France</h1>
            </div>
            
            {{>header-booking-fixed-menu}}
            
            <div class="collapse navbar-collapse" id="collapsableMenu1">
                {{>booking-header-nav}}
            </div>
        </div>
    </nav>

</div>
