<footer class="">
    <div class="container relative">
        <div class="row padding-none">
            <div class="col-lg-4 margin-top-two visible-lg-block">
                <img class="footer__lemonway-icons center-block" src="/img/diagnostical-lemonway-payment.png" />
            </div>
            <div class="col-lg-4">
                <p class="text-center title">
                    <span class="title-1">Diagnosti<span class="title-2">cal</span></span>
                    <div class="text-center visible-xs-block visible-sm-block visible-md-block hidden-lg">
                        <a class="link" on-click-scroll-top ng-click="route(URL.GENERAL_CONDITIONS)">CGU</a> &nbsp;|&nbsp;
                        <a class="link" on-click-scroll-top ng-click="route(URL.CGU_LEMONWAY)">CGU Lemonway</a> &nbsp;|&nbsp;
                        <a class="link" on-click-scroll-top ng-click="route(URL.LEGAL_MENTIONS)">Mentions légales</a>
                    </div>
                </p>
            </div>
            <div class="col-lg-4">
                <p class="text visible-lg-block">
                    <a class="link" on-click-scroll-top ng-click="route(URL.GENERAL_CONDITIONS)">CGU</a> &nbsp;|&nbsp;
                    <a class="link" on-click-scroll-top ng-click="route(URL.CGU_LEMONWAY)">CGU Lemonway</a> &nbsp;|&nbsp;
                    <a class="link" on-click-scroll-top ng-click="route(URL.LEGAL_MENTIONS)">Mentions légales</a>
                </p>
            </div>
            <div class="col-lg-4 visible-xs-block visible-sm-block visible-md-block hidden-lg margin-top-half margin-bottom-one">
                <img class="footer__lemonway-icons center-block" src="/img/diagnostical-lemonway-payment.png" />
            </div>
        </div>
    </div>
</footer>
