<div class="visible-xs-block header-fixed-menu">
    <a ng-click="route('/')" class="link nav__menu-fixed__rdv-btn diag-button diag-btn-success visible-xs-block bold">Prix et RDV en ligne</a>
    <a class="diag-button diag-btn-info visible-xs-block nowrap phone-btn">
        <span class="avenir-book txt-md white nowrap inline" dynamic-block code="BOOKING_HOME_BG_TEXT_2">{{{text.BOOKING_HOME_BG_TEXT_2}}}</span>
        <span class="xxs-flex avenir-black txt-xl white middle nowrap inline">&nbsp;01 79 72 82 33</span>
    </a>
</div>
