<div class="visible-xs-block header-fixed-menu">
    <a ng-click="route('/')" class="link diag-button diag-btn-success visible-xs-block">Devis et RDV en ligne</a>
    <div class="diags-pill-info visible-xs-block margin-top-half">
        <span class="avenir-book txt-md white" dynamic-block code="BOOKING_HOME_BG_TEXT_2">
                        {{{text.BOOKING_HOME_BG_TEXT_2}}}
                    </span>
        <span class="xxs-flex avenir-black txt-xl white middle">
                <!--dynamic-block code="BOOKING_HOME_BG_TEXT_PHONE"-->
                 01 79 72 82 33
                <!--text.BOOKING_HOME_BG_TEXT_PHONE-->
            </span>
    </div>
</div>
