<!--COMPILE_WITH_HANDLEBARS-->
<ul class="nav navbar-nav navbar-right hidden remove-hidden">



    <li><a ng-click="route(URL.ESPACE_ENTERPRISE)" class="nav-booking-button link diag-button diag-btn-success">Espace Client</a></li>

    <li ng-show="routeIs('')"><a ng-click="route(URL.ESPACE_DIAG)" class="nav-booking-button link diag-button diag-btn-info">Espace&nbsp;Diagnostiqueur</a></li>

    <li ng-show="!routeIs('')"  class="visible-sm-block visible-md-block visible-lg-block">
        <a ng-href="tel:{[{'0179728233'}]}" class="diag-button diag-btn-info nowrap phone-btn">
            <span class="avenir-book txt-md white nowrap inline" dynamic-block code="BOOKING_HOME_BG_TEXT_2">{{{text.BOOKING_HOME_BG_TEXT_2}}}</span>
            <span class="xxs-flex avenir-black txt-xl white middle nowrap inline">&nbsp;01 79 72 82 33</span>
        </a>
    </li>



</ul>
