<!--HEADER-->
<div class="container-fluid" ng-controller="header-controller">
    <div class="row-fluid" ng-cloak ng-show="!isBooking()">
        {{>app-header}}
    </div>
    <div class="row-fluid" ng-cloak ng-show="isBooking()">
        <div class="hidden remove-hidden" ng-cloak ng-show="__header==1">
            {{>booking-header}}
        </div>
        <div class="hidden remove-hidden" ng-cloak ng-show="__header==2">
            {{>booking-header-2}}
        </div>
    </div>
</div>
<!--NOTIFY-->
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span-12 relative">
            <my-alerts add="notify" class="notify " directive="notify" stacked="false" settings="{clickDismissable:false,scroll:true}"></my-alerts>
        </div>
    </div>
</div>
 