<meta name="description" content="Prenez rendez-vous en ligne avec un diagnostiqueur certifié et indépendant, dans votre département, à un prix bas. 1ère place de marché du diagnostic en France">
<meta name="keywords" content="diagnostics immobiliers, diagnostical, amiante, plomb, carrez" />

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Access-Control-Allow-Origin" content="*" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no shrink-to-fit=no" />
<meta name="theme-color" content="#00acfb" />
<meta property="og:title" content="Diagnostical : Diagnostics immobiliers">
<meta property="og:site_name" content="Diagnostical">
<meta property="og:url" content="www.diagnostical.fr">
<meta property="og:description" content="Prenez rendez-vous en ligne avec un diagnostiqueur certifié et indépendant, dans votre département, à un prix bas. 1ère place de marché du diagnostic en France">
<meta property="og:type" content="website">
<meta property="og:image" content="https://www.diagnostical.fr/img/background-share.png">

<meta http-equiv="Cache-control" content="public">
