<!--BUNDLE_JS_1-->


<!--COMMON-->
<script type="text/javascript" src="/js/common/common-helpers.js"></script>

<!--COMMON-DIAGS-->
<script src="/js/common/diagnostical-helpers.js"></script>

<!-- BOOTSTRAPER -->
<script src="/js/config/app-bootstrap.js"></script>

<!-- APPLICATION MODULES -->
<script src="/js/config/app-modules.js"></script>

<!-- CONSTANTS -->
<script type="text/javascript">
    angular.module('remote-config-constant', []).constant('remoteConfig', {
        "PROD": {{PROD}}
    });
</script>

<!-- CONFIG -->
<script src="/js/config/routes-config.js"></script>
<script src="/js/config/change-curly-braces-config.js"></script>
<script src="/js/config/calendar-config.js"></script>

<!-- RUN -->
<script src="/js/run/common-run.js"></script>
<script src="/js/run/api/user-api.js"></script>
<script src="/js/run/api/orders-api.js"></script>
<script src="/js/run/api/uploads-api.js"></script>
<script src="/js/run/resume-booking-hook.js"></script>
<script src="/js/run/notifications-bootstrap.js"></script>

<!-- SERVICES -->

<!-- SERVICES COMMON-->
<script src="/js/services/snippets-service.js"></script>

<!-- SERVICES DIAGNOSTICAL-->
<script src="/js/services/common-services.js"></script>

<script src="/js/services/login-service.js"></script>
<script src="/js/services/diagnostical-routes-service.js"></script>
<script src="/js/services/srv.crud.js"></script>
<script src="/js/services/srv.diags-prices.js"></script>
<script src="/js/services/rdv-slot-service.js"></script>
<script src="/js/services/lemonway-api.js"></script>
<script src="/js/services/payment-api.js"></script>
<script src="/js/services/backend-api.js"></script>
<script src="/js/services/app-text.js"></script>
<script src="/js/services/app-router.js"></script>

<script src="/js/directives/remove-hidden.js"></script>
<script src="/js/services/app-settings-service.js"></script>
<script src="/js/services/local-data.js"></script>
<script src="/js/services/backend/server-service.js"></script>
<script src="/js/services/backend-api-helper.js"></script>
<script src="/js/services/local-session.js"></script>
<script src="/js/services/api-error.js"></script>
<script src="/js/services/elements/select-helper.js"></script>
<script src="/js/services/order/order-booking.js"></script>
<script src="/js/services/order/order-helper.js"></script>
<script src="/js/services/order/order-payment-form.js"></script>
<script src="/js/services/order/order-quote-form.js"></script>
<script src="/js/services/order/order-price.js"></script>
<script src="/js/services/order/order-query-params.js"></script>
<script src="/js/services/order/order-question.js"></script>
<script src="/js/services/order/order-rdv.js"></script>
<script src="/js/services/backend/gitlab-service.js"></script>
<script src="/js/services/analytics-service.js"></script>

<!-- DIRECTIVES -->
<script src="/js/directives/common-directives.js"></script>

<script src="/js/directives/card-number-mask.js"></script>
<script src="/js/directives/checkbox.js"></script>
<script src="/js/directives/awesome-complete.js"></script>
<script src="/js/directives/toggle.js"></script>
<script src="/js/directives/ng-pikaday.js"></script>
<script src="/js/directives/dynamic-html.js"></script>
<script src="/js/directives/dynamic-block.js"></script>
<script src="/js/directives/range.js"></script>
<script src="/js/directives/logs-list-directive.js"></script>
<script src="/js/directives/on-click-scroll-top.js"></script>
<script src="/js/directives/better-select.js"></script>

<script src="/js/directives/tables/diag-dashboard-tables.js"></script>
<script src="/js/directives/tables/diag-accounts-table.js"></script>
<script src="/js/directives/tables/diag-account-balance-table.js"></script>
<script src="/js/directives/tables/diag-exceptions-table.js"></script>
<script src="/js/directives/tables/client-tables.js"></script>
<script src="/js/directives/tables/notifications-table.js"></script>
<script src="/js/directives/tables/orders-table.js"></script>
<script src="/js/directives/tables/admins-table.js"></script>
<script src="/js/directives/tables/coupons-table.js"></script>
<script src="/js/directives/tables/report-monthly-revenue-coupons-table.js"></script>


<!-- FILTERS -->
<script src="/js/filters/no-fraction-filter.js"></script>

<!-- CONTROLLERS -->
<script src="/js/controllers/diag-account-controller.js"></script>
<script src="/js/controllers/diag-exception-controller.js"></script>
<script src="/js/controllers/notification-controller.js"></script>
<script src="/js/controllers/login-controller.js"></script>
<script src="/js/controllers/log-controller.js"></script>
<script src="/js/controllers/order-controller.js"></script>
<script src="/js/controllers/text-controller.js"></script>
<script src="/js/controllers/termites-tool-controller.js"></script>
<script src="/js/controllers/settings/settings-controller.js"></script>
<script src="/js/controllers/settings/settings-deploy-controller.js"></script>
<script src="/js/controllers/settings/settings-invoice.js"></script>
<script src="/js/controllers/settings/settings-password-reset.js"></script>
<script src="/js/controllers/settings/settings-htmls.js"></script>
<script src="/js/controllers/settings/settings-pages.js"></script>
<script src="/js/controllers/contact-form-controller.js"></script>
<script src="/js/controllers/header-controller.js"></script>
<script src="/js/controllers/order-confirmation-screen-ctrl.js"></script>
<script src="/js/controllers/database-files-controller.js"></script>
<script src="/js/controllers/client-area-controller.js"></script>
<script src="/js/controllers/booking/booking-controller.js"></script>
<script src="/js/controllers/booking/payment-controller.js"></script>
<script src="/js/controllers/booking/rdv-controller.js"></script>
<script src="/js/controllers/booking/cards-choice-controller.js"></script>
<script src="/js/controllers/admin-dashboard.js"></script>
<script src="/js/controllers/global-calendar-controller.js"></script>
<script src="/js/controllers/user-controller.js"></script>
<script src="/js/controllers/coupon-controller.js"></script>

<!-- OTHERS -->



<!--/BUNDLE_JS_1-->

{{#if PROD}}
<!--PROD <script src="/app.bundle.js"></script>-->{{else}}
<!--NON-PROD-->{{/if}}
