<!--BUNDLE_JS_1-->
<!--COMMON-->
<script type="text/javascript" src="/js/common/fs.env.js"></script>
<script type="text/javascript" src="/js/common/fs.utils.js"></script>

<!--COMMON-DIAGS-->
<script src="/js/app.diags-utils.js"></script>

<!-- BOOTSTRAPER -->
<script src="/js/config/app-bootstrap.js"></script>

<!-- CONFIG -->
<script src="/js/config/routes-config.js"></script>
<script src="/js/config/change-curly-braces-config.js"></script>

<!-- RUN -->
<script src="/js/app.run.js"></script>
<script src="/js/run/api/user-api.js"></script>
<script src="/js/run/api/orders-api.js"></script>
<script src="/js/run/resume-booking-hook.js"></script>

<!-- SERVICES -->

<!-- SERVICES COMMON-->
<script src="/js/services/snippets-service.js"></script>

<!-- SERVICES DIAGNOSTICAL-->
<script src="/js/services/diagnostical-routes-service.js"></script>
<script src="/js/app.services.js"></script>
<script src="/js/services/srv.crud.js"></script>
<script src="/js/services/srv.diags-prices.js"></script>
<script src="/js/services/rdv-slot-service.js"></script>
<script src="/js/services/lemonway-api.js"></script>
<script src="/js/services/payment-api.js"></script>
<script src="/js/services/backend-api.js"></script>
<script src="/js/services/app-text.js"></script>
<script src="/js/services/app-router.js"></script>
<script src="/js/app.directives.js"></script>
<script src="/js/directives/remove-hidden.js"></script>
<script src="/js/services/app-settings-service.js"></script>
<script src="/js/services/local-data.js"></script>
<script src="/js/services/backend-api-helper.js"></script>
<script src="/js/services/local-session.js"></script>
<script src="/js/services/api-error.js"></script>
<script src="/js/services/elements/select-helper.js"></script>
<script src="/js/services/order/order-booking.js"></script>
<script src="/js/services/order/order-helper.js"></script>
<script src="/js/services/order/order-payment-form.js"></script>
<script src="/js/services/order/order-quote-form.js"></script>
<script src="/js/services/order/order-price.js"></script>
<script src="/js/services/order/order-query-params.js"></script>
<script src="/js/services/order/order-question.js"></script>
<script src="/js/services/order/order-rdv.js"></script>

<!-- DIRECTIVES -->
<script src="/js/directives/card-number-mask.js"></script>
<script src="/js/directives/checkbox.js"></script>
<script src="/js/directives/awesome-complete.js"></script>
<script src="/js/directives/toggle.js"></script>
<script src="/js/directives/ng-pikaday.js"></script>
<script src="/js/directives/dynamic-html.js"></script>
<script src="/js/directives/dynamic-block.js"></script>
<script src="/js/directives/range.js"></script>
<script src="/js/directives/logs-list-directive.js"></script>
<script src="/js/directives/on-click-scroll-top.js"></script>

<!-- FILTERS -->
<script src="/js/filters/no-fraction-filter.js"></script>

<!-- CONTROLLERS -->
<script src="/js/controllers/logs-controller.js"></script>
<script type="text/javascript" src="/js/diags/ctrls/diags_ctrl_settings.js"></script>
<script type="text/javascript" src="/js/controllers/settings-invoice.js"></script>
<script type="text/javascript" src="/js/controllers/settings-password-reset.js"></script>
<script type="text/javascript" src="/js/controllers/settings-htmls.js"></script>
<script type="text/javascript" src="/js/diags/ctrls/diags_ctrl_contact_form.js"></script>
<script type="text/javascript" src="/js/diags/ctrls/diags_ctrl_tools.js"></script>
<script src="/js/controllers/header-controller.js"></script>
<script type="text/javascript" src="/js/controllers/order-confirmation-screen-ctrl.js"></script>
<script type="text/javascript" src="/js/controllers/settings-pages.js"></script>
<script type="text/javascript" src="/js/controllers/database-files-controller.js"></script>
<script type="text/javascript" src="/js/controllers/client-area-controller.js"></script>

<script type="text/javascript" src="/js/controllers/booking/booking-controller.js"></script>
<script type="text/javascript" src="/js/controllers/booking/payment-controller.js"></script>
<script type="text/javascript" src="/js/controllers/booking/rdv-controller.js"></script>
<script type="text/javascript" src="/js/controllers/booking/cards-choice-controller.js"></script>
<!-- OTHERS -->
<script src="/js/app.run-calendar.js"></script>
<script src="/js/app.admin.js"></script>
<script src="/js/app.text.js"></script>
<script src="/js/app.tools.js"></script>
<script src="/js/app.calendar.js"></script>
<script src="/js/app.notifications.js"></script>
<script src="/js/app.login.js"></script>
<script src="/js/app.user.js"></script>
<script src="/js/app.diag.js"></script>
<script src="/js/app.diag.inscription.js"></script>
<script src="/js/app.diag.complete.js"></script>
<script src="/js/app.diag.balance.js"></script>
<script src="/js/app.client.js"></script>
<script src="/js/app.diag.js"></script>
<script src="/js/app.order.js"></script>
<script src="/js/app.client.payments.js"></script>
<!--/BUNDLE_JS_1-->

{{#if PROD}}
<!--PROD <script src="/app.bundle.js"></script>-->{{else}}
<!--NON-PROD-->{{/if}}


