<!DOCTYPE html>

 {{#if iframe}}
        <html class="no-js" style="
    overflow: hidden;
">
    {{else}}
        <html class="no-js" >
    {{/if}}




<head>
    <script type="text/javascript">
        window.__bootTimerStart = Date.now();
    </script>
    <!-- PREPROD LOGIN-->
    <script src="/js/vendor/vendor-check-preprod-session.js"></script>
    <!--TITLE-->
    <title>Diagnostical : Diagnostics immobiliers</title>
    {{>metas}} 
    
    {{#if iframe}}
        {{>links iframe="1"}}
    {{else}}
        {{>links}}
    {{/if}}
    <script src="/js/vendor/vendor.selectivizr-min.js"></script>
    <base id="baseHref" href="/">
</head>

<body class="diags-style modal-scrollfix">

{{#if iframe}}
    {{>booking-iframe}}
{{else}}
    <!-- TEXT EDITOR -->
    <div ng-if="userIs('admin')" ng-show="htmlEditItem.show" ng-include="'views/common/partials/html-edit-ck-editor.html'">
    </div>

    <!-- GLOBAL LAYOUT -->
    <div id="wrapper">

        {{>header}}
        <!--CONTENT-->
        <div class="container-fluid">
            <div class="row-fluid diags-content">
                <div ng-view></div>
            </div>
        </div>

    </div>
   
{{/if}}