<div class="panel center-block question panel-info">
    <div class="panel-heading">
        <h4 class="panel-title">Maison ou Appartement</h4>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon no-bg borderless">
                <input type="radio" ng-model="model.house" ng-value="true" ng-click="down()">
            </span>
            <input type="text" disabled class="check-label" value="Maison" aria-label="...">
        </div>
        <div class="input-group">
            <span class="input-group-addon no-bg borderless">
                <input type="radio" ng-value="false" ng-model="model.house" ng-click="down()">
            </span>
            <input type="text" disabled class="check-label" value="Appartement" aria-label="...">
        </div>
    </div>
    <div class="panel-footer">
<button class="btn btn-success center-block text-center" ng-click="down()"
ng-disabled="model.house===undefined"
> Continuer </button>
    </div>
</div>
