<div class="form-group relative">
    <label>Start Date</label>
    <input ng-disabled="state.working() || is(['client','diag'])" type="text" class="form-control focus-1" datetime-picker="dd/MM/yyyy HH:mm " ng-model="item.diagStart" min-date="datepicker.minDate" max-date="datepicker.maxDate" init-date="item.diagStart" ng-init="start.opened=false" is-open="start.opened" date-disabled="false" close-text="Close" />
    <span class="input-group-btn">
<button 
ng-disabled="state.working() || is(['client','diag'])"
type="button" class="btn btn-default" ng-click="start.opened = !start.opened"><i class="glyphicon glyphicon-calendar"></i></button>
</span>
</div>
<div class="form-group relative">
    <label>End Date</label>
    <input ng-disabled="state.working() || is(['client','diag'])" type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy HH:mm " ng-model="item.diagEnd" min-date="datepicker.minDate" max-date="datepicker.maxDate" init-date="item.diagStart" ng-init="end.opened=false" is-open="end.opened" date-disabled="false" close-text="Close" />
    <span class="input-group-btn">
<button 
ng-disabled="state.working() || is(['client','diag'])"
type="button" class="btn btn-default" ng-click="end.opened = !end.opened"><i class="glyphicon glyphicon-calendar"></i></button>
</span>
</div>
