<div class="form-group">
    <label>Diags</label>
    <div ng-repeat="(key,x) in diags" class="input-group" ng-show="!x.disabled" ng-if="userIs(['admin']) || !item._id || (item._id && item.diags[x.name]==true)">
        <span class="input-group-addon diags-checkbox">
                    <input 
ng-disabled="state.working() || is(['client','diag'])"
                     type="checkbox" ng-model="item.diags[x.name]" ng-value="true">
                </span>
        <input type="text" disabled class="check-label" value="{{x.label}}" aria-label="...">
    </div>
</div>
