<script type="text/javascript">
    /*global $*/
    if (typeof window.tinymce == 'undefined') {
        $.getScript("https://cdn.tinymce.com/4/tinymce.min.js");
    }
</script>

<div class="row">
    <div class="col-sm-12 padding-none">
        <ol class="breadcrumb">
            <li><a class="link" ng-click="route('dashboard')">Dashboard</a></li>
            <li><a class="link" ng-click="route('settings')">Settings</a></li>
            <li>Invoice</li>
        </ol>
    </div>
</div>
<div class="container" ng-controller="ctrl-settings-invoice">
    <modal-confirm open="confirm"></modal-confirm>
    <div class="row diags-row margin-bottom-two">
        <div class="col-sm-12 col-md-12">

            <div class="row margin-top-one">
                <div id="editor" class="diags-rich-text-editor">
                    <p></p>
                </div>
            </div>
            <div class="row margin-top-one">
                <label>Variables</label>
            </div>
            <div class="row margin-top-one">
                <ul>
                    <li ng-repeat="(k,v) in variables">
                        <span ng-bind="k" class="fnt-9"></span> :
                        <span ng-bind="v" class="fnt-9"></span>
                    </li>
                </ul>

            </div>

            <div class="row margin-top-one">
                <label>INFO: French invoice requirements</label>
                <p>
                    Invoices must contain at least the following basic information: 
                    <br>
                    Date of issuance<br>
                    A unique, sequential number<br>
                    VAT number of the supplier<br>
                    Full address of the supplier and customer<br>
                    Full description of the goods or services provided<br>
                    Details of quantities of goods, if applicable Unit prices, if applicable A date of the supply if different from the invoice date<br>
                    
                    The net, taxable value of the supply<br>
                    The VAT rate(s) applied, and the amount of VAT broken out by rate<br>
                    The gross, total amountof the invoice
                </p>
            </div>


        </div>
    </div>
    <div class="row diags-row margin-bottom-two">
        <div class="col-sm-12">
            <button ng-disabled="state.working()" class="btn diags-btn bg-azure-radiance" ng-click="save()">Save</button>
            <button ng-disabled="state.working()" class="btn diags-btn bg-azure-radiance" ng-click="preview()">Preview</button>
        </div>
    </div>
</div>
